
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 169rem;
}.payment-sucess-URc {
  width: 100%;
  height: 80rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .rectangle-9-m3L {
    background-color: #d6c2eb;
    width: 20.9rem;
    height: 93.6rem;
    position: absolute;
    left: 0;
    top: 0;
  }
  .transfree-3Fk {
    white-space: nowrap;
    height: 3.1rem;
    text-align: center;
    font-weight: 800;
    font-style: italic;
    color: #60269e;
    line-height: 1.2102272034;
    font-family: Inter, 'Source Sans Pro';
    width: 10.4rem;
    position: absolute;
    left: 5.2rem;
    top: 2.7rem;
    font-size: 2rem;
  }
  .group-3467-Piv {
    position: absolute;
    left: 1.7983rem;
    top: 9.5705rem;
    display: flex;
    align-items: flex-start;
    width: 15.5017rem;
    height: 2.4295rem;

    .home-1-vsG {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 1.8835rem;
      width: 1.9182rem;
      height: 2.2017rem;
      object-fit: cover;
    }
    .dashboard-Amc {
      font-weight: 800;
      line-height: 1.2102272034;
      color: #60269e;
      margin-top: 0.0295rem;
      text-align: center;
      font-size: 2rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .group-3468-dfC {
    display: flex;
    align-items: center;
    width: 17.9611rem;
    height: 3.7842rem;
    position: absolute;
    left: 1.1389rem;
    top: 13.2859rem;

    .transaction-1-iRk {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 1.2424rem;
      width: 3.6635rem;
      height: 3.7842rem;
      object-fit: cover;
    }
    .transactions-RzN {
      line-height: 1.2102272034;
      color: #60269e;
      font-family: Inter, 'Source Sans Pro';
      text-align: center;
      font-size: 2rem;
      font-weight: 800;
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.0586rem;
    }
  }
  .group-3469-M9G {
    left: 1.7983rem;
    top: 18.6rem;
    display: flex;
    align-items: flex-start;
    width: 13.3017rem;
    height: 2.5rem;
    position: absolute;

    .send-1-Nq4 {
      margin: 0.053rem 1.824rem 0rem 0rem;
      width: 1.9781rem;
      height: 2.2705rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .transfer-3wC {
      line-height: 1.2102272034;
      color: #60269e;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 2rem;
      font-weight: 800;
    }
  }
  .notification-xHU {
    width: 11.7461rem;
    left: 6rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.2102272034;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.4769rem;
    position: absolute;
    top: 23.1rem;
    color: #60269e;
  }
  .group-3472-1QA {
    top: 32.0728rem;
    display: flex;
    align-items: flex-end;
    width: 11.7111rem;
    height: 2.4767rem;
    position: absolute;
    left: 1.7983rem;

    .logout-1-tyk {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 1.777rem 0.003rem 0rem;
      width: 1.9781rem;
      height: 2.2705rem;
    }
    .log-out-8NJ {
      line-height: 1.2102272034;
      color: #60269e;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 2rem;
      font-weight: 800;
    }
  }
  .group-3471-dZx {
    top: 27.4rem;
    display: flex;
    align-items: center;
    width: 11.7017rem;
    height: 2.5rem;
    position: absolute;
    left: 1.7983rem;

    .settings-1-nrA {
      margin: 0.096rem 1.884rem 0rem 0rem;
      width: 1.9182rem;
      height: 2.2017rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .setting-q3k {
      color: #60269e;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 2rem;
      font-weight: 800;
      line-height: 1.2102272034;
    }
  }
  .layersfill-jev {
    top: 1.65rem;
    object-fit: contain;
    vertical-align: top;
    width: 3rem;
    height: 3.8845rem;
    position: absolute;
    left: 1.85rem;
  }
  .rectangle-10-pgN {
    height: 14.1rem;
    position: absolute;
    left: 21.7rem;
    top: 0;
    object-fit: contain;
    vertical-align: top;
    border-radius: 1rem;
    width: 221.7rem;
  }
  .rectangle-16-XUJ {
    vertical-align: top;
    border-radius: 1rem;
    width: 42rem;
    height: 24.4rem;
    position: absolute;
    left: 125.7rem;
    top: 31.1rem;
    object-fit: contain;
  }
  .dashboard-1eN {
    left: 23.4rem;
    line-height: 1.2102272246;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 20.6rem;
    height: 3.3rem;
    position: absolute;
    top: 1.3rem;
    text-align: center;
    font-size: 3.6rem;
    font-weight: 800;
    color: #60269e;
  }
  .rp-350000-qNW {
    font-weight: 800;
    line-height: 1.2102272511;
    color: #60269e;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    text-align: center;
    left: 129.5rem;
    top: 47.1rem;
    font-size: 2.4rem;
    width: 15.8rem;
    height: 2.6rem;
  }
  .group-3481-ge2 {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:2:996');
    width: 40.5rem;
    height: 19.8888rem;
    position: absolute;
    top: 8.4rem;
    background-size: cover;
    box-sizing: border-box;
    padding: 0.901rem 0rem 1.409rem 0rem;
    left: 21.8rem;
    border-radius: 1rem;

    .balance-PRx {
      font-family: Inter, 'Source Sans Pro';
      line-height: 1.2102272034;
      width: 100%;
      text-align: center;
      font-size: 3rem;
      font-weight: 800;
      color: #60269e;
      white-space: nowrap;
      margin-bottom: 3.7994rem;
    }
    .rp-12345678-1CS {
      width: 100%;
      text-align: center;
      font-size: 3.6rem;
      font-weight: 800;
      line-height: 1.2102272246;
      color: #60269e;
      margin-bottom: 3.9714rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .wallet-id-87654321-dUi {
      white-space: nowrap;
      width: 100%;
      text-align: center;
      font-size: 2rem;
      font-weight: 800;
      line-height: 1.2102272034;
      color: #60269e;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .group-3479-wti {
    width: 100.2026rem;
    height: 25.1383rem;
    position: absolute;
    left: 20.1rem;
    top: 28.5rem;

    .recent-transactions-aRt {
      font-family: Inter, 'Source Sans Pro';
      margin-bottom: 3.3rem;
      width: 100%;
      font-size: 3rem;
      font-weight: 800;
      text-align: center;
      line-height: 1.2102272034;
      color: #d7c3ec;
      white-space: nowrap;
    }
    .auto-group-7fzk-3qG {
      margin: 0rem 6.983rem 0.951rem 6.1rem;
      width: calc(100% - 13.083rem);
      display: flex;
      align-items: flex-start;

      .name-iwQ {
        text-align: center;
        font-size: 1.6rem;
        font-weight: 300;
        color: #60269e;
        flex-shrink: 0;
        margin: 0.1rem 33.182rem 0rem 0rem;
        line-height: 1.2102272511;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .date-ByQ {
        color: #60269e;
        white-space: nowrap;
        text-align: center;
        line-height: 1.2102272511;
        font-weight: 300;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 19.8654rem;
        font-size: 1.6rem;
      }
      .status-2z2 {
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.2102272511;
        color: #60269e;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 11.558rem;
        font-weight: 300;
        font-family: Inter, 'Source Sans Pro';
      }
      .amount-XA6 {
        font-weight: 300;
        line-height: 1.2102272511;
        color: #60269e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.6rem;
      }
    }
    .auto-group-eerg-EKQ {
      display: flex;
      align-items: center;
      margin: 0rem 0rem 0.525rem 7.241rem;

      .dhaifan-satriaji-id-80972345-HHg {
        line-height: 1.2102272034;
        color: #d7c3ec;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 20.3629rem;
        max-width: 17.0962rem;
        font-size: 2rem;
        font-weight: 400;

        .dhaifan-satriaji-id-80972345-HHg-sub-0 {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5127840042;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
        }
        .dhaifan-satriaji-id-80972345-HHg-sub-1 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 2.0170453389;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .mar-17-2022-Va6 {
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 9.632rem 0.525rem 0rem;
        text-align: center;
        font-size: 2rem;
        line-height: 1.2102272034;
        color: #d7c3ec;
        font-weight: 400;
        white-space: nowrap;
      }
      .receive-Lqc {
        text-align: center;
        font-weight: 400;
        color: #2cd03c;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 8.307rem 0.525rem 0rem;
        font-size: 2rem;
        line-height: 1.2102272034;
        font-family: Inter, 'Source Sans Pro';
      }
      .rp-50000-B5Y {
        flex-shrink: 0;
        margin-bottom: 0.5254rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2102272034;
        color: #d7c3ec;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-kayy-U4e {
      display: flex;
      align-items: center;
      margin: 0rem 0rem 0.444rem 7.241rem;

      .ramadhan-wahyu-id-25023897-xVc {
        font-weight: 400;
        line-height: 1.2102272034;
        display: flex;
        align-items: baseline;
        flex-shrink: 0;
        margin-right: 17.1123rem;
        font-size: 2rem;
        white-space: nowrap;
        color: #d7c3ec;
        font-family: Inter, 'Source Sans Pro';

        .ramadhan-wahyu-id-25023897-xVc-sub-0 {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5127840042;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
        }
        .ramadhan-wahyu-id-25023897-xVc-sub-1 {
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 2.200413097;
          color: #d7c3ec;
        }
      }
      .mar-15-2022-EdU {
        text-align: center;
        font-weight: 400;
        color: #d7c3ec;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 9.271rem 0.525rem 0rem;
        font-size: 2rem;
        line-height: 1.2102272034;
      }
      .receive-J7Y {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        text-align: center;
        font-weight: 400;
        line-height: 1.2102272034;
        flex-shrink: 0;
        margin: 0rem 8.307rem 0.525rem 0rem;
        font-size: 2rem;
        color: #2cd03d;
      }
      .rp-100000-wRQ {
        font-weight: 400;
        line-height: 1.2102272034;
        color: #d7c3ec;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.5254rem;
        font-size: 2rem;
      }
    }
    .auto-group-6ckk-3US {
      margin: 0rem 0rem 0.559rem 7.2rem;
      display: flex;
      align-items: center;

      .alifia-ayu-masita-id-34508923-X8i {
        color: #d7c3ec;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        align-items: baseline;
        margin-right: 21.1rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2102272034;
        display: flex;
        flex-shrink: 0;

        .alifia-ayu-masita-id-34508923-X8i-sub-0 {
          line-height: 1.5127840042;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 600;
        }
        .alifia-ayu-masita-id-34508923-X8i-sub-1 {
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 2.200413097;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .mar-13-2022-kJJ {
        color: #d7c3ec;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        margin: 0rem 9.271rem 0.485rem 0rem;
        line-height: 1.2102272034;
      }
      .payment-CRC {
        font-size: 2rem;
        line-height: 1.2102272034;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 7.344rem 0.499rem 0rem;
        text-align: center;
        font-weight: 400;
        color: #d91c1c;
      }
      .rp-120000-GZU {
        margin-bottom: 0.4854rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2102272034;
        color: #d7c3ec;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-ygaw-xSJ {
      align-items: center;
      margin: 0rem 0rem 0.525rem 7.241rem;
      display: flex;

      .ilham-fachlevi-id-90384634-eK8 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2102272034;
        color: #d7c3ec;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        margin-right: 21.2057rem;
        align-items: baseline;
        flex-shrink: 0;

        .ilham-fachlevi-id-90384634-eK8-sub-0 {
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5127840042;
          color: #d7c3ec;
        }
        .ilham-fachlevi-id-90384634-eK8-sub-1 {
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 2.200413097;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .mar-10-2022-EaA {
        text-align: center;
        font-weight: 400;
        line-height: 1.2102272034;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 9.291rem 0.525rem 0rem;
        font-size: 2rem;
        color: #d7c3ec;
      }
      .o-66a {
        font-size: 2rem;
        color: #2cd03d;
        white-space: nowrap;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 8.287rem 0.525rem 0rem;
        text-align: center;
        font-weight: 400;
        line-height: 1.2102272034;
      }
      .rp-70000-vbQ {
        flex-shrink: 0;
        margin-bottom: 0.5254rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2102272034;
        color: #d7c3ec;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-umbx-pRt {
      margin-left: 7.2408rem;
      display: flex;
      align-items: center;

      .hedya-tiesyapana-id-62094756-tge {
        margin-right: 16.3899rem;
        color: #d7c3ec;
        white-space: nowrap;
        align-items: baseline;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2102272034;
        font-family: Inter, 'Source Sans Pro';
        display: flex;

        .hedya-tiesyapana-id-62094756-tge-sub-0 {
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5127840042;
        }
        .hedya-tiesyapana-id-62094756-tge-sub-1 {
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 2.200413097;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .mar-09-2022-QS2 {
        font-size: 2rem;
        font-weight: 400;
        white-space: nowrap;
        text-align: center;
        line-height: 1.2102272034;
        color: #d7c3ec;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 8.91rem 0.525rem 0rem;
      }
      .payment-ebG {
        margin: 0rem 7.344rem 0.539rem 0rem;
        text-align: center;
        color: #d91c1c;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2102272034;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .rp-200000-vog {
        color: #d7c3ec;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.5254rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2102272034;
      }
    }
  }
  .overview-RkS {
    font-size: 3rem;
    color: #60269e;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.7rem;
    top: 31.8rem;
    left: 126.7197rem;
    text-align: center;
    font-weight: 800;
    line-height: 1.2102272034;
    width: 14.8rem;
    position: absolute;
  }
  .group-3483-eNJ {
    width: 41.9541rem;
    height: 21.4894rem;
    position: absolute;
    left: 125.7rem;
    top: 57.2rem;
    border-radius: 1rem;

    .group-3483-Yia {
      background-image: url('REPLACE_IMAGE:2:1029');
      border-radius: 1rem;
      padding: 1.3rem 0.6rem 1.218rem 0.6rem;
      height: 100%;
      background-position: center;
      flex-direction: column;
      background-size: cover;
      background-repeat: no-repeat;
      box-sizing: border-box;
      width: 100%;
      display: flex;

      .have-something-to-pay-bRx {
        width: 100%;
        line-height: 1.2102272034;
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 0.9852rem;
        text-align: center;
        font-size: 3rem;
        font-weight: 800;
        color: #60269e;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .use-your-qr-to-pay-with-transfree-GHC {
        line-height: 1.2102272034;
        color: #60269e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 5.168rem 0.274rem;
        font-size: 2rem;
        font-weight: 600;
      }
      .group-3473-vsY {
        line-height: 1.2102272034;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:2:1032');
        border-radius: 1rem;
        margin-left: 1.7742rem;
        width: 19.2814rem;
        font-size: 2rem;
        color: #60269e;
        white-space: nowrap;
        height: 4.9735rem;
        font-weight: 500;
        justify-content: center;
        background-size: cover;
        flex-shrink: 0;
        text-align: center;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        align-items: center;
        background-position: center;
      }
    }
  }
  .income-QZk {
    font-weight: 600;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    left: 131.6rem;
    text-align: center;
    font-size: 3.2rem;
    top: 50.2rem;
    line-height: 1.2102272511;
    color: #5ab267;
    width: 12.1rem;
    height: 3.5rem;
    position: absolute;
  }
  .group-3486-4eJ {
    left: 21.9rem;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:2:1037');
    box-sizing: border-box;
    height: 21.5rem;
    position: absolute;
    background-size: cover;
    border-radius: 1rem;
    padding: 0.7rem 1.2rem 5.904rem 1.2rem;
    width: 101.3rem;
    top: 57.2rem;

    .upcoming-payments-GEa {
      margin-bottom: 2.9rem;
      width: 100%;
      text-align: center;
      color: #60269e;
      white-space: nowrap;
      font-size: 3rem;
      font-weight: 800;
      line-height: 1.2102272034;
      font-family: Inter, 'Source Sans Pro';
    }
    .group-3466-wbc {
      width: calc(100% - 6.6727rem);
      height: 9.6962rem;
      display: flex;
      align-items: center;
      margin: 0rem 3.973rem 0rem 2.7rem;

      .auto-group-8d22-1rN {
        width: 19.5782rem;
        flex-shrink: 0;
        margin: 0.6rem 19.422rem 0rem 0rem;

        .name-sta {
          text-align: center;
          line-height: 1.2102272511;
          white-space: nowrap;
          width: 100%;
          font-size: 1.6rem;
          font-weight: 300;
          color: #60269e;
          font-family: Inter, 'Source Sans Pro';
          margin-bottom: 1.2839rem;
        }
        .spotify-premiuim-id-80238345-mDG {
          line-height: 1.2102272034;
          color: #60269e;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          align-items: baseline;
          font-size: 2rem;
          font-weight: 400;
          margin: 0rem 0rem 1.604rem 1.2rem;

          .spotify-premiuim-id-80238345-mDG-sub-0 {
            font-weight: 600;
            line-height: 1.5127840042;
            color: #60269e;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
          }
          .spotify-premiuim-id-80238345-mDG-sub-1 {
            font-size: 1.1rem;
            font-weight: 400;
            line-height: 2.200413097;
            color: #60269e;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .netflix-id-25397497-rnS {
          margin-left: 1.5rem;
          font-weight: 400;
          line-height: 1.2102272034;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-size: 2rem;
          color: #60269e;
          align-items: baseline;

          .netflix-id-25397497-rnS-sub-0 {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5127840042;
            color: #60269e;
            font-family: Inter, 'Source Sans Pro';
          }
          .netflix-id-25397497-rnS-sub-1 {
            line-height: 1.5127840042;
            color: #60269e;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
          }
          .netflix-id-25397497-rnS-sub-2 {
            font-size: 1.1rem;
            font-weight: 400;
            line-height: 2.200413097;
            color: #60269e;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
      .auto-group-v5k8-8Wz {
        margin: 0.3rem 8.903rem 0.56rem 0rem;
        width: 15.2971rem;
        height: calc(100% - 0.8601rem);
        flex-shrink: 0;

        .date-yGi {
          font-weight: 300;
          line-height: 1.2102272511;
          color: #60269e;
          white-space: nowrap;
          font-size: 1.6rem;
          width: 100%;
          text-align: center;
          font-family: Inter, 'Source Sans Pro';
          margin-bottom: 1.5839rem;
        }
        .mar-30-2022-GWi {
          line-height: 1.2102272034;
          color: #60269e;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2.9639rem;
          width: 100%;
        }
        .mar-30-2022-XhY {
          font-weight: 400;
          line-height: 1.2102272034;
          color: #60269e;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 100%;
          text-align: center;
          font-size: 2rem;
        }
      }
      .auto-group-6mns-eGN {
        flex-shrink: 0;
        margin: 0rem 6.91rem 0.96rem 0rem;
        width: 8.9896rem;

        .status-Lez {
          color: #60269e;
          margin-bottom: 1.8839rem;
          text-align: center;
          font-size: 1.6rem;
          line-height: 1.2102272511;
          width: 100%;
          font-weight: 300;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .pending-bav {
          text-align: center;
          font-size: 2rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2.5639rem;
          width: 100%;
          font-weight: 400;
          line-height: 1.2102272034;
          color: #d98d1c;
        }
        .pending-Hie {
          font-weight: 400;
          line-height: 1.2102272034;
          color: #d98d1c;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 100%;
          text-align: center;
          font-size: 2rem;
        }
      }
      .auto-group-t4b4-mdp {
        margin: 0.6rem 0rem 0.56rem 0rem;
        width: 13.1273rem;
        height: calc(100% - 1.1601rem);
        flex-shrink: 0;

        .amount-qdg {
          font-size: 1.6rem;
          line-height: 1.2102272511;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.6839rem;
          width: 100%;
          text-align: center;
          font-weight: 300;
          color: #60269e;
        }
        .rp-59000-L4e {
          color: #60269e;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2.5639rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2102272034;
        }
        .rp-149000-1An {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2102272034;
          color: #60269e;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 0.2rem;
        }
      }
    }
  }
  .group-3480-eUe {
    width: 43.8483rem;
    height: 19.8888rem;
    position: absolute;
    left: 123.9rem;
    top: 8.6rem;

    .rectangle-13-ttn {
      position: absolute;
      left: 1.8012rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      border-radius: 1rem;
      width: 42.0471rem;
      height: 19.8888rem;
    }
    .dadang-korneto-b2W {
      width: 22.13rem;
      top: 4.9rem;
      text-align: center;
      font-weight: 600;
      line-height: 1.2102272511;
      color: #60269e;
      font-family: Inter, 'Source Sans Pro';
      height: 2.3579rem;
      position: absolute;
      left: 16rem;
      font-size: 2.4rem;
      white-space: nowrap;
    }
    .item-0878923642194-pAA {
      color: #60269e;
      font-family: Inter, 'Source Sans Pro';
      height: 2.3266rem;
      position: absolute;
      left: 16rem;
      top: 12.6rem;
      line-height: 1.2102272034;
      width: 20.3559rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 600;
      white-space: nowrap;
    }
    .profile-rMk {
      text-align: center;
      line-height: 1.2102272034;
      white-space: nowrap;
      width: 15.491rem;
      position: absolute;
      left: 0;
      top: 0.6755rem;
      font-family: Inter, 'Source Sans Pro';
      height: 2.8705rem;
      font-size: 3rem;
      font-weight: 800;
      color: #60269e;
    }
    .group-3478-h7U {
      position: absolute;
      left: 5.4788rem;
      top: 5.1786rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 14.4rem;
      width: 9.3815rem;
      height: 8.7865rem;
    }
    .dangskygmailcom-md8 {
      text-align: center;
      font-size: 2rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.3579rem;
      top: 8.8rem;
      left: 13.4rem;
      font-weight: 400;
      line-height: 1.2102272034;
      color: #60269e;
      width: 28.3785rem;
      position: absolute;
    }
  }
  .increase-Bgr {
    left: 132.6rem;
    top: 37.9rem;
    object-fit: cover;
    vertical-align: top;
    width: 10.2rem;
    height: 8.7rem;
    position: absolute;
  }
  .group-3482-TuG {
    height: 19.9rem;
    position: absolute;
    left: 63.2rem;
    top: 8.6rem;
    width: 60rem;

    .rectangle-12-wpS {
      width: 59.2rem;
      height: 19.9rem;
      position: absolute;
      left: 0.8rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      border-radius: 1rem;
    }
    .product-PAe {
      font-weight: 800;
      font-family: Inter, 'Source Sans Pro';
      width: 14.8603rem;
      position: absolute;
      font-size: 3rem;
      text-align: center;
      line-height: 1.2102272034;
      color: #60269e;
      white-space: nowrap;
      height: 3.4501rem;
      left: 0;
      top: 0.4503rem;
    }
    .top-up-ra2 {
      font-size: 2rem;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      left: 4.4rem;
      top: 16.2rem;
      font-weight: 400;
      line-height: 1.2102272034;
      color: #60269e;
      white-space: nowrap;
      width: 8.3rem;
      height: 2.3rem;
    }
    .phone-tokens-tmc {
      position: absolute;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2102272034;
      font-family: Inter, 'Source Sans Pro';
      width: 18.3127rem;
      height: 2.3001rem;
      left: 14.8603rem;
      top: 16.0611rem;
      text-align: center;
      color: #60269e;
      white-space: nowrap;
    }
    .split-bills-Zcr {
      top: 16.2rem;
      text-align: center;
      font-weight: 400;
      color: #60269e;
      height: 2.3rem;
      left: 34.9rem;
      font-size: 2rem;
      line-height: 1.2102272034;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 9rem;
      position: absolute;
    }
    .image-1-zy4 {
      vertical-align: top;
      width: 9.5316rem;
      height: 8.7944rem;
      position: absolute;
      left: 3.3023rem;
      top: 5.1786rem;
      object-fit: cover;
    }
    .group-3484-JD4 {
      width: 9.1742rem;
      height: 8.7792rem;
      position: absolute;
      left: 19.4385rem;
      top: 5.1786rem;

      .group-3476-NCv {
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        border-radius: 14.4rem;
        width: 9.1742rem;
        height: 8.7792rem;
        position: absolute;
      }
      .mask-group-sfU {
        top: 4.2408rem;
        object-fit: contain;
        vertical-align: top;
        width: 5.3646rem;
        height: 2.3808rem;
        position: absolute;
        left: 0.0778rem;
      }
      .mask-group-4tN {
        top: 1.1904rem;
        object-fit: contain;
        vertical-align: top;
        width: 3.1876rem;
        height: 4.2408rem;
        position: absolute;
        left: 4.6649rem;
      }
      .line-14-Vin {
        width: 2.8767rem;
        height: 0.1rem;
        position: absolute;
        left: 3.1099rem;
        top: 2.3064rem;
        background-color: #60269e;
      }
    }
    .group-3485-B5p {
      top: 5.2536rem;
      width: 8.9154rem;
      height: 8.795rem;
      position: absolute;
      left: 34.8242rem;

      .group-3477-Epn {
        height: 8.795rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        border-radius: 14.4rem;
        width: 8.9154rem;
      }
      .mask-group-wDQ {
        object-fit: contain;
        vertical-align: top;
        width: 4.4577rem;
        height: 4.6211rem;
        position: absolute;
        left: 2.4178rem;
        top: 2.087rem;
      }
    }
  }
  .rp-320000-mTL {
    left: 149.2rem;
    top: 47.2rem;
    font-weight: 800;
    color: #60269e;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 15.5rem;
    height: 2.4rem;
    position: absolute;
    text-align: center;
    font-size: 2.4rem;
    line-height: 1.2102272511;
  }
  .expenses-QWJ {
    top: 50rem;
    font-size: 3.2rem;
    line-height: 1.2102272511;
    color: #e63a57;
    font-family: Inter, 'Source Sans Pro';
    width: 15.7rem;
    height: 3.4rem;
    position: absolute;
    white-space: nowrap;
    left: 148.8rem;
    text-align: center;
    font-weight: 600;
  }
  .group-3474-DyY {
    top: 32.4464rem;
    display: flex;
    align-items: center;
    background-size: cover;
    box-sizing: border-box;
    width: 15.0104rem;
    height: 3.9027rem;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:2:1087');
    padding: 0.65rem 0.767rem 0.65rem 0.657rem;
    left: 151.038rem;
    background-position: center;

    .calendar-1-rFp {
      height: 2.6018rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.8765rem;
      width: 2.6295rem;
    }
    .maret-2022-uUz {
      font-weight: 800;
      line-height: 1.2102272511;
      flex-shrink: 0;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      margin-top: 0.1084rem;
      text-align: center;
      font-size: 1.6rem;
      color: #d7c3ec;
    }
  }
  .decrease-NdU {
    top: 37.9rem;
    object-fit: cover;
    vertical-align: top;
    width: 10.4rem;
    height: 8.7rem;
    position: absolute;
    left: 151.4rem;
  }
  .mask-group-dZQ {
    top: 22.7664rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.1522rem;
    height: 3.0021rem;
    position: absolute;
    left: 1.426rem;
  }
  .rectangle-4207-8FG {
    width: 169rem;
    height: 80rem;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.8500000238);
  }
  .transfer-normal-14A {
    width: 100.6rem;
    left: 33.3rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 12rem;
    height: 59.6rem;
    position: absolute;
    top: 16.4rem;
    overflow: hidden;
    background-color: #f6eeff;

    .group-6-qJ6 {
      vertical-align: top;
      width: 32.9092rem;
      height: 27.7516rem;
      position: absolute;
      left: -13.9rem;
      top: 20.9rem;
      object-fit: contain;
    }
    .x-XRp {
      position: absolute;
      left: 89.4rem;
      top: 4rem;
      font-size: 6.4rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 4.7rem;
      height: 4.9rem;
      text-align: center;
      font-weight: 800;
      line-height: 1.2102272511;
      color: #60269e;
    }
    .rectangle-10-mb4 {
      background-color: #60269e;
      width: 88.7rem;
      height: 111.7rem;
      position: absolute;
      left: 68.9rem;
      top: -16.4rem;
    }
    .rectangle-10-s8J {
      width: 33.3rem;
      height: 43.1rem;
      position: absolute;
      left: 68.9rem;
      top: 8.8rem;
      background-color: #60269e;
    }
    .group-5-mUa {
      width: 32.9092rem;
      height: 27.7516rem;
      position: absolute;
      left: 77.7908rem;
      top: 14.7188rem;
      object-fit: contain;
      vertical-align: top;
    }
    .ellipse-22-qDY {
      top: 44.1rem;
      box-sizing: border-box;
      background: linear-gradient(140.67deg, rgba(3, 207, 251, 0) 8.89%, #03cffb 57.48%);
      border-radius: 11.35rem;
      width: 22.7rem;
      height: 22.7rem;
      position: absolute;
      left: 77.7rem;
    }
    .ellipse-23-4c6 {
      top: -5.2rem;
      object-fit: contain;
      vertical-align: top;
      width: 30.1rem;
      height: 22.5rem;
      position: absolute;
      left: 61.6rem;
    }
    .mask-group-xSa {
      width: 1.6rem;
      height: 1.6rem;
      position: absolute;
      left: 38.9rem;
      top: 38.2rem;
      object-fit: contain;
      vertical-align: top;
    }
    .group-3488-DdQ {
      left: 5.4rem;
      top: 3.2rem;
      width: 78.8rem;
      height: 49.5rem;
      position: absolute;

      .auto-group-lsej-i4N {
        margin: 0rem 44.3rem 0.9rem 5.4rem;
        width: calc(100% - 49.7rem);
        display: flex;
        align-items: flex-start;

        .transaction-sucess-npv {
          font-weight: 800;
          line-height: 1.2102272511;
          color: #60269e;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.6rem;
          font-size: 2.4rem;
        }
        .vector-es8 {
          width: 4.5rem;
          height: 3.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .auto-group-admt-B6N {
        width: 100%;
        height: 40.6rem;
        position: relative;

        .transfer-sucess-sE6 {
          color: #60269e;
          font-family: Inter, 'Source Sans Pro';
          width: 21.8rem;
          height: 3.7rem;
          position: absolute;
          font-weight: 800;
          line-height: 1.2102272511;
          white-space: nowrap;
          left: 16.3rem;
          top: 8.8rem;
          font-size: 2.4rem;
        }
        .rectangle-4205-5LA {
          object-fit: contain;
          vertical-align: top;
          border-radius: 2.5rem;
          width: 59rem;
          height: 26.2rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .rectangle-4206-Btz {
          object-fit: contain;
          vertical-align: top;
          border-radius: 2.5rem;
          width: 59rem;
          height: 35.4rem;
          position: absolute;
          left: 0;
          top: 5.2rem;
        }
        .transfree-Ven {
          height: 2.7rem;
          position: absolute;
          text-align: center;
          font-size: 2.4rem;
          line-height: 1.2102272511;
          font-style: italic;
          white-space: nowrap;
          width: 12.7rem;
          left: 8.1rem;
          top: 1.6rem;
          font-weight: 800;
          color: #60269e;
          font-family: Inter, 'Source Sans Pro';
        }
        .layersfill-K82 {
          width: 3.7333rem;
          height: 3.3672rem;
          position: absolute;
          left: 3.0333rem;
          top: 1.2625rem;
          object-fit: contain;
          vertical-align: top;
        }
        .transfree-1Fk {
          width: 12.7rem;
          text-align: center;
          font-size: 2.4rem;
          font-weight: 800;
          line-height: 1.2102272511;
          font-style: italic;
          height: 2.7rem;
          position: absolute;
          left: 8.1rem;
          top: 1.6rem;
          color: #60269e;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .layersfill-eJi {
          height: 3.3672rem;
          position: absolute;
          left: 3.0333rem;
          top: 1.2625rem;
          object-fit: contain;
          vertical-align: top;
          width: 3.7333rem;
        }
        .december-13th-2022-13-20-50-wib-Yez {
          font-weight: 400;
          line-height: 1.2102272511;
          color: #8f68b8;
          height: 3.7rem;
          top: 10.6rem;
          left: 14.4rem;
          text-align: center;
          font-size: 1.6rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 35.4rem;
          position: absolute;
        }
        .phone-number-nominals-total-xTp {
          height: 3.7rem;
          position: absolute;
          top: 19.5rem;
          color: #8f68b8;
          font-family: Inter, 'Source Sans Pro';
          width: 35.4rem;
          left: 4.4rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2102272511;
        }
        .rp-100000-rp-101000--1wt {
          font-family: Inter, 'Source Sans Pro';
          width: 35.4rem;
          position: absolute;
          top: 19.5rem;
          text-align: right;
          font-weight: 400;
          color: #8f68b8;
          height: 3.7rem;
          left: 20.4rem;
          font-size: 1.6rem;
          line-height: 1.2102272511;

          .rp-100000-rp-101000--1wt-sub-0 {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.2102272511;
            color: #8f68b8;
            font-family: Inter, 'Source Sans Pro';
          }
          .rp-100000-rp-101000--1wt-sub-1 {
            color: #8f68b8;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.2102272511;
          }
          .rp-100000-rp-101000--1wt-sub-2 {
          }
        }
        .id-tf18237517-ELn {
          position: absolute;
          left: 43.4rem;
          font-weight: 600;
          line-height: 1.2102272511;
          color: #c19aeb;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 35.4rem;
          height: 3.7rem;
          top: 2.4rem;
          font-size: 1.6rem;
          display: flex;
          align-items: baseline;

          .id-tf18237517-ELn-sub-0 {
            font-weight: 600;
            line-height: 1.2102272511;
            color: #8f68b8;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
          }
          .id-tf18237517-ELn-sub-1 {
          }
          .id-tf18237517-ELn-sub-2 {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2102272511;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
          .id-tf18237517-ELn-sub-3 {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2102272511;
            color: #8f68b8;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .button-5ne {
          top: 34.1rem;
          border-radius: 5rem;
          width: 38.1rem;
          height: 4.9rem;
          position: absolute;
          left: 10.9rem;
          background-color: #efddff;
          box-sizing: border-box;
          padding: 0.8rem 1.8rem;

          .image-6-ZC2 {
            width: 3.3rem;
            height: 3.3rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .payment-success-Rzv {
          line-height: 1.2102272511;
          color: #60269e;
          font-family: Inter, 'Source Sans Pro';
          width: 24.6rem;
          height: 3.7rem;
          position: absolute;
          left: 19rem;
          top: 7.9rem;
          text-align: center;
          font-size: 2.4rem;
          font-weight: 600;
          white-space: nowrap;
        }
        .rp-100000--Fyx {
          top: 13.7rem;
          line-height: 1.2102272034;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 3.7rem;
          position: absolute;
          left: 18.8rem;
          text-align: center;
          font-size: 4rem;
          font-weight: 700;
          color: #60269e;
          width: 28.2rem;
        }
        .any-transaction-on-transfree-licensed-by-bank-of-indonesia-VdQ {
          line-height: 1.2102272327;
          width: 35.4rem;
          height: 3.7rem;
          position: absolute;
          left: 17.4rem;
          top: 35rem;
          font-size: 1.3rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          color: #8f68b8;
        }
      }
      .auto-group-ftvl-vTp {
        display: flex;
        align-items: center;
        margin: 0rem 26rem 0rem 6.8rem;
        width: calc(100% - 32.8rem);
        height: 3.7rem;

        .buttondownloadps-nkv {
          box-sizing: border-box;
          box-shadow: 0 1rem 2rem rgba(15, 159, 38, 0.150000006);
          background-color: #60269e;
          border-radius: 5rem;
          flex-shrink: 0;
          margin-right: 3rem;
          padding: 0.95rem 7.4rem 0.95rem 4.4rem;
          height: 100%;
          display: flex;
          align-items: center;

          .vector-dFk {
            margin: 0.1rem 1.9rem 0rem 0rem;
            width: 1.1rem;
            height: 1.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .download-WqL {
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.171875;
            color: #d7c2ec;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .buttonshareps-whg {
          align-items: center;
          background-color: #60269e;
          height: 100%;
          display: flex;
          box-shadow: 0 1rem 2rem rgba(15, 159, 38, 0.150000006);
          border-radius: 5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.5rem 8.75rem 0.7rem 3.4rem;

          .mask-group-dqQ {
            margin-right: 2.85rem;
            width: 2.5rem;
            height: 2.5rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .share-Xvn {
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.2rem;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.171875;
            color: #d7c2ec;
            font-family: Roboto, 'Source Sans Pro';
          }
        }
      }
    }
    .ellipse-24-L7Y {
      width: 25.8rem;
      height: 17.3rem;
      position: absolute;
      left: 62.4rem;
      top: -0.7rem;
      object-fit: contain;
      vertical-align: top;
    }
    .layersfill-Rug {
      vertical-align: top;
      width: 5.1333rem;
      height: 4.717rem;
      position: absolute;
      left: 64.9833rem;
      top: 4.3875rem;
      object-fit: contain;
    }
    .transfree-gqc {
      left: 72rem;
      top: 4.9rem;
      text-align: center;
      font-weight: 800;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 17.6rem;
      height: 3.7rem;
      position: absolute;
      font-size: 3.6rem;
      line-height: 1.2102272246;
      font-style: italic;
      color: #60269e;
    }
    .buttonbackps-MB4 {
      top: 5.8rem;
      text-align: center;
      font-size: 6.4rem;
      white-space: nowrap;
      width: 4.7rem;
      height: 4.9rem;
      left: 93.1rem;
      color: #f6eeff;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      font-weight: 800;
      line-height: 1.2102272511;
    }
  }
  .step-WiA {
    height: 5.4rem;
    position: absolute;
    left: 64.1rem;
    top: 5.7rem;
    display: flex;
    align-items: flex-start;
    width: 50.6rem;

    .auto-group-ewee-QYe {
      white-space: nowrap;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #d7c3ec;
      width: 5.3rem;
      font-family: Inter, 'Source Sans Pro';
      font-size: 2.4rem;
      justify-content: center;
      border-radius: 2.65rem;
      flex-shrink: 0;
      margin-right: 0.05rem;
      height: 5.3rem;
      display: flex;
      align-items: center;
      font-weight: 800;
      line-height: 1.2102272511;
      text-align: center;
      color: #ffffff;
    }
    .auto-group-dduk-9Pk {
      height: 100%;
      position: relative;
      flex-shrink: 0;
      width: 39.95rem;

      .vector-135-ERC {
        position: absolute;
        left: 0;
        top: 2.65rem;
        object-fit: contain;
        vertical-align: top;
        width: 39.95rem;
        height: 0;
      }
      .ellipse-128-Ygn {
        background-color: #d7c3ec;
        border-radius: 2.65rem;
        width: 5.3rem;
        height: 5.3rem;
        position: absolute;
        left: 9.05rem;
        top: 0.1rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      }
      .ellipse-129-Bze {
        position: absolute;
        left: 23.45rem;
        top: 0;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #d7c3ec;
        border-radius: 2.65rem;
        width: 5.3rem;
        height: 5.3rem;
      }
      .item-2-dbk {
        height: 2.9rem;
        left: 10.85rem;
        text-align: center;
        font-size: 2.4rem;
        font-weight: 800;
        color: #ffffff;
        white-space: nowrap;
        width: 1.6rem;
        position: absolute;
        top: 1.2rem;
        line-height: 1.2102272511;
        font-family: Inter, 'Source Sans Pro';
      }
      .item-3-6ES {
        font-weight: 800;
        line-height: 1.2102272511;
        color: #ffffff;
        width: 1.7rem;
        left: 25.25rem;
        top: 1.2rem;
        text-align: center;
        font-size: 2.4rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.9rem;
        position: absolute;
      }
    }
    .auto-group-vcbc-vDU {
      background-color: #60269e;
      font-size: 2.4rem;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      line-height: 1.2102272511;
      display: flex;
      flex-shrink: 0;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      border-radius: 2.65rem;
      white-space: nowrap;
      width: 5.3rem;
      height: 5.3rem;
      text-align: center;
      font-weight: 800;
    }
  }
}
