
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 169rem;
}.recent-split-bill-Ryx {
  width: 100%;
  height: 80rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;

  .group-3500-M6v {
    width: 243.7rem;
    height: 100.2rem;
    position: relative;

    .rectangle-9-3kS {
      background-color: #d6c2eb;
      width: 20.9rem;
      height: 93.6rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .transfree-ytz {
      color: #60269e;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 10.4rem;
      height: 3.1rem;
      position: absolute;
      left: 5.2rem;
      font-style: italic;
      top: 2.7rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 800;
      line-height: 1.2102272034;
    }
    .group-3467-4fY {
      width: 15.5017rem;
      height: 2.4295rem;
      position: absolute;
      left: 1.7983rem;
      top: 9.5705rem;
      display: flex;
      align-items: flex-start;

      .home-1-z3Q {
        flex-shrink: 0;
        margin-right: 1.8835rem;
        width: 1.9182rem;
        height: 2.2017rem;
        object-fit: cover;
        vertical-align: top;
      }
      .dashboard-X3L {
        font-weight: 800;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-top: 0.0295rem;
        font-size: 2rem;
        line-height: 1.2102272034;
        color: #60269e;
        white-space: nowrap;
        text-align: center;
      }
    }
    .group-3468-qZp {
      width: 17.9611rem;
      height: 3.7842rem;
      position: absolute;
      left: 1.1389rem;
      top: 13.2859rem;
      display: flex;
      align-items: center;

      .transaction-1-Ac6 {
        width: 3.6635rem;
        height: 3.7842rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.2424rem;
      }
      .transactions-VeN {
        margin-bottom: 0.0586rem;
        color: #60269e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
        line-height: 1.2102272034;
      }
    }
    .group-3469-1sc {
      width: 13.3017rem;
      height: 2.5rem;
      position: absolute;
      left: 1.7983rem;
      top: 18.6rem;
      display: flex;
      align-items: flex-start;

      .send-1-9iv {
        width: 1.9781rem;
        height: 2.2705rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.053rem 1.824rem 0rem 0rem;
      }
      .transfer-sev {
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
        line-height: 1.2102272034;
        color: #60269e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .notification-Cx6 {
      height: 2.4769rem;
      left: 6rem;
      line-height: 1.2102272034;
      white-space: nowrap;
      font-family: Inter, 'Source Sans Pro';
      width: 11.7461rem;
      position: absolute;
      top: 23.1rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 800;
      color: #60269e;
    }
    .group-3472-WSz {
      align-items: flex-end;
      width: 11.7111rem;
      height: 2.4767rem;
      position: absolute;
      left: 1.7983rem;
      top: 32.0728rem;
      display: flex;

      .logout-1-SbY {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.777rem 0.003rem 0rem;
        width: 1.9781rem;
        height: 2.2705rem;
        object-fit: cover;
      }
      .log-out-MyQ {
        color: #60269e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
        line-height: 1.2102272034;
      }
    }
    .group-3471-Vpi {
      position: absolute;
      left: 1.7983rem;
      top: 27.4rem;
      display: flex;
      align-items: center;
      width: 11.7017rem;
      height: 2.5rem;

      .settings-1-2pe {
        height: 2.2017rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.096rem 1.884rem 0rem 0rem;
        width: 1.9182rem;
      }
      .setting-8cn {
        line-height: 1.2102272034;
        color: #60269e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
      }
    }
    .layersfill-er2 {
      position: absolute;
      left: 1.85rem;
      top: 1.65rem;
      object-fit: contain;
      vertical-align: top;
      width: 3rem;
      height: 3.8845rem;
    }
    .rectangle-10-9nn {
      position: absolute;
      left: 21.7rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      border-radius: 1rem;
      width: 221.7rem;
      height: 14.1rem;
    }
    .rectangle-16-5RY {
      left: 125.7rem;
      top: 31.1rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 1rem;
      width: 42rem;
      height: 24.4rem;
      position: absolute;
    }
    .dashboard-bug {
      font-weight: 800;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 3.3rem;
      left: 23.4rem;
      top: 1.3rem;
      text-align: center;
      font-size: 3.6rem;
      width: 20.6rem;
      position: absolute;
      line-height: 1.2102272246;
      color: #60269e;
    }
    .rp-350000-ufU {
      position: absolute;
      left: 129.5rem;
      text-align: center;
      font-size: 2.4rem;
      font-weight: 800;
      line-height: 1.2102272511;
      font-family: Inter, 'Source Sans Pro';
      width: 15.8rem;
      white-space: nowrap;
      top: 47.1rem;
      color: #60269e;
      height: 2.6rem;
    }
    .group-3481-1iW {
      background-size: cover;
      border-radius: 1rem;
      box-sizing: border-box;
      padding: 0.901rem 0rem 1.409rem 0rem;
      position: absolute;
      left: 21.8rem;
      background-position: center;
      background-image: url('REPLACE_IMAGE:4:391');
      width: 40.5rem;
      height: 19.8888rem;
      top: 8.4rem;
      background-repeat: no-repeat;

      .balance-Vta {
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 3.7994rem;
        width: 100%;
        text-align: center;
        font-size: 3rem;
        line-height: 1.2102272034;
        font-weight: 800;
        color: #60269e;
        white-space: nowrap;
      }
      .rp-12345678-pfx {
        color: #60269e;
        font-family: Inter, 'Source Sans Pro';
        text-align: center;
        font-size: 3.6rem;
        line-height: 1.2102272246;
        white-space: nowrap;
        margin-bottom: 3.9714rem;
        width: 100%;
        font-weight: 800;
      }
      .wallet-id-87654321-x1U {
        width: 100%;
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
        line-height: 1.2102272034;
        color: #60269e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-3479-fAn {
      top: 28.5rem;
      width: 100.2026rem;
      height: 25.1383rem;
      position: absolute;
      left: 20.1rem;

      .recent-transactions-nFQ {
        margin-bottom: 3.3rem;
        width: 100%;
        font-weight: 800;
        font-family: Inter, 'Source Sans Pro';
        text-align: center;
        font-size: 3rem;
        line-height: 1.2102272034;
        color: #d7c3ec;
        white-space: nowrap;
      }
      .auto-group-dllz-6mt {
        display: flex;
        align-items: flex-start;
        margin: 0rem 6.983rem 0.951rem 6.1rem;
        width: calc(100% - 13.083rem);

        .name-pht {
          font-weight: 300;
          text-align: center;
          font-size: 1.6rem;
          color: #60269e;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.1rem 33.182rem 0rem 0rem;
          line-height: 1.2102272511;
        }
        .date-jpr {
          text-align: center;
          font-size: 1.6rem;
          margin-right: 19.8654rem;
          font-weight: 300;
          line-height: 1.2102272511;
          color: #60269e;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .status-4cE {
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 11.558rem;
          font-weight: 300;
          line-height: 1.2102272511;
          color: #60269e;
          white-space: nowrap;
          text-align: center;
          font-size: 1.6rem;
        }
        .amount-QAJ {
          text-align: center;
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.2102272511;
          color: #60269e;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-uzjy-YXQ {
        margin: 0rem 0rem 0.525rem 7.241rem;
        display: flex;
        align-items: center;

        .dhaifan-satriaji-id-80972345-spa {
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 20.3629rem;
          max-width: 17.0962rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2102272034;

          .dhaifan-satriaji-id-80972345-spa-sub-0 {
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5127840042;
            color: #d7c3ec;
          }
          .dhaifan-satriaji-id-80972345-spa-sub-1 {
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 2.0170453389;
            color: #d7c3ec;
          }
        }
        .mar-17-2022-6ar {
          line-height: 1.2102272034;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
          margin: 0rem 9.632rem 0.525rem 0rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .receive-okA {
          text-align: center;
          font-size: 2rem;
          font-family: Inter, 'Source Sans Pro';
          color: #2cd03c;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 8.307rem 0.525rem 0rem;
          font-weight: 400;
          line-height: 1.2102272034;
        }
        .rp-50000-8XY {
          margin-bottom: 0.5254rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2102272034;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-pnsc-4g6 {
        align-items: center;
        margin: 0rem 0rem 0.444rem 7.241rem;
        display: flex;

        .ramadhan-wahyu-id-25023897-bR8 {
          margin-right: 17.1123rem;
          font-weight: 400;
          line-height: 1.2102272034;
          white-space: nowrap;
          display: flex;
          align-items: baseline;
          font-size: 2rem;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;

          .ramadhan-wahyu-id-25023897-bR8-sub-0 {
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5127840042;
            color: #d7c3ec;
          }
          .ramadhan-wahyu-id-25023897-bR8-sub-1 {
            font-size: 1.1rem;
            font-weight: 400;
            line-height: 2.200413097;
            color: #d7c3ec;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .mar-15-2022-2uk {
          line-height: 1.2102272034;
          color: #d7c3ec;
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          margin: 0rem 9.27rem 0.525rem 0rem;
          font-family: Inter, 'Source Sans Pro';
        }
        .receive-x2i {
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          color: #2cd03d;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 8.307rem 0.525rem 0rem;
          text-align: center;
          font-size: 2rem;
          line-height: 1.2102272034;
        }
        .rp-100000-Gp6 {
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5254rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2102272034;
        }
      }
      .auto-group-l3o8-1Ft {
        align-items: center;
        margin: 0rem 0rem 0.559rem 7.2rem;
        display: flex;

        .alifia-ayu-masita-id-34508923-YWi {
          margin-right: 21.1rem;
          font-weight: 400;
          white-space: nowrap;
          display: flex;
          font-size: 2rem;
          line-height: 1.2102272034;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
          align-items: baseline;
          flex-shrink: 0;

          .alifia-ayu-masita-id-34508923-YWi-sub-0 {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5127840042;
            color: #d7c3ec;
            font-family: Inter, 'Source Sans Pro';
          }
          .alifia-ayu-masita-id-34508923-YWi-sub-1 {
            font-size: 1.1rem;
            font-weight: 400;
            line-height: 2.200413097;
            color: #d7c3ec;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .mar-13-2022-shQ {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2102272034;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
          margin: 0rem 9.271rem 0.485rem 0rem;
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
        }
        .payment-bdQ {
          font-weight: 400;
          color: #d91c1c;
          font-family: Inter, 'Source Sans Pro';
          margin: 0rem 7.344rem 0.499rem 0rem;
          font-size: 2rem;
          line-height: 1.2102272034;
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
        }
        .rp-120000-vva {
          line-height: 1.2102272034;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.4854rem;
          font-size: 2rem;
          font-weight: 400;
        }
      }
      .auto-group-7v6e-sav {
        margin: 0rem 0rem 0.525rem 7.241rem;
        display: flex;
        align-items: center;

        .ilham-fachlevi-id-90384634-oDg {
          display: flex;
          align-items: baseline;
          margin-right: 21.2057rem;
          line-height: 1.2102272034;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;

          .ilham-fachlevi-id-90384634-oDg-sub-0 {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5127840042;
            color: #d7c3ec;
            font-family: Inter, 'Source Sans Pro';
          }
          .ilham-fachlevi-id-90384634-oDg-sub-1 {
            color: #d7c3ec;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.1rem;
            font-weight: 400;
            line-height: 2.200413097;
          }
        }
        .mar-10-2022-Xot {
          margin: 0rem 9.291rem 0.525rem 0rem;
          font-weight: 400;
          line-height: 1.2102272034;
          color: #d7c3ec;
          white-space: nowrap;
          text-align: center;
          font-size: 2rem;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .receive-qZg {
          margin: 0rem 8.287rem 0.525rem 0rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          color: #2cd03d;
          flex-shrink: 0;
          line-height: 1.2102272034;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .rp-70000-mCS {
          font-weight: 400;
          line-height: 1.2102272034;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5254rem;
          font-size: 2rem;
        }
      }
      .auto-group-v5te-hbt {
        display: flex;
        align-items: center;
        margin-left: 7.2408rem;

        .hedya-tiesyapana-id-62094756-FNW {
          margin-right: 16.3899rem;
          line-height: 1.2102272034;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          align-items: baseline;
          font-size: 2rem;
          font-weight: 400;
          white-space: nowrap;
          flex-shrink: 0;

          .hedya-tiesyapana-id-62094756-FNW-sub-0 {
            line-height: 1.5127840042;
            color: #d7c3ec;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 600;
          }
          .hedya-tiesyapana-id-62094756-FNW-sub-1 {
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.1rem;
            font-weight: 400;
            line-height: 2.200413097;
            color: #d7c3ec;
          }
        }
        .mar-09-2022-Pd8 {
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          margin: 0rem 8.91rem 0.525rem 0rem;
          line-height: 1.2102272034;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .payment-KFt {
          flex-shrink: 0;
          margin: 0rem 7.344rem 0.539rem 0rem;
          text-align: center;
          font-weight: 400;
          line-height: 1.2102272034;
          color: #d91c1c;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2rem;
        }
        .rp-200000-eZ4 {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5254rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2102272034;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
    .overview-zN2 {
      position: absolute;
      left: 126.7197rem;
      top: 31.8rem;
      font-weight: 800;
      line-height: 1.2102272034;
      white-space: nowrap;
      height: 2.7rem;
      text-align: center;
      font-size: 3rem;
      color: #60269e;
      font-family: Inter, 'Source Sans Pro';
      width: 14.8rem;
    }
    .group-3483-6vr {
      width: 41.9541rem;
      height: 21.4894rem;
      position: absolute;
      left: 125.7rem;
      top: 57.2rem;
      border-radius: 1rem;

      .group-3483-2Zc {
        background-position: center;
        background-image: url('REPLACE_IMAGE:4:424');
        flex-direction: column;
        padding: 1.3rem 0.6rem 1.218rem 0.6rem;
        width: 100%;
        height: 100%;
        display: flex;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 1rem;
        box-sizing: border-box;

        .have-something-to-pay-kVc {
          font-weight: 800;
          line-height: 1.2102272034;
          color: #60269e;
          flex-shrink: 0;
          margin-bottom: 0.9852rem;
          text-align: center;
          font-size: 3rem;
          width: 100%;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .use-your-qr-to-pay-with-transfree-Tup {
          font-weight: 600;
          line-height: 1.2102272034;
          color: #60269e;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 5.168rem 0.274rem;
          font-size: 2rem;
        }
        .group-3473-Nmt {
          border-radius: 1rem;
          flex-shrink: 0;
          height: 4.9735rem;
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          background-size: cover;
          width: 19.2815rem;
          line-height: 1.2102272034;
          color: #60269e;
          background-position: center;
          background-image: url('REPLACE_IMAGE:4:427');
          display: flex;
          background-repeat: no-repeat;
          margin-left: 1.7742rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 500;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
    .income-pdt {
      width: 12.1rem;
      position: absolute;
      top: 50.2rem;
      text-align: center;
      font-size: 3.2rem;
      white-space: nowrap;
      height: 3.5rem;
      left: 131.6rem;
      font-weight: 600;
      line-height: 1.2102272511;
      color: #5ab267;
      font-family: Inter, 'Source Sans Pro';
    }
    .group-3486-9AN {
      box-sizing: border-box;
      padding: 0.7rem 1.2rem 5.904rem 1.2rem;
      background-position: center;
      background-image: url('REPLACE_IMAGE:4:432');
      border-radius: 1rem;
      background-repeat: no-repeat;
      width: 101.3rem;
      height: 21.5rem;
      position: absolute;
      left: 21.9rem;
      top: 57.2rem;
      background-size: cover;

      .upcoming-payments-TB4 {
        text-align: center;
        font-size: 3rem;
        font-weight: 800;
        white-space: nowrap;
        margin-bottom: 2.9rem;
        width: 100%;
        line-height: 1.2102272034;
        color: #60269e;
        font-family: Inter, 'Source Sans Pro';
      }
      .group-3466-yfC {
        margin: 0rem 3.973rem 0rem 2.7rem;
        width: calc(100% - 6.6727rem);
        height: 9.6962rem;
        display: flex;
        align-items: center;

        .auto-group-i3p8-VdY {
          flex-shrink: 0;
          margin: 0.6rem 19.422rem 0rem 0rem;
          width: 19.5782rem;

          .name-RGJ {
            text-align: center;
            font-size: 1.6rem;
            color: #60269e;
            margin-bottom: 1.2839rem;
            width: 100%;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            font-weight: 300;
            line-height: 1.2102272511;
          }
          .spotify-premiuim-id-80238345-9i6 {
            font-size: 2rem;
            line-height: 1.2102272034;
            color: #60269e;
            align-items: baseline;
            margin: 0rem 0rem 1.604rem 1.2rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;

            .spotify-premiuim-id-80238345-9i6-sub-0 {
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5127840042;
              color: #60269e;
              font-family: Inter, 'Source Sans Pro';
            }
            .spotify-premiuim-id-80238345-9i6-sub-1 {
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.1rem;
              font-weight: 400;
              line-height: 2.200413097;
              color: #60269e;
            }
          }
          .netflix-id-25397497-hd8 {
            line-height: 1.2102272034;
            font-size: 2rem;
            font-weight: 400;
            color: #60269e;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            align-items: baseline;
            margin-left: 1.5rem;

            .netflix-id-25397497-hd8-sub-0 {
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5127840042;
              color: #60269e;
              font-family: Inter, 'Source Sans Pro';
            }
            .netflix-id-25397497-hd8-sub-1 {
              font-weight: 400;
              line-height: 1.5127840042;
              color: #60269e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
            }
            .netflix-id-25397497-hd8-sub-2 {
              font-size: 1.1rem;
              font-weight: 400;
              line-height: 2.200413097;
              color: #60269e;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
        .auto-group-mx3q-SUE {
          height: calc(100% - 0.8601rem);
          flex-shrink: 0;
          margin: 0.3rem 8.903rem 0.56rem 0rem;
          width: 15.2971rem;

          .date-N6z {
            width: 100%;
            text-align: center;
            font-weight: 300;
            line-height: 1.2102272511;
            font-family: Inter, 'Source Sans Pro';
            margin-bottom: 1.5839rem;
            font-size: 1.6rem;
            color: #60269e;
            white-space: nowrap;
          }
          .mar-30-2022-hf4 {
            width: 100%;
            text-align: center;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 2.9639rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2102272034;
            color: #60269e;
          }
          .mar-30-2022-Eut {
            white-space: nowrap;
            width: 100%;
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2102272034;
            color: #60269e;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .auto-group-4upe-PGz {
          width: 8.9896rem;
          flex-shrink: 0;
          margin: 0rem 6.91rem 0.96rem 0rem;

          .status-KAe {
            font-size: 1.6rem;
            line-height: 1.2102272511;
            color: #60269e;
            white-space: nowrap;
            margin-bottom: 1.8839rem;
            text-align: center;
            font-weight: 300;
            font-family: Inter, 'Source Sans Pro';
            width: 100%;
          }
          .pending-3sL {
            line-height: 1.2102272034;
            color: #d98d1c;
            font-family: Inter, 'Source Sans Pro';
            margin-bottom: 2.5639rem;
            width: 100%;
            font-size: 2rem;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
          }
          .pending-b8A {
            white-space: nowrap;
            width: 100%;
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2102272034;
            color: #d98d1c;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .auto-group-z8xj-wC2 {
          margin: 0.6rem 0rem 0.56rem 0rem;
          width: 13.1273rem;
          height: calc(100% - 1.1601rem);
          flex-shrink: 0;

          .amount-es8 {
            text-align: center;
            font-size: 1.6rem;
            line-height: 1.2102272511;
            white-space: nowrap;
            margin-bottom: 1.6839rem;
            width: 100%;
            font-weight: 300;
            color: #60269e;
            font-family: Inter, 'Source Sans Pro';
          }
          .rp-59000-mwk {
            margin-bottom: 2.5639rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2102272034;
            color: #60269e;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rp-149000-uo4 {
            font-weight: 400;
            line-height: 1.2102272034;
            color: #60269e;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 0.2rem;
            font-size: 2rem;
          }
        }
      }
    }
    .group-3480-Qzi {
      left: 123.9rem;
      top: 8.6rem;
      width: 43.8483rem;
      height: 19.8888rem;
      position: absolute;

      .rectangle-13-9SW {
        top: 0;
        object-fit: contain;
        vertical-align: top;
        border-radius: 1rem;
        width: 42.0471rem;
        height: 19.8888rem;
        position: absolute;
        left: 1.8012rem;
      }
      .dadang-korneto-5LA {
        width: 22.13rem;
        height: 2.358rem;
        position: absolute;
        text-align: center;
        font-weight: 600;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        left: 16rem;
        top: 4.9rem;
        font-size: 2.4rem;
        line-height: 1.2102272511;
        color: #60269e;
      }
      .item-0878923642194-b3c {
        text-align: center;
        font-size: 2rem;
        line-height: 1.2102272034;
        color: #60269e;
        font-family: Inter, 'Source Sans Pro';
        width: 20.3559rem;
        height: 2.3266rem;
        left: 16rem;
        white-space: nowrap;
        position: absolute;
        top: 12.6rem;
        font-weight: 600;
      }
      .profile-5jU {
        line-height: 1.2102272034;
        color: #60269e;
        white-space: nowrap;
        height: 2.8705rem;
        left: 0;
        top: 0.6755rem;
        text-align: center;
        font-size: 3rem;
        width: 15.491rem;
        position: absolute;
        font-weight: 800;
        font-family: Inter, 'Source Sans Pro';
      }
      .group-3478-Q14 {
        width: 9.3815rem;
        height: 8.7865rem;
        position: absolute;
        left: 5.4788rem;
        top: 5.1786rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 14.4rem;
      }
      .dangskygmailcom-Kti {
        text-align: center;
        font-size: 2rem;
        font-family: Inter, 'Source Sans Pro';
        top: 8.8rem;
        font-weight: 400;
        line-height: 1.2102272034;
        color: #60269e;
        width: 28.3785rem;
        height: 2.358rem;
        position: absolute;
        left: 13.4rem;
        white-space: nowrap;
      }
    }
    .increase-2o8 {
      width: 10.2rem;
      height: 8.7rem;
      position: absolute;
      left: 132.6rem;
      top: 37.9rem;
      object-fit: cover;
      vertical-align: top;
    }
    .group-3482-a3x {
      top: 8.6rem;
      width: 60rem;
      height: 19.9rem;
      position: absolute;
      left: 63.2rem;

      .rectangle-12-6HC {
        top: 0;
        object-fit: contain;
        vertical-align: top;
        border-radius: 1rem;
        width: 59.2rem;
        height: 19.9rem;
        position: absolute;
        left: 0.8rem;
      }
      .product-EPQ {
        top: 0.4503rem;
        text-align: center;
        color: #60269e;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3rem;
        font-weight: 800;
        line-height: 1.2102272034;
        white-space: nowrap;
        width: 14.8603rem;
        height: 3.4501rem;
        position: absolute;
        left: 0;
      }
      .top-up-MU2 {
        width: 8.3rem;
        height: 2.3rem;
        position: absolute;
        color: #60269e;
        left: 4.4rem;
        top: 16.2rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2102272034;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .phone-tokens-Gaz {
        height: 2.3001rem;
        left: 14.8603rem;
        text-align: center;
        font-size: 2rem;
        line-height: 1.2102272034;
        color: #60269e;
        width: 18.3127rem;
        position: absolute;
        top: 16.0611rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .split-bills-ara {
        height: 2.3rem;
        top: 16.2rem;
        text-align: center;
        font-size: 2rem;
        color: #60269e;
        font-family: Inter, 'Source Sans Pro';
        width: 9rem;
        left: 34.9rem;
        font-weight: 400;
        line-height: 1.2102272034;
        white-space: nowrap;
        position: absolute;
      }
      .image-1-6pv {
        top: 5.1786rem;
        object-fit: cover;
        vertical-align: top;
        width: 9.5316rem;
        height: 8.7944rem;
        position: absolute;
        left: 3.3023rem;
      }
      .group-3484-ERL {
        width: 9.1742rem;
        height: 8.7792rem;
        position: absolute;
        left: 19.4385rem;
        top: 5.1786rem;

        .group-3476-ZyQ {
          vertical-align: top;
          border-radius: 14.4rem;
          width: 9.1742rem;
          height: 8.7792rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
        }
        .mask-group-gYE {
          position: absolute;
          left: 0.0778rem;
          top: 4.2408rem;
          object-fit: contain;
          vertical-align: top;
          width: 5.3646rem;
          height: 2.3808rem;
        }
        .mask-group-osk {
          vertical-align: top;
          width: 3.1876rem;
          height: 4.2408rem;
          position: absolute;
          left: 4.6649rem;
          top: 1.1904rem;
          object-fit: contain;
        }
        .line-14-LMt {
          left: 3.1099rem;
          top: 2.3064rem;
          background-color: #60269e;
          width: 2.8767rem;
          height: 0.1rem;
          position: absolute;
        }
      }
      .group-3485-ff4 {
        width: 8.9154rem;
        height: 8.795rem;
        position: absolute;
        left: 34.8242rem;
        top: 5.2536rem;

        .group-3477-oFU {
          width: 8.9154rem;
          height: 8.795rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          border-radius: 14.4rem;
        }
        .mask-group-jev {
          left: 2.4178rem;
          top: 2.087rem;
          object-fit: contain;
          vertical-align: top;
          width: 4.4577rem;
          height: 4.6211rem;
          position: absolute;
        }
      }
    }
    .rp-320000-rzS {
      top: 47.2rem;
      text-align: center;
      font-weight: 800;
      line-height: 1.2102272511;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      left: 149.2rem;
      font-size: 2.4rem;
      color: #60269e;
      white-space: nowrap;
      width: 15.5rem;
      height: 2.4rem;
    }
    .expenses-yZG {
      top: 50rem;
      font-weight: 600;
      color: #e63a57;
      white-space: nowrap;
      height: 3.4rem;
      position: absolute;
      left: 148.8rem;
      line-height: 1.2102272511;
      font-family: Inter, 'Source Sans Pro';
      width: 15.7rem;
      text-align: center;
      font-size: 3.2rem;
    }
    .group-3474-gyU {
      left: 151.038rem;
      top: 32.4464rem;
      background-size: cover;
      background-position: center;
      box-sizing: border-box;
      padding: 0.65rem 0.767rem 0.65rem 0.657rem;
      width: 15.0104rem;
      height: 3.9027rem;
      background-image: url('REPLACE_IMAGE:4:482');
      position: absolute;
      display: flex;
      align-items: center;
      background-repeat: no-repeat;

      .calendar-1-aZ4 {
        margin-right: 0.8765rem;
        width: 2.6296rem;
        height: 2.6018rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .maret-2022-i9U {
        line-height: 1.2102272511;
        color: #d7c3ec;
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1084rem;
        font-size: 1.6rem;
        font-weight: 800;
        text-align: center;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .decrease-Rpa {
      position: absolute;
      left: 151.4rem;
      top: 37.9rem;
      object-fit: cover;
      vertical-align: top;
      width: 10.4rem;
      height: 8.7rem;
    }
    .mask-group-MTL {
      height: 3.0021rem;
      position: absolute;
      left: 1.426rem;
      top: 22.7664rem;
      object-fit: contain;
      vertical-align: top;
      width: 3.1522rem;
    }
    .rectangle-4207-tiA {
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: rgba(255, 255, 255, 0.8500000238);
      width: 169rem;
      height: 80rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .split-bill-Cyk {
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      width: 100.6rem;
      left: 36.7rem;
      overflow: hidden;
      background-color: #f6eeff;
      border-radius: 12rem;
      height: 59.6rem;
      position: absolute;
      top: 10.9rem;

      .group-6-JG6 {
        width: 32.9092rem;
        height: 27.7516rem;
        position: absolute;
        left: -13.9rem;
        top: 20.9rem;
        object-fit: contain;
        vertical-align: top;
      }
      .mask-group-EfY {
        height: 3.4rem;
        position: absolute;
        left: 12.9rem;
        top: 30.6rem;
        object-fit: contain;
        vertical-align: top;
        width: 3.7rem;
      }
      .mask-group-Zxi {
        width: 3.7rem;
        height: 3.4rem;
        position: absolute;
        left: 12.9rem;
        top: 38.1rem;
        object-fit: contain;
        vertical-align: top;
      }
      .mask-group-7DY {
        vertical-align: top;
        width: 3.7rem;
        height: 3.4rem;
        position: absolute;
        left: 12.9rem;
        top: 16.6rem;
        object-fit: contain;
      }
      .mask-group-eUN {
        object-fit: contain;
        vertical-align: top;
        width: 3.7rem;
        height: 3.4rem;
        position: absolute;
        left: 12.9rem;
        top: 23.2rem;
      }
      .rectangle-4204-BUJ {
        height: 41.3rem;
        position: absolute;
        left: 7.2rem;
        top: 7.5rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 12rem;
        width: 56rem;
      }
      .add-button-ufC {
        top: 40.9rem;
        width: 3.7rem;
        height: 4.4rem;
        position: absolute;
        left: 33.8rem;

        .ellipse-135-rKY {
          left: 0;
          top: 0.6rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #a584c8;
          border-radius: 1.85rem;
          width: 3.7rem;
          height: 3.7rem;
          position: absolute;
        }
        .item--xtN {
          white-space: nowrap;
          height: 4.4rem;
          position: absolute;
          font-size: 3.6rem;
          font-weight: 800;
          line-height: 1.2102272246;
          width: 2.5rem;
          left: 0.6rem;
          top: 0;
          color: #f2ebf9;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .x-g3g {
        left: 89.4rem;
        text-align: center;
        color: #60269e;
        font-family: Inter, 'Source Sans Pro';
        font-size: 6.4rem;
        font-weight: 800;
        line-height: 1.2102272511;
        white-space: nowrap;
        width: 4.7rem;
        height: 4.9rem;
        position: absolute;
        top: 4rem;
      }
      .rectangle-10-zKG {
        left: 68.9rem;
        top: -10.9rem;
        background-color: #60269e;
        width: 88.7rem;
        height: 111.7rem;
        position: absolute;
      }
      .rectangle-10-XKC {
        left: 68.9rem;
        top: 8.8rem;
        background-color: #60269e;
        width: 33.3rem;
        height: 43.1rem;
        position: absolute;
      }
      .group-5-fAW {
        width: 32.9092rem;
        height: 27.7516rem;
        position: absolute;
        left: 77.8908rem;
        top: 14.7188rem;
        object-fit: contain;
        vertical-align: top;
      }
      .ellipse-22-aoG {
        border-radius: 11.35rem;
        width: 22.7rem;
        height: 22.7rem;
        position: absolute;
        left: 77.8rem;
        top: 44.1rem;
        box-sizing: border-box;
        background: linear-gradient(140.67deg, rgba(3, 207, 251, 0) 8.89%, #03cffb 57.48%);
      }
      .ellipse-23-GAJ {
        top: -5.2rem;
        object-fit: contain;
        vertical-align: top;
        width: 30.1rem;
        height: 22.5rem;
        position: absolute;
        left: 61.7rem;
      }
      .transfree-yqQ {
        text-align: center;
        font-size: 3.6rem;
        font-weight: 800;
        font-style: italic;
        color: #60269e;
        font-family: Inter, 'Source Sans Pro';
        left: 72.1rem;
        height: 3.7rem;
        position: absolute;
        top: 4.9rem;
        line-height: 1.2102272246;
        white-space: nowrap;
        width: 17.6rem;
      }
      .recent-split-bill-sQz {
        line-height: 1.2102272246;
        white-space: nowrap;
        width: 28.5rem;
        height: 3.7rem;
        left: 15.2rem;
        font-size: 3.6rem;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        top: 10.6rem;
        font-weight: 800;
        color: #60269e;
      }
      .people-a4W {
        left: 35.2rem;
        font-size: 1.2rem;
        font-family: Inter, 'Source Sans Pro';
        width: 17.6rem;
        position: absolute;
        top: 19.7rem;
        text-align: center;
        font-weight: 600;
        line-height: 1.2102272511;
        color: #a584c8;
        white-space: nowrap;
        height: 3.7rem;
      }
      .vector-143-Gxv {
        left: 15.2rem;
        top: 21.9rem;
        object-fit: contain;
        vertical-align: top;
        width: 42.7rem;
        height: 0rem;
        position: absolute;
      }
      .vector-144-QpE {
        vertical-align: top;
        width: 42.7rem;
        height: 0rem;
        position: absolute;
        left: 15.2rem;
        top: 29rem;
        object-fit: contain;
      }
      .vector-145-Lxn {
        height: 0rem;
        position: absolute;
        left: 15.2rem;
        top: 36rem;
        object-fit: contain;
        vertical-align: top;
        width: 42.7rem;
      }
      .layersfill-5vN {
        object-fit: contain;
        vertical-align: top;
        width: 5.1333rem;
        height: 4.717rem;
        position: absolute;
        left: 64.7833rem;
        top: 5.1875rem;
      }
      .th-dec-2022-0920-pm-obU {
        left: 35.4rem;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.2102272511;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        height: 3.7rem;
        top: 18.1rem;
        text-align: center;
        color: #a584c8;
        width: 17.6rem;
      }
      .buttonsplitbill1-hwk {
        color: #8f68b8;
        width: 22.4rem;
        position: absolute;
        line-height: 1.2102272511;
        font-size: 2.4rem;
        font-weight: 800;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 3.7rem;
        left: 16.2rem;
        top: 18.1rem;
      }
      .mask-group-QbG {
        top: 25.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.1rem;
        height: 2.1rem;
        position: absolute;
        left: 52.4rem;
      }
      .mask-group-Xft {
        width: 2.2rem;
        height: 2.1rem;
        position: absolute;
        left: 54.5rem;
        top: 18.8rem;
        object-fit: contain;
        vertical-align: top;
      }
      .people-Frn {
        font-size: 1.2rem;
        line-height: 1.2102272511;
        color: #a584c8;
        white-space: nowrap;
        width: 17.6rem;
        position: absolute;
        top: 25.9rem;
        font-weight: 600;
        font-family: Inter, 'Source Sans Pro';
        height: 3.7rem;
        left: 35.2rem;
        text-align: center;
      }
      .th-dec-2022-0740-am-ATx {
        font-weight: 600;
        white-space: nowrap;
        width: 17.6rem;
        position: absolute;
        left: 35.4rem;
        top: 24.3rem;
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.2102272511;
        color: #a584c8;
        height: 3.7rem;
        font-family: Inter, 'Source Sans Pro';
      }
      .buttonsplitbill2-rra {
        height: 3.7rem;
        position: absolute;
        top: 24.3rem;
        font-family: Inter, 'Source Sans Pro';
        width: 22.4rem;
        left: 16.2rem;
        font-size: 2.4rem;
        font-weight: 800;
        line-height: 1.2102272511;
        color: #8f68b8;
        white-space: nowrap;
      }
      .mask-group-NK8 {
        left: 54.5rem;
        top: 25.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.2rem;
        height: 2.1rem;
        position: absolute;
      }
    }
    .people-FNv {
      left: 71.9rem;
      line-height: 1.2102272511;
      color: #a584c8;
      top: 44rem;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 600;
      font-family: Inter, 'Source Sans Pro';
      width: 17.6rem;
      height: 3.7rem;
      position: absolute;
      white-space: nowrap;
    }
    .th-dec-2022-0720-am-8xW {
      width: 17.6rem;
      height: 3.7rem;
      left: 72.1rem;
      top: 42.4rem;
      font-weight: 600;
      position: absolute;
      text-align: center;
      font-size: 1.2rem;
      line-height: 1.2102272511;
      color: #a584c8;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .buttonsplitbill3-Eke {
      top: 42.4rem;
      font-weight: 800;
      color: #8f68b8;
      width: 22.4rem;
      height: 3.7rem;
      position: absolute;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      left: 52.9rem;
      font-size: 2.4rem;
      line-height: 1.2102272511;
    }
    .mask-group-YWS {
      object-fit: contain;
      vertical-align: top;
      width: 2.2rem;
      height: 2.1rem;
      position: absolute;
      left: 91.2rem;
      top: 43.2rem;
    }
    .mask-group-5WN {
      width: 2.1rem;
      height: 2.1rem;
      position: absolute;
      left: 89.1rem;
      top: 29.7rem;
      object-fit: contain;
      vertical-align: top;
    }
    .mask-group-bzW {
      vertical-align: top;
      width: 2.1rem;
      height: 2.1rem;
      position: absolute;
      left: 89.1rem;
      top: 43.2rem;
      object-fit: contain;
    }
  }
}
