
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 169rem;
}.register-page-DV8 {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f6eeff;
  box-sizing: border-box;
  padding-left: 17.7rem;
  width: 100%;

  .signup-content-Z3C {
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 20.5rem 6rem 0rem;
    box-sizing: border-box;
    padding-top: 7.1rem;
    width: 55rem;
    align-items: center;
    display: flex;

    .text-input-s3t {
      flex-shrink: 0;
      width: 100%;
      height: 39.6rem;
      position: relative;

      .frame-3364-2Bg {
        width: 42rem;
        height: 13.5rem;
        position: absolute;
        left: 0;
        top: 0;

        .sign-up-ZxJ {
          white-space: nowrap;
          margin-bottom: 2.2rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.2102272511;
          color: #150d0d;
          font-family: Inter, 'Source Sans Pro';
        }
        .auto-group-ueb4-Vqx {
          position: relative;
          width: 100%;
          height: 7.4rem;

          .welcome-to-paybuymax-rAi {
            height: 3.9rem;
            position: absolute;
            left: 0;
            top: 0;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 37.5rem;
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.2102272511;
            color: #000000;
          }
          .by-creating-an-account-you-agree-to-our-terms-and-conditions-and-data-protection-guidelines-jEW {
            height: 7.4rem;
            left: 0;
            color: #3d3c3c;
            white-space: nowrap;
            width: 42rem;
            top: 0;
            font-size: 1.8rem;
            font-weight: 100;
            line-height: 2.0511898465;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            align-items: baseline;
            position: absolute;

            .by-creating-an-account-you-agree-to-our-terms-and-conditions-and-data-protection-guidelines-jEW-sub-0 {
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 100;
              line-height: 2.0511898465;
              color: #3d3c3c;
            }
            .by-creating-an-account-you-agree-to-our-terms-and-conditions-and-data-protection-guidelines-jEW-sub-1 {
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 100;
              line-height: 2.0511898465;
              color: #ffcc29;
            }
            .by-creating-an-account-you-agree-to-our-terms-and-conditions-and-data-protection-guidelines-jEW-sub-2 {
              font-size: 1.8rem;
              font-weight: 100;
              line-height: 2.0511898465;
              color: #3d3c3c;
              font-family: Inter, 'Source Sans Pro';
            }
            .by-creating-an-account-you-agree-to-our-terms-and-conditions-and-data-protection-guidelines-jEW-sub-3 {
              font-size: 1.8rem;
              font-weight: 100;
              line-height: 2.0511898465;
              color: #ffcc29;
              font-family: Inter, 'Source Sans Pro';
            }
            .by-creating-an-account-you-agree-to-our-terms-and-conditions-and-data-protection-guidelines-jEW-sub-4 {
              font-size: 1.8rem;
              font-weight: 100;
              line-height: 2.0511898465;
              color: #3d3c3c;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
      }
      .inputs-NCv {
        position: absolute;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 55rem;
        height: 29.7rem;
        align-items: center;
        top: 9.9rem;
        row-gap: 3rem;

        .group-3331-VHY {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .username-eRL {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.171875;
            color: #150d0d;
          }
          .group-3330-nGe {
            padding: 1.6rem 3rem 1.35rem 3rem;
            width: 100%;
            align-items: center;
            border: solid 0.1rem rgba(102, 102, 102, 0.6000000238);
            box-sizing: border-box;
            display: flex;
            background-color: #ffffff;
            border-radius: 5rem;
            box-shadow: 0.2rem 1.1rem 3rem rgba(242, 68, 5, 0.0799999982);
            flex-shrink: 0;

            .signupuname-heW {
              color: #676767;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.15rem 40.6rem 0rem 0rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.171875;
            }
            .vector-ayC {
              flex-shrink: 0;
              margin-bottom: 0.25rem;
              width: 2.4rem;
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
        .group-3333-eTG {
          flex-shrink: 0;
          width: 100%;
          display: flex;
          flex-direction: column;

          .password-o5G {
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.171875;
            color: #150d0d;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .group-3330-vQn {
            width: 100%;
            align-items: center;
            border: solid 0.1rem rgba(102, 102, 102, 0.6000000238);
            background-color: #ffffff;
            border-radius: 5rem;
            box-shadow: 0.2rem 1.1rem 3rem rgba(242, 68, 5, 0.0799999982);
            box-sizing: border-box;
            display: flex;
            flex-shrink: 0;
            padding: 1.55rem 2.966rem 1.35rem 3rem;

            .signuppass-Fhx {
              flex-shrink: 0;
              margin: 0.2rem 33.534rem 0rem 0rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.171875;
              color: #676767;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
            .vector-nC6 {
              margin-bottom: 0.2rem;
              width: 2.4rem;
              height: 1.9rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .group-3334-Epn {
          flex-shrink: 0;
          width: 100%;
          display: flex;
          flex-direction: column;

          .retype-password-bfL {
            line-height: 1.171875;
            color: #150d0d;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            font-size: 2rem;
            font-weight: 500;
          }
          .group-3330-jFk {
            box-sizing: border-box;
            border: solid 0.1rem rgba(102, 102, 102, 0.6000000238);
            background-color: #ffffff;
            border-radius: 5rem;
            padding: 1.55rem 2.966rem 1.35rem 3rem;
            width: 100%;
            display: flex;
            align-items: center;
            box-shadow: 0.2rem 1.1rem 3rem rgba(242, 68, 5, 0.0799999982);
            flex-shrink: 0;

            .signupretypepass-TSe {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.171875;
              color: #676767;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.2rem 33.534rem 0rem 0rem;
            }
            .vector-aGN {
              margin-bottom: 0.2rem;
              width: 2.4rem;
              height: 1.9rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .auto-group-a6wv-F7c {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 5rem 7.5rem 0rem 7.5rem;
      width: 100%;
      row-gap: 5rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .button-AkN {
        font-weight: 700;
        color: #f0f9f1;
        display: flex;
        box-shadow: 0 1rem 2rem rgba(15, 159, 38, 0.150000006);
        flex-shrink: 0;
        line-height: 1.171875;
        align-items: center;
        justify-content: center;
        background-color: #60269e;
        font-size: 1.8rem;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        width: 100%;
        height: 5rem;
        border-radius: 5rem;
      }
      .frame-3365-qbc {
        display: flex;
        column-gap: 2.2rem;
        align-items: center;
        flex-shrink: 0;
        margin: 0 0.95rem;
        width: calc(100% - 1.9rem);

        .line-12-xw8 {
          height: 0.1rem;
          background-color: #676767;
          flex-shrink: 0;
          margin-top: 0.1rem;
          width: 10.3rem;
        }
        .or-continue-with-Vw4 {
          line-height: 1.171875;
          color: #676767;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
        }
        .line-13-dnN {
          margin-top: 0.1rem;
          width: 10.3rem;
          height: 0.1rem;
          background-color: #676767;
          flex-shrink: 0;
        }
      }
      .other-login-NV4 {
        width: 100%;
        height: 5rem;
        display: flex;
        column-gap: 2rem;
        align-items: center;
        flex-shrink: 0;

        .google-iYv {
          background-color: #ffffff;
          border-radius: 5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.25rem 4.775rem 1.25rem 4.775rem;
          height: 100%;
          box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.25);

          .group-3336-TWW {
            object-fit: contain;
            vertical-align: top;
            width: 2.45rem;
            height: 2.5rem;
            position: relative;
          }
        }
        .apple-xCN {
          height: 100%;
          box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.150000006);
          background-color: #ffffff;
          border-radius: 5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.3rem 4.8rem;

          .apple-1-JX8 {
            height: 2.4rem;
            object-fit: cover;
            vertical-align: top;
            width: 2.4rem;
          }
        }
        .facebook-cXp {
          border-radius: 5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.3rem 4.8rem;
          height: 100%;
          box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;

          .blog-social-icon-hover-facebook-icon-mQi {
            width: 2.4rem;
            height: 2.4rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
    }
  }
  .decor-Smk {
    flex-shrink: 0;
    width: 124.205rem;
    height: 163.35rem;
    position: relative;
    background-color: #60269e;

    .group-6-ZrN {
      width: 85.3049rem;
      height: 71.9356rem;
      position: absolute;
      left: 38.9rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .ellipse-23-hhg {
      height: 58.6rem;
      position: absolute;
      left: 12.7rem;
      top: 58.95rem;
      box-sizing: border-box;
      background: linear-gradient(140.67deg, rgba(3, 207, 251, 0) 8.89%, #03cffb 57.48%);
      border-radius: 29.3rem;
      width: 58.6rem;
    }
    .ellipse-24-bYA {
      position: absolute;
      box-sizing: border-box;
      background-color: #b977ff;
      border-radius: 29.3rem;
      width: 58.6rem;
      height: 58.6rem;
      left: 0.5rem;
      top: 0;
      border: solid 0.3rem #ffffff;
    }
    .rectangle-12-WQE {
      width: 105.7rem;
      height: 111.7rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #60269e;
    }
    .rectangle-13-FMp {
      width: 105.7rem;
      height: 111.7rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #60269e;
    }
    .group-7-CXx {
      left: 38.9rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 85.3049rem;
      height: 71.9356rem;
      position: absolute;
    }
    .ellipse-25-LeA {
      position: absolute;
      left: 12.7rem;
      top: 58.95rem;
      box-sizing: border-box;
      background: linear-gradient(140.67deg, rgba(3, 207, 251, 0) 8.89%, #03cffb 57.48%);
      border-radius: 29.3rem;
      width: 58.6rem;
      height: 58.6rem;
    }
    .ellipse-26-2G6 {
      height: 58.6rem;
      border-radius: 29.3rem;
      border: solid 0.3rem #ffffff;
      box-sizing: border-box;
      background-color: #b977ff;
      width: 58.6rem;
      position: absolute;
      left: 0.5rem;
      top: 0;
    }
    .transfree-jwC {
      width: 24.2rem;
      text-align: center;
      font-weight: 800;
      line-height: 1.2102272034;
      font-size: 4rem;
      font-style: italic;
      color: #d7c2ec;
      font-family: Inter, 'Source Sans Pro';
      height: 5.6rem;
      position: absolute;
      left: 10rem;
      top: 34.8rem;
      white-space: nowrap;
    }
    .layersfill-qzE {
      width: 6.3333rem;
      height: 7.2627rem;
      position: absolute;
      left: 3.9833rem;
      top: 33.8125rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
}
