
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 169rem;
}.transaction-on-progress-FHQ {
  height: 80rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  width: 100%;

  .group-3495-AfG {
    height: 100.2rem;
    position: relative;
    width: 243.7rem;

    .rectangle-9-fc2 {
      left: 0;
      top: 0;
      background-color: #d6c2eb;
      width: 20.9rem;
      height: 93.6rem;
      position: absolute;
    }
    .transfree-ayt {
      position: absolute;
      top: 2.7rem;
      font-size: 2rem;
      line-height: 1.2125;
      font-style: italic;
      white-space: nowrap;
      font-family: Inter, 'Source Sans Pro';
      width: 9.7rem;
      height: 2.5rem;
      left: 5.55rem;
      text-align: center;
      font-weight: 800;
      color: #60269e;
    }
    .group-3467-59x {
      top: 9.5705rem;
      display: flex;
      align-items: flex-start;
      width: 15.1017rem;
      height: 2.5295rem;
      position: absolute;
      left: 1.7983rem;

      .home-1-be6 {
        height: 2.2017rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.2835rem;
        width: 1.9182rem;
      }
      .dashboard-jVQ {
        font-size: 2rem;
        font-weight: 800;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.0295rem;
        text-align: center;
        color: #60269e;
      }
    }
    .group-3468-Fie {
      top: 13.2859rem;
      display: flex;
      align-items: center;
      width: 17.9835rem;
      height: 3.7842rem;
      position: absolute;
      left: 1.1389rem;

      .transaction-1-NYN {
        margin-right: 1.22rem;
        width: 3.6634rem;
        height: 3.7842rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .transactions-7F4 {
        white-space: nowrap;
        font-weight: 800;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        color: #60269e;
        flex-shrink: 0;
        margin-bottom: 0.0355rem;
        text-align: center;
        font-size: 2rem;
      }
    }
    .group-3469-dz6 {
      width: 12.8017rem;
      height: 2.5rem;
      position: absolute;
      left: 1.7983rem;
      top: 18.6rem;
      display: flex;
      align-items: flex-start;

      .send-1-Az2 {
        width: 1.9781rem;
        height: 2.2705rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.053rem 2.324rem 0rem 0rem;
      }
      .transfer-hDG {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
        line-height: 1.2125;
        color: #60269e;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .notification-dMp {
      width: 11.7rem;
      position: absolute;
      left: 6.0231rem;
      top: 23.1rem;
      font-size: 2rem;
      line-height: 1.2125;
      color: #60269e;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.5rem;
      text-align: center;
      font-weight: 800;
    }
    .group-3472-KVY {
      width: 11.4333rem;
      height: 2.5rem;
      position: absolute;
      left: 1.7983rem;
      top: 32.0728rem;
      display: flex;
      align-items: flex-end;

      .logout-1-T5x {
        margin: 0rem 2.055rem 0.027rem 0rem;
        width: 1.9781rem;
        height: 2.2705rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .log-out-agN {
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
        line-height: 1.2125;
        color: #60269e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-3471-Ktr {
      top: 27.4rem;
      display: flex;
      align-items: center;
      width: 11.4017rem;
      height: 2.5rem;
      position: absolute;
      left: 1.7983rem;

      .settings-1-sQa {
        margin: 0.096rem 2.184rem 0rem 0rem;
        width: 1.9182rem;
        height: 2.2017rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .setting-Chk {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
        line-height: 1.2125;
        color: #60269e;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .layersfill-kUN {
      top: 1.65rem;
      object-fit: contain;
      vertical-align: top;
      width: 3rem;
      height: 3.8845rem;
      position: absolute;
      left: 1.85rem;
    }
    .rectangle-10-gsp {
      border-radius: 1rem;
      width: 221.7rem;
      height: 14.1rem;
      position: absolute;
      left: 21.7rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .rectangle-16-1v6 {
      height: 24.4rem;
      position: absolute;
      left: 125.7rem;
      top: 31.1rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 1rem;
      width: 42rem;
    }
    .dashboard-Yf8 {
      left: 23.95rem;
      top: 1.3rem;
      text-align: center;
      font-size: 3.6rem;
      white-space: nowrap;
      width: 19.5rem;
      height: 4.4rem;
      position: absolute;
      font-weight: 800;
      line-height: 1.2125;
      color: #60269e;
      font-family: Inter, 'Source Sans Pro';
    }
    .rp-350000-SVc {
      font-size: 2.4rem;
      color: #60269e;
      height: 3rem;
      position: absolute;
      left: 129.9rem;
      text-align: center;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 15rem;
      top: 47.1rem;
      font-weight: 800;
      line-height: 1.2125;
    }
    .group-3481-MMg {
      width: 40.5rem;
      position: absolute;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:1:227');
      border-radius: 1rem;
      box-sizing: border-box;
      padding: 0.901rem 1.863rem 1.089rem 1.863rem;
      height: 19.8888rem;
      left: 21.8rem;
      top: 8.4rem;
      background-size: cover;
      background-position: center;

      .balance-eLn {
        width: 100%;
        font-weight: 800;
        font-family: Inter, 'Source Sans Pro';
        line-height: 1.2125;
        color: #60269e;
        white-space: nowrap;
        margin-bottom: 3.505rem;
        text-align: center;
        font-size: 3rem;
      }
      .rp-12345678-mRQ {
        text-align: center;
        font-weight: 800;
        line-height: 1.2125;
        width: 100%;
        font-size: 3.6rem;
        color: #60269e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 3.7944rem;
      }
      .wallet-id-87654321-VsC {
        color: #60269e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 100%;
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
        line-height: 1.2125;
      }
    }
    .group-3479-bvE {
      width: 94.3866rem;
      height: 25.0115rem;
      position: absolute;
      left: 23.55rem;
      top: 28.5rem;

      .recent-transactions-vxW {
        margin-bottom: 2.3rem;
        line-height: 1.2125;
        color: #d7c3ec;
        width: 100%;
        text-align: center;
        font-size: 3rem;
        font-weight: 800;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-wqks-f9Q {
        margin: 0rem 5.209rem 0.377rem 3.109rem;
        width: calc(100% - 8.3174rem);
        display: flex;
        align-items: flex-start;

        .name-NpW {
          margin: 0.1rem 34.008rem 0rem 0rem;
          font-size: 1.6rem;
          white-space: nowrap;
          text-align: center;
          font-weight: 300;
          line-height: 1.2125;
          color: #60269e;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .date-HwU {
          color: #60269e;
          margin-right: 20.722rem;
          text-align: center;
          font-weight: 300;
          line-height: 1.2125;
          font-size: 1.6rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .status-Rnn {
          font-size: 1.6rem;
          font-weight: 300;
          color: #60269e;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 12.639rem;
          text-align: center;
          line-height: 1.2125;
        }
        .amount-AVU {
          text-align: center;
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #60269e;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-dw2n-6tv {
        margin: 0rem 0rem 0.052rem 3.791rem;
        display: flex;
        align-items: center;

        .dhaifan-satriaji-id-80972345-2na {
          margin-right: 26.8931rem;
          max-width: 11.8rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2102272034;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;

          .dhaifan-satriaji-id-80972345-2na-sub-0 {
            line-height: 1.2125;
            color: #d7c3ec;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 600;
          }
          .dhaifan-satriaji-id-80972345-2na-sub-1 {
            font-weight: 400;
            line-height: 1.2125;
            color: #d7c3ec;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.2rem;
          }
        }
        .mar-17-2022-Sjp {
          text-align: center;
          font-weight: 400;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 11.63rem 0.3rem 0rem;
          font-size: 2rem;
          line-height: 1.2125;
        }
        .receive-mGJ {
          color: #2cd03c;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 2rem;
          line-height: 1.2125;
          margin: 0rem 9.072rem 0.3rem 0rem;
          font-weight: 400;
        }
        .rp-50000-VTC {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2996rem;
        }
      }
      .auto-group-w2k8-2i2 {
        margin: 0rem 0rem 0.571rem 3.791rem;
        display: flex;
        align-items: flex-end;

        .ramadhan-wahyu-id-25023897-MkJ {
          white-space: nowrap;
          display: flex;
          margin: 0rem 17.724rem 0.8rem 0rem;
          font-size: 2rem;
          font-weight: 400;
          color: #d7c3ec;
          line-height: 1.2102272034;
          font-family: Inter, 'Source Sans Pro';
          align-items: baseline;
          flex-shrink: 0;

          .ramadhan-wahyu-id-25023897-MkJ-sub-0 {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #d7c3ec;
            font-family: Inter, 'Source Sans Pro';
          }
          .ramadhan-wahyu-id-25023897-MkJ-sub-1 {
            font-size: 1.1rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #d7c3ec;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .mar-15-2022-4YE {
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          margin-right: 11.2999rem;
          color: #d7c3ec;
        }
        .receive-zRt {
          line-height: 1.2125;
          color: #2cd03d;
          margin-right: 9.0722rem;
          font-size: 2rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
        }
        .rp-100000-Xgi {
          line-height: 1.2125;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
        }
      }
      .auto-group-nvfq-GuC {
        align-items: flex-end;
        margin: 0rem 0rem 0.652rem 3.75rem;
        display: flex;

        .alifia-ayu-masita-id-34508923-QkW {
          margin: 0rem 18.665rem 0.807rem 0rem;
          font-size: 2rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          align-items: baseline;
          line-height: 1.2102272034;
          color: #d7c3ec;
          white-space: nowrap;
          flex-shrink: 0;

          .alifia-ayu-masita-id-34508923-QkW-sub-0 {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #d7c3ec;
            font-family: Inter, 'Source Sans Pro';
          }
          .alifia-ayu-masita-id-34508923-QkW-sub-1 {
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.1rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #d7c3ec;
          }
        }
        .mar-13-2022-vsG {
          font-family: Inter, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #d7c3ec;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 11.3819rem;
          text-align: center;
        }
        .payment-TsC {
          text-align: center;
          line-height: 1.2125;
          color: #d91c1c;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 8.19rem 0.007rem 0rem;
          font-size: 2rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
        }
        .rp-120000-z6S {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-9dzp-io8 {
        margin: 0rem 0rem 0.652rem 3.791rem;
        display: flex;
        align-items: flex-end;

        .ilham-fachlevi-id-90384634-dQJ {
          line-height: 1.2102272034;
          color: #d7c3ec;
          white-space: nowrap;
          margin: 0rem 20.424rem 0.8rem 0rem;
          font-size: 2rem;
          font-weight: 400;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          align-items: baseline;

          .ilham-fachlevi-id-90384634-dQJ-sub-0 {
            line-height: 1.2125;
            color: #d7c3ec;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 600;
          }
          .ilham-fachlevi-id-90384634-dQJ-sub-1 {
            line-height: 1.2125;
            color: #d7c3ec;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.1rem;
            font-weight: 400;
          }
        }
        .mar-10-2022-9mx {
          line-height: 1.2125;
          color: #d7c3ec;
          text-align: center;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 11.3203rem;
          font-size: 2rem;
        }
        .receive-5Qi {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 9.0518rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #2cd03d;
          font-family: Inter, 'Source Sans Pro';
        }
        .rp-70000-pNJ {
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
        }
      }
      .auto-group-t9hg-ABG {
        margin-left: 3.7908rem;
        display: flex;
        align-items: flex-end;

        .hedya-tiesyapana-id-62094756-VzE {
          font-weight: 400;
          line-height: 1.2102272034;
          white-space: nowrap;
          display: flex;
          align-items: baseline;
          flex-shrink: 0;
          font-size: 2rem;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
          margin: 0rem 17.354rem 0.8rem 0rem;

          .hedya-tiesyapana-id-62094756-VzE-sub-0 {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #d7c3ec;
            font-family: Inter, 'Source Sans Pro';
          }
          .hedya-tiesyapana-id-62094756-VzE-sub-1 {
            font-size: 1.1rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #d7c3ec;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .mar-09-2022-chU {
          margin-right: 11.0513rem;
          font-size: 2rem;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-weight: 400;
          line-height: 1.2125;
        }
        .payment-Z6v {
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #d91c1c;
          font-family: Inter, 'Source Sans Pro';
          margin: 0rem 8.19rem 0.007rem 0rem;
          text-align: center;
          white-space: nowrap;
        }
        .rp-200000-5qx {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #d7c3ec;
        }
      }
    }
    .overview-2mC {
      text-align: center;
      font-size: 3rem;
      font-weight: 800;
      font-family: Inter, 'Source Sans Pro';
      width: 14.3rem;
      top: 31.8rem;
      left: 126.9697rem;
      line-height: 1.2125;
      color: #60269e;
      white-space: nowrap;
      height: 3.7rem;
      position: absolute;
    }
    .group-3483-9av {
      top: 57.2rem;
      border-radius: 1rem;
      width: 41.9541rem;
      height: 21.4894rem;
      position: absolute;
      left: 125.7rem;

      .group-3483-tYW {
        box-sizing: border-box;
        height: 100%;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:1:260');
        background-size: cover;
        background-position: center;
        border-radius: 1rem;
        padding: 1.3rem 0.7rem 1.218rem 0.7rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        .have-something-to-pay-pBG {
          width: 100%;
          line-height: 1.2125;
          flex-shrink: 0;
          margin-bottom: 0.6852rem;
          font-size: 3rem;
          font-weight: 800;
          color: #60269e;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
        }
        .use-your-qr-to-pay-with-transfree-XrN {
          font-weight: 600;
          line-height: 1.2125;
          color: #60269e;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 7.113rem 0.174rem;
          font-size: 2rem;
        }
        .group-3473-SCe {
          background-size: cover;
          flex-shrink: 0;
          margin-left: 1.6742rem;
          line-height: 1.2125;
          color: #60269e;
          display: flex;
          background-position: center;
          height: 4.9735rem;
          font-size: 2rem;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:1:263');
          text-align: center;
          white-space: nowrap;
          font-family: Inter, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          border-radius: 1rem;
          width: 19.2814rem;
          font-weight: 500;
        }
      }
    }
    .income-5WW {
      line-height: 1.2125;
      color: #5ab267;
      font-family: Inter, 'Source Sans Pro';
      left: 131.95rem;
      top: 50.2rem;
      text-align: center;
      font-size: 3.2rem;
      font-weight: 600;
      width: 11.4rem;
      height: 3.9rem;
      position: absolute;
      white-space: nowrap;
    }
    .group-3486-P1Q {
      width: 101.3rem;
      background-image: url('REPLACE_IMAGE:1:268');
      top: 57.2rem;
      background-size: cover;
      background-repeat: no-repeat;
      box-sizing: border-box;
      padding: 0.7rem 1.55rem 5.5rem 1.55rem;
      height: 21.5rem;
      position: absolute;
      left: 21.9rem;
      background-position: center;
      border-radius: 1rem;

      .upcoming-payments-V4S {
        line-height: 1.2125;
        color: #60269e;
        white-space: nowrap;
        font-weight: 800;
        width: 100%;
        text-align: center;
        font-size: 3rem;
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 1.5rem;
      }
      .group-3466-cer {
        height: 10.1rem;
        display: flex;
        align-items: center;
        margin: 0rem 5.25rem 0rem 2.668rem;
        width: calc(100% - 7.9184rem);

        .auto-group-sopk-Lar {
          margin: 0.6rem 17.655rem 0.9rem 0rem;
          width: 21.2816rem;
          height: calc(100% - 1.5rem);
          flex-shrink: 0;

          .name-Fxi {
            margin-bottom: 0.5rem;
            width: 100%;
            font-size: 1.6rem;
            font-weight: 300;
            color: #60269e;
            white-space: nowrap;
            text-align: center;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
          }
          .spotify-premiuim-id-80238345-C7G {
            margin: 0rem 0rem 2.1rem 0.882rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            font-size: 2rem;
            line-height: 1.2102272034;
            color: #60269e;
            align-items: baseline;

            .spotify-premiuim-id-80238345-C7G-sub-0 {
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.2125;
              color: #60269e;
              font-family: Inter, 'Source Sans Pro';
            }
            .spotify-premiuim-id-80238345-C7G-sub-1 {
              font-weight: 400;
              line-height: 1.2125;
              color: #60269e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.1rem;
            }
          }
          .netflix-id-25397497-vhU {
            font-weight: 400;
            align-items: baseline;
            margin-left: 1.1816rem;
            font-size: 2rem;
            line-height: 1.2102272034;
            color: #60269e;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;

            .netflix-id-25397497-vhU-sub-0 {
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.2125;
              color: #60269e;
              font-family: Inter, 'Source Sans Pro';
            }
            .netflix-id-25397497-vhU-sub-1 {
              line-height: 1.2125;
              color: #60269e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
            }
            .netflix-id-25397497-vhU-sub-2 {
              line-height: 1.2125;
              color: #60269e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.1rem;
              font-weight: 400;
            }
          }
        }
        .auto-group-pvdu-qxr {
          margin: 0.3rem 10.141rem 0rem 0rem;
          width: 14.1438rem;
          flex-shrink: 0;

          .date-a9k {
            width: 100%;
            text-align: center;
            font-weight: 300;
            line-height: 1.2125;
            color: #60269e;
            margin-bottom: 0.8rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 1.6rem;
          }
          .mar-30-2022-K7L {
            color: #60269e;
            font-family: Inter, 'Source Sans Pro';
            margin-bottom: 2rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2125;
            width: 100%;
            text-align: center;
            white-space: nowrap;
          }
          .mar-30-2022-3p2 {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #60269e;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 100%;
            text-align: center;
          }
        }
        .auto-group-c44n-b4r {
          flex-shrink: 0;
          margin: 0rem 7.455rem 0.4rem 0rem;
          width: 8.1052rem;

          .status-ifG {
            font-weight: 300;
            margin-bottom: 1.1rem;
            width: 100%;
            text-align: center;
            font-size: 1.6rem;
            line-height: 1.2125;
            color: #60269e;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .pending-4DL {
            line-height: 1.2125;
            color: #d98d1c;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 400;
            white-space: nowrap;
            margin-bottom: 1.6rem;
            width: 100%;
            text-align: center;
          }
          .pending-axN {
            white-space: nowrap;
            width: 100%;
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #d98d1c;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .auto-group-vzdl-8iz {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-top: 0.6rem;

          .amount-J1C {
            font-family: Inter, 'Source Sans Pro';
            margin: 0rem 2.095rem 0.9rem 0rem;
            text-align: center;
            line-height: 1.2125;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 300;
            color: #60269e;
          }
          .rp-59000-R5p {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0.1rem 1.6rem 0rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #60269e;
          }
          .rp-149000-LyU {
            color: #60269e;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 0.2rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2125;
          }
        }
      }
    }
    .group-3480-rB8 {
      box-sizing: border-box;
      height: 19.8888rem;
      position: absolute;
      left: 125.7012rem;
      background-image: url('REPLACE_IMAGE:1:284');
      padding: 0.675rem 1.094rem 4.789rem 1.094rem;
      width: 42.0471rem;
      top: 8.6rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      .profile-9vv {
        text-align: center;
        font-size: 3rem;
        font-weight: 800;
        color: #60269e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.5245rem;
        width: 100%;
        line-height: 1.2125;
      }
      .auto-group-nwxt-HXL {
        margin: 0rem 5.365rem 0rem 2.583rem;
        width: calc(100% - 7.9481rem);
        height: 10.2rem;
        display: flex;
        align-items: flex-start;

        .group-3478-cJi {
          object-fit: contain;
          vertical-align: top;
          border-radius: 14.4rem;
          flex-shrink: 0;
          margin: 0.279rem 2.805rem 0rem 0rem;
          width: 9.3815rem;
          height: 8.7865rem;
        }
        .auto-group-shbk-ice {
          flex-shrink: 0;
          width: 19.7242rem;
          height: 100%;

          .dadang-korneto-fGz {
            color: #60269e;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.9rem;
            width: 100%;
            text-align: center;
          }
          .dangskygmailcom-bRY {
            margin-bottom: 1.3rem;
            width: 100%;
            font-size: 2rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            text-align: center;
            line-height: 1.2125;
            color: #60269e;
            white-space: nowrap;
          }
          .item-0878923642194-vyc {
            color: #60269e;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 100%;
            text-align: center;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.2125;
          }
        }
      }
    }
    .increase-SSA {
      width: 10.2rem;
      height: 8.7rem;
      position: absolute;
      left: 132.6rem;
      top: 37.9rem;
      object-fit: cover;
      vertical-align: top;
    }
    .group-3482-yS6 {
      padding: 0.45rem 0.73rem 1.2rem 0.73rem;
      height: 19.9rem;
      background-position: center;
      top: 8.6rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:1:293');
      box-sizing: border-box;
      width: 59.2rem;
      position: absolute;
      left: 64rem;

      .product-t3G {
        text-align: center;
        font-size: 3rem;
        font-weight: 800;
        line-height: 1.2125;
        color: #60269e;
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 1.0283rem;
        width: 100%;
        white-space: nowrap;
      }
      .auto-group-yf6w-1dg {
        margin: 0rem 0rem 2.012rem 1.772rem;
        display: flex;
        align-items: center;

        .image-1-Y7p {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 6.605rem 0.076rem 0rem;
          width: 9.5316rem;
          height: 8.7944rem;
        }
        .group-3484-ruC {
          height: 8.7792rem;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 6.211rem 0.091rem 0rem;
          width: 9.1742rem;

          .group-3476-aqC {
            height: 8.7792rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            border-radius: 14.4rem;
            width: 9.1742rem;
          }
          .mask-group-v8N {
            width: 5.3646rem;
            height: 2.3808rem;
            position: absolute;
            left: 0.0778rem;
            top: 4.2408rem;
            object-fit: contain;
            vertical-align: top;
          }
          .mask-group-rGv {
            height: 4.2408rem;
            position: absolute;
            left: 4.6649rem;
            top: 1.1904rem;
            object-fit: contain;
            vertical-align: top;
            width: 3.1876rem;
          }
          .line-14-xKx {
            width: 2.8767rem;
            height: 0.1rem;
            position: absolute;
            left: 3.1099rem;
            top: 2.3064rem;
            background-color: #60269e;
          }
        }
        .group-3485-HNE {
          position: relative;
          flex-shrink: 0;
          margin-top: 0.0751rem;
          width: 8.9154rem;
          height: 8.795rem;

          .group-3477-QSr {
            border-radius: 14.4rem;
            width: 8.9154rem;
            height: 8.795rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: contain;
            vertical-align: top;
          }
          .mask-group-kFp {
            top: 2.087rem;
            object-fit: contain;
            vertical-align: top;
            width: 4.4577rem;
            height: 4.6211rem;
            position: absolute;
            left: 2.4178rem;
          }
        }
      }
      .auto-group-djca-5J6 {
        margin-left: 2.8698rem;
        display: flex;
        align-items: flex-end;

        .top-up-Rcr {
          color: #60269e;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 5.4167rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
        }
        .phone-tokens-9ok {
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 3.783rem 0.139rem 0rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          color: #60269e;
          white-space: nowrap;
        }
        .split-bills-fXC {
          line-height: 1.2125;
          color: #60269e;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
        }
      }
    }
    .rp-320000-aeA {
      white-space: nowrap;
      left: 149.5rem;
      top: 47.2rem;
      font-size: 2.4rem;
      font-weight: 800;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 14.9rem;
      height: 3rem;
      position: absolute;
      text-align: center;
      color: #60269e;
    }
    .expenses-gx6 {
      font-family: Inter, 'Source Sans Pro';
      width: 15.1rem;
      left: 149.1rem;
      top: 50rem;
      text-align: center;
      color: #e63a57;
      white-space: nowrap;
      height: 3.9rem;
      position: absolute;
      font-size: 3.2rem;
      font-weight: 600;
      line-height: 1.2125;
    }
    .group-3474-8ZC {
      align-items: center;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:1:318');
      top: 32.4464rem;
      display: flex;
      width: 15.0104rem;
      height: 3.9027rem;
      position: absolute;
      left: 151.038rem;
      background-size: cover;
      background-position: center;
      box-sizing: border-box;
      padding: 0.65rem 1.207rem 0.65rem 0.657rem;

      .calendar-1-EML {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.3165rem;
        width: 2.6296rem;
        height: 2.6018rem;
        object-fit: cover;
      }
      .maret-2022-mcA {
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        text-align: center;
        font-weight: 800;
        color: #d7c3ec;
        margin-top: 0.0486rem;
      }
    }
    .decrease-tRt {
      object-fit: cover;
      vertical-align: top;
      width: 10.4rem;
      height: 8.7rem;
      position: absolute;
      left: 151.4rem;
      top: 37.9rem;
    }
    .mask-group-Rgi {
      left: 1.426rem;
      top: 22.7664rem;
      object-fit: contain;
      vertical-align: top;
      width: 3.1522rem;
      height: 3.0021rem;
      position: absolute;
    }
    .rectangle-4207-xwY {
      width: 169rem;
      height: 80rem;
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: rgba(255, 255, 255, 0.8500000238);
    }
    .on-progress-Uut {
      top: 15.6rem;
      border-radius: 12rem;
      width: 100.6rem;
      height: 59.6rem;
      position: absolute;
      left: 35.7rem;

      .transfer-normal-cmC {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #f6eeff;
        border-radius: 12rem;

        .group-6-jqp {
          width: 32.9092rem;
          height: 27.7516rem;
          position: absolute;
          left: -13.9rem;
          top: 20.9rem;
          object-fit: contain;
          vertical-align: top;
        }
        .x-fjU {
          height: 7.8rem;
          left: 89.35rem;
          font-weight: 800;
          font-family: Inter, 'Source Sans Pro';
          line-height: 1.2125;
          color: #60269e;
          white-space: nowrap;
          width: 4.8rem;
          position: absolute;
          top: 4rem;
          text-align: center;
          font-size: 6.4rem;
        }
        .buttonnexttop-ykA {
          border-radius: 5rem;
          width: 20.3rem;
          font-size: 1.8rem;
          font-weight: 500;
          background: linear-gradient(95.33deg, #b977ff -11.97%, #60269e 105%);
          left: 47.3rem;
          top: 51.1rem;
          white-space: nowrap;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          display: flex;
          align-items: center;
          height: 5.1rem;
          position: absolute;
          line-height: 1.1725;
          justify-content: center;
        }
        .buttonbacktop-R6N {
          top: 51.1rem;
          font-size: 1.8rem;
          line-height: 1.1725;
          align-items: center;
          width: 20.3rem;
          left: 6.8rem;
          color: #ffffff;
          height: 5.1rem;
          font-weight: 500;
          border-radius: 5rem;
          font-family: Roboto, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          background: linear-gradient(95.33deg, #60269e -11.97%, #d7c3ec 105%);
          position: absolute;
          white-space: nowrap;
        }
        .rectangle-10-sj4 {
          width: 88.7rem;
          height: 111.7rem;
          position: absolute;
          left: 68.9rem;
          top: -15.6rem;
          background-color: #60269e;
        }
        .rectangle-10-D2E {
          height: 43.1rem;
          position: absolute;
          left: 68.9rem;
          top: 8.8rem;
          background-color: #60269e;
          width: 33.3rem;
        }
        .group-5-9Rg {
          vertical-align: top;
          width: 32.9092rem;
          height: 27.7516rem;
          position: absolute;
          left: 77.7908rem;
          top: 14.7188rem;
          object-fit: contain;
        }
        .ellipse-22-gRc {
          border-radius: 11.35rem;
          width: 22.7rem;
          height: 22.7rem;
          position: absolute;
          left: 77.7rem;
          top: 44.1rem;
          box-sizing: border-box;
          background: linear-gradient(140.67deg, rgba(3, 207, 251, 0) 8.89%, #03cffb 57.48%);
        }
        .ellipse-23-y9p {
          object-fit: contain;
          vertical-align: top;
          width: 30.1rem;
          height: 22.5rem;
          position: absolute;
          left: 61.6rem;
          top: -5.2rem;
        }
        .transfree-JSz {
          font-size: 3.6rem;
          font-weight: 800;
          font-style: italic;
          color: #60269e;
          left: 72.1rem;
          height: 4.4rem;
          position: absolute;
          top: 4.9rem;
          text-align: center;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 17.4rem;
        }
        .layersfill-1sC {
          object-fit: contain;
          vertical-align: top;
          width: 5.1333rem;
          height: 4.717rem;
          position: absolute;
          left: 64.9833rem;
          top: 4.3875rem;
        }
        .one-step-closer-MgA {
          line-height: 1.2125;
          color: #60269e;
          height: 3rem;
          left: 10.4rem;
          top: 8.9rem;
          font-size: 2.4rem;
          font-weight: 800;
          width: 19.3rem;
          position: absolute;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .transfree-is-checking-your-payment-09-55-fgr {
          white-space: nowrap;
          display: flex;
          align-items: baseline;
          height: 2rem;
          position: absolute;
          top: 11.9rem;
          color: #60269e;
          font-family: Inter, 'Source Sans Pro';
          width: 33.5rem;
          left: 10.4rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.2102272511;

          .transfree-is-checking-your-payment-09-55-fgr-sub-0 {
            color: #60269e;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2125;
          }
          .transfree-is-checking-your-payment-09-55-fgr-sub-1 {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #e63a57;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .after-your-payment-confirmed-your-transaction-sucess-XMg {
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 42.5rem;
          font-weight: 600;
          left: 10.4rem;
          top: 16.3rem;
          font-size: 1.6rem;
          color: #60269e;
          height: 2rem;
          position: absolute;
        }
        .ellipse-131-pra {
          border-radius: 0.65rem;
          width: 1.3rem;
          height: 1.3rem;
          position: absolute;
          left: 12.1rem;
          top: 14.5rem;
          background-color: #a584c8;
        }
        .ellipse-132-ZJN {
          background-color: #a584c8;
          border-radius: 0.45rem;
          width: 0.9rem;
          height: 0.9rem;
          position: absolute;
          left: 15.2rem;
          top: 14.6rem;
        }
        .ellipse-133-HVG {
          width: 0.5rem;
          height: 0.5rem;
          position: absolute;
          left: 17.9rem;
          top: 14.8rem;
          background-color: #a584c8;
          border-radius: 0.25rem;
        }
        .group-3487-d3L {
          left: 4.7rem;
          top: 21.1rem;
          width: 59rem;
          height: 9.9rem;
          position: absolute;

          .mask-group-MEE {
            position: absolute;
            background-size: cover;
            background-position: center;
            background-image: url('REPLACE_IMAGE:1:357');
            top: 0;
            background-repeat: no-repeat;
            box-sizing: border-box;
            padding: 1.3rem 31.6rem 1.3rem 25.3rem;
            width: 59rem;
            height: 9.9rem;
            left: 0;

            .auto-group-yjca-5AE {
              width: 2.1rem;
              height: 2.1rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .vector-136-VUr {
            top: 4.45rem;
            object-fit: contain;
            vertical-align: top;
            width: 51.9rem;
            height: 0;
            position: absolute;
            left: 2.55rem;
          }
          .vector-137-EBY {
            position: absolute;
            left: 2.2rem;
            top: 7.5rem;
            object-fit: contain;
            vertical-align: top;
            width: 13.9rem;
            height: 0;
          }
          .transaction-id-tf18237517-xtE {
            font-weight: 600;
            line-height: 1.2125;
            color: #c19aeb;
            white-space: nowrap;
            display: flex;
            width: 22rem;
            left: 2.1rem;
            top: 1.3rem;
            font-family: Inter, 'Source Sans Pro';
            align-items: baseline;
            height: 2rem;
            position: absolute;
            font-size: 1.6rem;

            .transaction-id-tf18237517-xtE-sub-0 {
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.2125;
              color: #8f68b8;
              font-family: Inter, 'Source Sans Pro';
            }
            .transaction-id-tf18237517-xtE-sub-1 {
            }
            .transaction-id-tf18237517-xtE-sub-2 {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.2125;
            }
            .transaction-id-tf18237517-xtE-sub-3 {
              line-height: 1.2125;
              color: #8f68b8;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 600;
            }
          }
          .detail-transaction-ygr {
            width: 14.1rem;
            height: 2rem;
            font-size: 1.6rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            left: 2.1rem;
            top: 5.8rem;
            font-weight: 600;
            color: #8f68b8;
          }
        }
        .rectangle-4205-grA {
          left: 4.7rem;
          top: 32.1rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 2.5rem;
          width: 59rem;
          height: 9.9rem;
          position: absolute;
        }
        .if-your-transaction-have-a-trouble-try-to-upload-the-transaction-bills-phU {
          color: #8f68b8;
          font-family: Inter, 'Source Sans Pro';
          position: absolute;
          top: 33rem;
          text-align: center;
          line-height: 1.2125;
          font-weight: 400;
          width: 35.5rem;
          height: 3.9rem;
          left: 16.15rem;
          font-size: 1.6rem;
        }
        .button-WaJ {
          width: 21.5rem;
          height: 2.7rem;
          position: absolute;
          left: 23.4rem;
          display: flex;
          border-radius: 5rem;
          box-sizing: border-box;
          padding: 0.45rem 4.4rem 0.45rem 6.05rem;
          top: 37.6rem;
          align-items: center;
          box-shadow: 0 1rem 2rem rgba(15, 159, 38, 0.150000006);
          background-color: #60269e;

          .image-upload-oZQ {
            line-height: 1.1725;
            color: #d7c2ec;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.05rem;
            font-size: 1.5rem;
            font-weight: 700;
          }
          .mask-group-jhx {
            margin-top: 0.1rem;
            width: 1.6rem;
            height: 1.6rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .content-copy-ScN {
          object-fit: contain;
          vertical-align: top;
          width: 9.6rem;
          height: 9.6rem;
          position: absolute;
          left: 18.2rem;
          top: 14rem;
        }
      }
    }
    .step-w3L {
      align-items: flex-start;
      width: 50.6rem;
      height: 5.4rem;
      position: absolute;
      left: 64.1rem;
      top: 5.7rem;
      display: flex;

      .auto-group-cmvn-4dk {
        line-height: 1.2125;
        justify-content: center;
        text-align: center;
        font-weight: 800;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        background-color: #d7c3ec;
        border-radius: 2.65rem;
        height: 5.3rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;
        margin-right: 0.05rem;
        font-size: 2.4rem;
        color: #ffffff;
        display: flex;
        width: 5.3rem;
      }
      .auto-group-f78r-uuG {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        width: 39.95rem;

        .vector-135-SuC {
          left: 0;
          top: 2.65rem;
          object-fit: contain;
          vertical-align: top;
          width: 39.95rem;
          height: 0;
          position: absolute;
        }
        .ellipse-128-zfp {
          width: 5.3rem;
          height: 5.3rem;
          position: absolute;
          left: 9.05rem;
          top: 0.1rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #d7c3ec;
          border-radius: 2.65rem;
        }
        .ellipse-129-WPG {
          position: absolute;
          left: 23.45rem;
          top: 0;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #60269e;
          border-radius: 2.65rem;
          width: 5.3rem;
          height: 5.3rem;
        }
        .item-2-2cW {
          line-height: 1.2125;
          height: 3rem;
          left: 10.85rem;
          font-size: 2.4rem;
          font-weight: 800;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 1.6rem;
          position: absolute;
          top: 1.2rem;
          text-align: center;
        }
        .item-3-9SE {
          position: absolute;
          top: 1.2rem;
          text-align: center;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          line-height: 1.2125;
          white-space: nowrap;
          width: 1.7rem;
          height: 3rem;
          left: 25.25rem;
          font-size: 2.4rem;
          font-weight: 800;
        }
      }
      .auto-group-vsb8-etn {
        font-weight: 800;
        border-radius: 2.65rem;
        flex-shrink: 0;
        color: #ffffff;
        display: flex;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        width: 5.3rem;
        text-align: center;
        font-size: 2.4rem;
        background-color: #d7c3ec;
        height: 5.3rem;
        font-family: Inter, 'Source Sans Pro';
        justify-content: center;
        line-height: 1.2125;
        white-space: nowrap;
        align-items: center;
      }
    }
  }
}
