
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 169rem;
}.transfer-TFt {
  background-color: #ffffff;
  width: 100%;
  height: 80rem;
  overflow: hidden;
  position: relative;

  .group-3489-zFp {
    height: 100.2rem;
    position: relative;
    width: 243.7rem;

    .group-3479-6Zk {
      left: 20.1rem;
      top: 28.5rem;
      width: 100.2026rem;
      height: 25.1383rem;
      position: absolute;

      .recent-transactions-QqL {
        line-height: 1.2102272034;
        white-space: nowrap;
        width: 100%;
        font-size: 3rem;
        font-weight: 800;
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 3.3rem;
        text-align: center;
        color: #d7c3ec;
      }
      .auto-group-sgxc-7Dx {
        margin: 0rem 6.983rem 0.951rem 6.1rem;
        width: calc(100% - 13.083rem);
        display: flex;
        align-items: flex-start;

        .name-cwQ {
          line-height: 1.2102272511;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.1rem 33.182rem 0rem 0rem;
          font-size: 1.6rem;
          color: #60269e;
          font-family: Inter, 'Source Sans Pro';
          text-align: center;
          font-weight: 300;
        }
        .date-K58 {
          color: #60269e;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 19.8654rem;
          font-size: 1.6rem;
          line-height: 1.2102272511;
          text-align: center;
          font-weight: 300;
          font-family: Inter, 'Source Sans Pro';
        }
        .status-ESz {
          text-align: center;
          font-size: 1.6rem;
          font-weight: 300;
          color: #60269e;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 11.558rem;
          flex-shrink: 0;
          line-height: 1.2102272511;
        }
        .amount-ZVG {
          text-align: center;
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.2102272511;
          color: #60269e;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-lkkg-hrN {
        margin: 0rem 0rem 0.525rem 7.241rem;
        display: flex;
        align-items: center;

        .dhaifan-satriaji-id-80972345-SJA {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2102272034;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 20.3629rem;
          max-width: 17.0962rem;

          .dhaifan-satriaji-id-80972345-SJA-sub-0 {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5127840042;
            color: #d7c3ec;
            font-family: Inter, 'Source Sans Pro';
          }
          .dhaifan-satriaji-id-80972345-SJA-sub-1 {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 2.0170453389;
            color: #d7c3ec;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .mar-17-2022-faE {
          flex-shrink: 0;
          text-align: center;
          font-size: 2rem;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 9.632rem 0.525rem 0rem;
          font-weight: 400;
          line-height: 1.2102272034;
        }
        .receive-BHg {
          margin: 0rem 8.307rem 0.525rem 0rem;
          text-align: center;
          font-weight: 400;
          color: #2cd03c;
          font-size: 2rem;
          line-height: 1.2102272034;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .rp-50000-gkE {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2102272034;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5254rem;
        }
      }
      .auto-group-ezuw-P8r {
        margin: 0rem 0rem 0.444rem 7.241rem;
        display: flex;
        align-items: center;

        .ramadhan-wahyu-id-25023897-VSn {
          line-height: 1.2102272034;
          color: #d7c3ec;
          white-space: nowrap;
          display: flex;
          margin-right: 17.1122rem;
          font-size: 2rem;
          align-items: baseline;
          flex-shrink: 0;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';

          .ramadhan-wahyu-id-25023897-VSn-sub-0 {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5127840042;
            color: #d7c3ec;
            font-family: Inter, 'Source Sans Pro';
          }
          .ramadhan-wahyu-id-25023897-VSn-sub-1 {
            font-size: 1.1rem;
            font-weight: 400;
            line-height: 2.200413097;
            color: #d7c3ec;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .mar-15-2022-xDt {
          font-size: 2rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          line-height: 1.2102272034;
          color: #d7c3ec;
          margin: 0rem 9.27rem 0.525rem 0rem;
        }
        .receive-rq4 {
          margin: 0rem 8.307rem 0.525rem 0rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2102272034;
          color: #2cd03d;
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-family: Inter, 'Source Sans Pro';
        }
        .rp-100000-am4 {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5254rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2102272034;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .auto-group-62st-Kie {
        align-items: center;
        margin: 0rem 0rem 0.559rem 7.2rem;
        display: flex;

        .alifia-ayu-masita-id-34508923-FsC {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2102272034;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 21.1rem;
          white-space: nowrap;
          display: flex;
          align-items: baseline;
          color: #d7c3ec;

          .alifia-ayu-masita-id-34508923-FsC-sub-0 {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5127840042;
            color: #d7c3ec;
            font-family: Inter, 'Source Sans Pro';
          }
          .alifia-ayu-masita-id-34508923-FsC-sub-1 {
            font-weight: 400;
            line-height: 2.200413097;
            color: #d7c3ec;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.1rem;
          }
        }
        .mar-13-2022-PM8 {
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 9.271rem 0.485rem 0rem;
          font-size: 2rem;
          font-weight: 400;
          text-align: center;
          line-height: 1.2102272034;
        }
        .payment-WRk {
          color: #d91c1c;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 7.344rem 0.499rem 0rem;
          font-weight: 400;
          line-height: 1.2102272034;
          white-space: nowrap;
          text-align: center;
          font-size: 2rem;
        }
        .rp-120000-EMk {
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.4854rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2102272034;
        }
      }
      .auto-group-wwo4-yKL {
        margin: 0rem 0rem 0.525rem 7.241rem;
        display: flex;
        align-items: center;

        .ilham-fachlevi-id-90384634-W4N {
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          flex-shrink: 0;
          margin-right: 21.2057rem;
          line-height: 1.2102272034;
          align-items: baseline;
          font-size: 2rem;
          font-weight: 400;

          .ilham-fachlevi-id-90384634-W4N-sub-0 {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5127840042;
            color: #d7c3ec;
            font-family: Inter, 'Source Sans Pro';
          }
          .ilham-fachlevi-id-90384634-W4N-sub-1 {
            font-size: 1.1rem;
            font-weight: 400;
            line-height: 2.200413097;
            color: #d7c3ec;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .mar-10-2022-xqU {
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 9.291rem 0.525rem 0rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2102272034;
        }
        .receive-gFg {
          margin: 0rem 8.287rem 0.525rem 0rem;
          font-weight: 400;
          white-space: nowrap;
          text-align: center;
          font-size: 2rem;
          line-height: 1.2102272034;
          color: #2cd03d;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .rp-70000-Pvn {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5254rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2102272034;
          color: #d7c3ec;
        }
      }
      .auto-group-hnka-vfp {
        margin-left: 7.2408rem;
        display: flex;
        align-items: center;

        .hedya-tiesyapana-id-62094756-GDt {
          color: #d7c3ec;
          white-space: nowrap;
          display: flex;
          flex-shrink: 0;
          margin-right: 16.3899rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          align-items: baseline;
          font-size: 2rem;
          line-height: 1.2102272034;

          .hedya-tiesyapana-id-62094756-GDt-sub-0 {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5127840042;
            color: #d7c3ec;
            font-family: Inter, 'Source Sans Pro';
          }
          .hedya-tiesyapana-id-62094756-GDt-sub-1 {
            font-size: 1.1rem;
            font-weight: 400;
            line-height: 2.200413097;
            color: #d7c3ec;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .mar-09-2022-DHY {
          text-align: center;
          line-height: 1.2102272034;
          white-space: nowrap;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 8.91rem 0.525rem 0rem;
          font-size: 2rem;
          font-weight: 400;
          color: #d7c3ec;
        }
        .payment-8fQ {
          margin: 0rem 7.344rem 0.539rem 0rem;
          text-align: center;
          color: #d91c1c;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2102272034;
          white-space: nowrap;
        }
        .rp-200000-TSn {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5254rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2102272034;
          color: #d7c3ec;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
    .overview-zBp {
      white-space: nowrap;
      height: 2.7rem;
      left: 126.7197rem;
      top: 31.8rem;
      font-size: 3rem;
      line-height: 1.2102272034;
      color: #60269e;
      width: 14.8rem;
      position: absolute;
      text-align: center;
      font-weight: 800;
      font-family: Inter, 'Source Sans Pro';
    }
    .group-3483-tHC {
      border-radius: 1rem;
      width: 41.9541rem;
      height: 21.4894rem;
      position: absolute;
      left: 125.7rem;
      top: 57.2rem;

      .group-3483-1sc {
        background-position: center;
        background-image: url('REPLACE_IMAGE:1:213');
        border-radius: 1rem;
        width: 100%;
        display: flex;
        background-repeat: no-repeat;
        flex-direction: column;
        background-size: cover;
        box-sizing: border-box;
        padding: 1.3rem 0.6rem 1.218rem 0.6rem;
        height: 100%;

        .have-something-to-pay-jYi {
          text-align: center;
          font-weight: 800;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.9852rem;
          width: 100%;
          font-size: 3rem;
          line-height: 1.2102272034;
          color: #60269e;
        }
        .use-your-qr-to-pay-with-transfree-45C {
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.2102272034;
          color: #60269e;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 5.168rem 0.274rem;
        }
        .group-3473-ZXk {
          flex-shrink: 0;
          margin-left: 1.7742rem;
          width: 19.2815rem;
          height: 4.9735rem;
          position: relative;
          border-radius: 1rem;

          .rectangle-18-hP4 {
            object-fit: contain;
            vertical-align: top;
            border-radius: 1rem;
            width: 19.2815rem;
            height: 4.9735rem;
            position: absolute;
            left: 0;
            top: 0;
          }
          .qr-code-ENz {
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2102272034;
            width: 17.4rem;
            height: 2.6875rem;
            left: 0.7rem;
            top: 1.137rem;
            text-align: center;
            color: #60269e;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
          }
        }
      }
    }
    .income-gkn {
      font-size: 3.2rem;
      font-weight: 600;
      color: #5ab267;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 3.5rem;
      text-align: center;
      left: 131.6rem;
      top: 50.2rem;
      line-height: 1.2102272511;
      width: 12.1rem;
      position: absolute;
    }
    .group-3486-Pv6 {
      background-image: url('REPLACE_IMAGE:1:221');
      padding: 0.7rem 1.2rem 5.904rem 1.2rem;
      width: 101.3rem;
      height: 21.5rem;
      left: 21.9rem;
      top: 57.2rem;
      background-size: cover;
      box-sizing: border-box;
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 1rem;

      .upcoming-payments-hA6 {
        font-size: 3rem;
        color: #60269e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.9rem;
        text-align: center;
        font-weight: 800;
        line-height: 1.2102272034;
        width: 100%;
      }
      .group-3466-d3k {
        height: 9.6962rem;
        display: flex;
        align-items: center;
        margin: 0rem 3.973rem 0rem 2.7rem;
        width: calc(100% - 6.6727rem);

        .auto-group-uhmt-8mC {
          margin: 0.6rem 19.422rem 0rem 0rem;
          width: 19.5782rem;
          flex-shrink: 0;

          .name-sCz {
            margin-bottom: 1.2839rem;
            text-align: center;
            font-size: 1.6rem;
            line-height: 1.2102272511;
            font-family: Inter, 'Source Sans Pro';
            width: 100%;
            font-weight: 300;
            color: #60269e;
            white-space: nowrap;
          }
          .spotify-premiuim-id-80238345-QCv {
            margin: 0rem 0rem 1.604rem 1.2rem;
            font-size: 2rem;
            line-height: 1.2102272034;
            color: #60269e;
            font-family: Inter, 'Source Sans Pro';
            align-items: baseline;
            font-weight: 400;
            white-space: nowrap;
            display: flex;

            .spotify-premiuim-id-80238345-QCv-sub-0 {
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5127840042;
              color: #60269e;
              font-family: Inter, 'Source Sans Pro';
            }
            .spotify-premiuim-id-80238345-QCv-sub-1 {
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.1rem;
              font-weight: 400;
              line-height: 2.200413097;
              color: #60269e;
            }
          }
          .netflix-id-25397497-jPc {
            font-size: 2rem;
            line-height: 1.2102272034;
            color: #60269e;
            white-space: nowrap;
            display: flex;
            margin-left: 1.5rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            align-items: baseline;

            .netflix-id-25397497-jPc-sub-0 {
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5127840042;
              color: #60269e;
            }
            .netflix-id-25397497-jPc-sub-1 {
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5127840042;
              color: #60269e;
            }
            .netflix-id-25397497-jPc-sub-2 {
              font-weight: 400;
              line-height: 2.200413097;
              color: #60269e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.1rem;
            }
          }
        }
        .auto-group-bnee-p3g {
          margin: 0.3rem 8.903rem 0.56rem 0rem;
          width: 15.2971rem;
          height: calc(100% - 0.8601rem);
          flex-shrink: 0;

          .date-LGv {
            margin-bottom: 1.5839rem;
            width: 100%;
            color: #60269e;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 1.2102272511;
          }
          .mar-30-2022-Sar {
            font-size: 2rem;
            color: #60269e;
            white-space: nowrap;
            margin-bottom: 2.9639rem;
            width: 100%;
            text-align: center;
            font-weight: 400;
            line-height: 1.2102272034;
            font-family: Inter, 'Source Sans Pro';
          }
          .mar-30-2022-AWr {
            white-space: nowrap;
            width: 100%;
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2102272034;
            color: #60269e;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .auto-group-wuhg-hWn {
          flex-shrink: 0;
          margin: 0rem 6.91rem 0.96rem 0rem;
          width: 8.9896rem;

          .status-EWi {
            width: 100%;
            color: #60269e;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            line-height: 1.2102272511;
            margin-bottom: 1.8839rem;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 300;
          }
          .pending-MbL {
            margin-bottom: 2.5639rem;
            width: 100%;
            font-weight: 400;
            color: #d98d1c;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            text-align: center;
            font-size: 2rem;
            line-height: 1.2102272034;
          }
          .pending-HUz {
            color: #d98d1c;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 100%;
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2102272034;
          }
        }
        .auto-group-hc7u-pzi {
          height: calc(100% - 1.1601rem);
          flex-shrink: 0;
          margin: 0.6rem 0rem 0.56rem 0rem;
          width: 13.1273rem;

          .amount-kNa {
            white-space: nowrap;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 1.2102272511;
            color: #60269e;
            font-family: Inter, 'Source Sans Pro';
            margin-bottom: 1.6839rem;
            width: 100%;
          }
          .rp-59000-VLA {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2102272034;
            color: #60269e;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 2.5639rem;
          }
          .rp-149000-2L6 {
            font-weight: 400;
            line-height: 1.2102272034;
            color: #60269e;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 0.2rem;
            font-size: 2rem;
          }
        }
      }
    }
    .group-3480-vRU {
      width: 43.8483rem;
      height: 19.8888rem;
      position: absolute;
      left: 123.9rem;
      top: 8.6rem;

      .rectangle-13-3FC {
        top: 0;
        object-fit: contain;
        vertical-align: top;
        border-radius: 1rem;
        width: 42.0471rem;
        height: 19.8888rem;
        position: absolute;
        left: 1.8013rem;
      }
      .dadang-korneto-Aqc {
        height: 2.358rem;
        position: absolute;
        left: 16rem;
        font-weight: 600;
        line-height: 1.2102272511;
        width: 22.13rem;
        top: 4.9rem;
        text-align: center;
        font-size: 2.4rem;
        color: #60269e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item-0878923642194-g3G {
        left: 16rem;
        top: 12.6rem;
        font-size: 2rem;
        font-family: Inter, 'Source Sans Pro';
        width: 20.3559rem;
        position: absolute;
        text-align: center;
        font-weight: 600;
        line-height: 1.2102272034;
        color: #60269e;
        white-space: nowrap;
        height: 2.3266rem;
      }
      .profile-mqQ {
        font-weight: 800;
        line-height: 1.2102272034;
        white-space: nowrap;
        height: 2.8705rem;
        top: 0.6755rem;
        text-align: center;
        font-size: 3rem;
        color: #60269e;
        font-family: Inter, 'Source Sans Pro';
        width: 15.491rem;
        position: absolute;
        left: 0;
      }
      .group-3478-Hok {
        position: absolute;
        left: 5.4788rem;
        top: 5.1786rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 14.4rem;
        width: 9.3815rem;
        height: 8.7865rem;
      }
      .dangskygmailcom-DBc {
        width: 28.3785rem;
        left: 13.4rem;
        font-size: 2rem;
        line-height: 1.2102272034;
        font-family: Inter, 'Source Sans Pro';
        height: 2.358rem;
        position: absolute;
        top: 8.8rem;
        text-align: center;
        font-weight: 400;
        color: #60269e;
        white-space: nowrap;
      }
    }
    .increase-iu4 {
      top: 37.9rem;
      object-fit: cover;
      vertical-align: top;
      width: 10.2rem;
      height: 8.7rem;
      position: absolute;
      left: 132.6rem;
    }
    .group-3482-rVU {
      position: absolute;
      left: 63.2rem;
      top: 8.6rem;
      width: 60rem;
      height: 19.9rem;

      .rectangle-12-BXk {
        top: 0;
        object-fit: contain;
        vertical-align: top;
        border-radius: 1rem;
        width: 59.2rem;
        height: 19.9rem;
        position: absolute;
        left: 0.8rem;
      }
      .product-Wa2 {
        font-weight: 800;
        line-height: 1.2102272034;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 3.4501rem;
        position: absolute;
        top: 0.4503rem;
        text-align: center;
        font-size: 3rem;
        color: #60269e;
        width: 14.8603rem;
        left: 0;
      }
      .top-up-Rwt {
        height: 2.3rem;
        left: 4.4rem;
        top: 16.2rem;
        font-size: 2rem;
        color: #60269e;
        white-space: nowrap;
        width: 8.3rem;
        position: absolute;
        font-weight: 400;
        line-height: 1.2102272034;
        font-family: Inter, 'Source Sans Pro';
      }
      .phone-tokens-jxa {
        font-size: 2rem;
        color: #60269e;
        white-space: nowrap;
        width: 18.3127rem;
        height: 2.3001rem;
        position: absolute;
        font-weight: 400;
        line-height: 1.2102272034;
        font-family: Inter, 'Source Sans Pro';
        left: 14.8603rem;
        top: 16.0611rem;
        text-align: center;
      }
      .split-bills-r1c {
        width: 9rem;
        top: 16.2rem;
        line-height: 1.2102272034;
        font-family: Inter, 'Source Sans Pro';
        height: 2.3rem;
        position: absolute;
        left: 34.9rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        color: #60269e;
        white-space: nowrap;
      }
      .image-1-Yf8 {
        height: 8.7944rem;
        position: absolute;
        left: 3.3023rem;
        top: 5.1786rem;
        object-fit: cover;
        vertical-align: top;
        width: 9.5316rem;
      }
      .group-3484-5f4 {
        width: 9.1742rem;
        height: 8.7792rem;
        position: absolute;
        left: 19.4385rem;
        top: 5.1786rem;

        .group-3476-pMk {
          height: 8.7792rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          border-radius: 14.4rem;
          width: 9.1742rem;
        }
        .mask-group-M6n {
          width: 5.3646rem;
          height: 2.3808rem;
          position: absolute;
          left: 0.0778rem;
          top: 4.2408rem;
          object-fit: contain;
          vertical-align: top;
        }
        .mask-group-5Ya {
          object-fit: contain;
          vertical-align: top;
          width: 3.1876rem;
          height: 4.2408rem;
          position: absolute;
          left: 4.6649rem;
          top: 1.1904rem;
        }
        .line-14-pFG {
          background-color: #60269e;
          width: 2.8767rem;
          height: 0.1rem;
          position: absolute;
          left: 3.1099rem;
          top: 2.3064rem;
        }
      }
      .group-3485-wKt {
        top: 5.2536rem;
        width: 8.9154rem;
        height: 8.795rem;
        position: absolute;
        left: 34.8242rem;

        .group-3477-gHU {
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          border-radius: 14.4rem;
          width: 8.9154rem;
          height: 8.795rem;
          position: absolute;
        }
        .mask-group-cwp {
          height: 4.6211rem;
          position: absolute;
          left: 2.4178rem;
          top: 2.087rem;
          object-fit: contain;
          vertical-align: top;
          width: 4.4577rem;
        }
      }
    }
    .rp-320000-Lsp {
      height: 2.4rem;
      top: 47.2rem;
      line-height: 1.2102272511;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 15.5rem;
      left: 149.2rem;
      text-align: center;
      font-size: 2.4rem;
      font-weight: 800;
      color: #60269e;
      position: absolute;
    }
    .expenses-etW {
      font-family: Inter, 'Source Sans Pro';
      width: 15.7rem;
      left: 148.8rem;
      text-align: center;
      font-size: 3.2rem;
      font-weight: 600;
      white-space: nowrap;
      height: 3.4rem;
      position: absolute;
      top: 50rem;
      line-height: 1.2102272511;
      color: #e63a57;
    }
    .group-3474-NJi {
      height: 3.9027rem;
      top: 32.4464rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:1:271');
      padding: 0.65rem 0.767rem 0.65rem 0.657rem;
      width: 15.0104rem;
      left: 151.038rem;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      position: absolute;

      .calendar-1-G9C {
        margin-right: 0.8765rem;
        width: 2.6296rem;
        height: 2.6018rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .maret-2022-CYe {
        flex-shrink: 0;
        text-align: center;
        font-weight: 800;
        line-height: 1.2102272511;
        color: #d7c3ec;
        margin-top: 0.1084rem;
        font-size: 1.6rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .decrease-Jra {
      top: 37.9rem;
      object-fit: cover;
      vertical-align: top;
      width: 10.4rem;
      height: 8.7rem;
      position: absolute;
      left: 151.4rem;
    }
    .mask-group-qrW {
      width: 3.1522rem;
      height: 3.0021rem;
      position: absolute;
      left: 1.426rem;
      top: 22.7664rem;
      object-fit: contain;
      vertical-align: top;
    }
    .rectangle-9-NrS {
      width: 20.9rem;
      height: 93.6rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #d6c2eb;
    }
    .rectangle-10-8Kp {
      top: 0;
      object-fit: contain;
      vertical-align: top;
      border-radius: 1rem;
      width: 221.7rem;
      height: 14.1rem;
      position: absolute;
      left: 21.7rem;
    }
    .transfree-4UN {
      height: 3.1rem;
      position: absolute;
      top: 2.7rem;
      text-align: center;
      font-weight: 800;
      white-space: nowrap;
      width: 10.4rem;
      left: 5.2rem;
      font-size: 2rem;
      line-height: 1.2102272034;
      font-style: italic;
      color: #60269e;
      font-family: Inter, 'Source Sans Pro';
    }
    .group-3487-n9U {
      display: flex;
      align-items: flex-start;
      width: 15.5017rem;
      height: 2.4295rem;
      position: absolute;
      left: 1.7983rem;
      top: 9.5705rem;

      .home-1-ujt {
        margin-right: 1.8835rem;
        width: 1.9182rem;
        height: 2.2017rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .dashboard-F34 {
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
        line-height: 1.2102272034;
        white-space: nowrap;
        margin-top: 0.0295rem;
        color: #60269e;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .group-3488-BBc {
      left: 1.1389rem;
      top: 13.2859rem;
      display: flex;
      align-items: center;
      width: 17.9611rem;
      height: 3.7842rem;
      position: absolute;

      .transaction-1-v9C {
        height: 3.7842rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.2424rem;
        width: 3.6635rem;
      }
      .transactions-f6n {
        margin-bottom: 0.0586rem;
        font-size: 2rem;
        line-height: 1.2102272034;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        text-align: center;
        font-weight: 800;
        color: #60269e;
        flex-shrink: 0;
      }
    }
    .group-3492-zPx {
      height: 2.5rem;
      position: absolute;
      left: 1.7983rem;
      top: 18.6rem;
      display: flex;
      align-items: flex-start;
      width: 13.3017rem;

      .send-1-j6e {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.053rem 1.824rem 0rem 0rem;
        width: 1.9781rem;
        height: 2.2705rem;
      }
      .transfer-Fan {
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
        line-height: 1.2102272034;
        color: #60269e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .notification-ABx {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 11.7461rem;
      top: 23.1rem;
      line-height: 1.2102272034;
      color: #60269e;
      font-size: 2rem;
      font-weight: 800;
      height: 2.4769rem;
      position: absolute;
      left: 6rem;
      text-align: center;
    }
    .group-3491-FjC {
      width: 11.7111rem;
      height: 2.5rem;
      position: absolute;
      left: 2.0983rem;
      top: 27.6rem;
      display: flex;
      align-items: flex-end;

      .logout-1-nDL {
        margin: 0rem 1.777rem 0.003rem 0rem;
        width: 1.9781rem;
        height: 2.2919rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .log-out-6zi {
        color: #60269e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
        line-height: 1.2102272034;
      }
    }
    .layersfill-SYn {
      width: 3rem;
      height: 3.8845rem;
      position: absolute;
      left: 1.85rem;
      top: 1.65rem;
      object-fit: contain;
      vertical-align: top;
    }
    .mask-group-Aza {
      object-fit: contain;
      vertical-align: top;
      width: 3.1522rem;
      height: 3.0021rem;
      position: absolute;
      left: 1.426rem;
      top: 22.7664rem;
    }
    .rectangle-16-798 {
      top: 31.1rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 1rem;
      width: 42rem;
      height: 24.4rem;
      position: absolute;
      left: 125.7rem;
    }
    .dashboard-EjY {
      position: absolute;
      left: 23.4rem;
      top: 1.3rem;
      text-align: center;
      font-size: 3.6rem;
      line-height: 1.2102272246;
      color: #60269e;
      width: 20.6rem;
      white-space: nowrap;
      font-family: Inter, 'Source Sans Pro';
      font-weight: 800;
      height: 3.3rem;
    }
    .rp-350000-kC6 {
      width: 15.8rem;
      position: absolute;
      font-weight: 800;
      line-height: 1.2102272511;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.6rem;
      left: 129.5rem;
      top: 47.1rem;
      text-align: center;
      font-size: 2.4rem;
      color: #60269e;
    }
    .group-3481-3wt {
      box-sizing: border-box;
      padding: 0.901rem 0rem 1.409rem 0rem;
      left: 21.8rem;
      top: 8.4rem;
      background-repeat: no-repeat;
      background-position: center;
      width: 40.5rem;
      height: 19.8888rem;
      position: absolute;
      background-size: cover;
      background-image: url('REPLACE_IMAGE:1:307');
      border-radius: 1rem;

      .balance-krJ {
        text-align: center;
        font-size: 3rem;
        font-weight: 800;
        color: #60269e;
        margin-bottom: 3.7994rem;
        width: 100%;
        white-space: nowrap;
        line-height: 1.2102272034;
        font-family: Inter, 'Source Sans Pro';
      }
      .rp-12345678-hFk {
        margin-bottom: 3.9714rem;
        font-family: Inter, 'Source Sans Pro';
        font-weight: 800;
        line-height: 1.2102272246;
        color: #60269e;
        white-space: nowrap;
        width: 100%;
        text-align: center;
        font-size: 3.6rem;
      }
      .wallet-id-87654321-DUz {
        white-space: nowrap;
        width: 100%;
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
        line-height: 1.2102272034;
        color: #60269e;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .rectangle-4207-jCS {
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: rgba(255, 255, 255, 0.8500000238);
      width: 169rem;
      height: 80rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .tf-eKQ {
      top: 15rem;
      border-radius: 12rem;
      width: 100.6rem;
      height: 59.6rem;
      position: absolute;
      left: 35.7rem;

      .transfer-normal-P26 {
        height: 100%;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #f6eeff;
        border-radius: 12rem;
        width: 100%;

        .group-6-gWz {
          top: 20.9rem;
          object-fit: contain;
          vertical-align: top;
          width: 32.9092rem;
          height: 27.7516rem;
          position: absolute;
          left: -13.9rem;
        }
        .rectangle-4204-Qxn {
          position: absolute;
          left: 16.3rem;
          top: 5.75rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 2.5rem;
          width: 43rem;
          height: 25.9rem;
        }
        .rectangle-4205-8dt {
          border-radius: 2.5rem;
          width: 43rem;
          height: 11.9rem;
          position: absolute;
          left: 16rem;
          top: 33rem;
          background-color: #d7c2ec;
        }
        .x-GVC {
          position: absolute;
          top: 4rem;
          text-align: center;
          font-size: 6.4rem;
          font-weight: 800;
          line-height: 1.2102272511;
          width: 4.7rem;
          height: 4.9rem;
          color: #60269e;
          white-space: nowrap;
          left: 89.4rem;
          font-family: Inter, 'Source Sans Pro';
        }
        .buttonnexttransfer-nTY {
          width: 20.3rem;
          top: 51.1rem;
          line-height: 1.171875;
          background: linear-gradient(95.33deg, #b977ff -11.97%, #60269e 105%);
          height: 5.1rem;
          left: 47.3rem;
          font-weight: 500;
          color: #ffffff;
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          position: absolute;
          font-size: 1.8rem;
          display: flex;
          font-family: Roboto, 'Source Sans Pro';
          border-radius: 5rem;
        }
        .buttonbacktransfer-S2J {
          display: flex;
          justify-content: center;
          background: linear-gradient(95.33deg, #60269e -11.97%, #d7c3ec 105%);
          border-radius: 5rem;
          left: 6.8rem;
          font-weight: 500;
          top: 51.1rem;
          position: absolute;
          font-size: 1.8rem;
          line-height: 1.171875;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 20.3rem;
          color: #ffffff;
          align-items: center;
          height: 5.1rem;
        }
        .button-W2A {
          font-weight: 700;
          line-height: 1.171875;
          box-shadow: 0 1rem 2rem rgba(15, 159, 38, 0.150000006);
          background-color: #60269e;
          position: absolute;
          font-size: 1.8rem;
          font-family: Roboto, 'Source Sans Pro';
          justify-content: center;
          border-radius: 5rem;
          width: 25.4rem;
          height: 4.2rem;
          left: 25.1rem;
          display: flex;
          align-items: center;
          top: 18.9rem;
          color: #f0f9f1;
          white-space: nowrap;
        }
        .receiver-mTt {
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.171875;
          width: 6.3rem;
          position: absolute;
          left: 25.8rem;
          top: 9.8rem;
          height: 1.9rem;
          color: #60269e;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .bank-bca-t2i {
          height: 1.9rem;
          top: 12.1rem;
          font-size: 1.5rem;
          font-weight: 600;
          font-family: Roboto, 'Source Sans Pro';
          width: 7.1rem;
          position: absolute;
          left: 36.7rem;
          line-height: 1.171875;
          color: #60269e;
          white-space: nowrap;
        }
        .an-mr-receiver-PkA {
          left: 36.7rem;
          top: 13.9rem;
          font-weight: 600;
          line-height: 1.171875;
          font-family: Roboto, 'Source Sans Pro';
          width: 12.6rem;
          height: 1.9rem;
          position: absolute;
          font-size: 1.5rem;
          color: #60269e;
          white-space: nowrap;
        }
        .no-rek--6uU {
          font-size: 1.5rem;
          font-weight: 400;
          color: rgba(96, 38, 158, 0.5);
          font-family: Roboto, 'Source Sans Pro';
          width: 8.8rem;
          top: 16.5rem;
          left: 25.7rem;
          line-height: 1.171875;
          white-space: nowrap;
          height: 1.9rem;
          position: absolute;
        }
        .button-p4n {
          position: absolute;
          font-size: 1.8rem;
          white-space: nowrap;
          align-items: center;
          height: 4.2rem;
          font-weight: 700;
          line-height: 1.171875;
          color: #f0f9f1;
          box-shadow: 0 1rem 2rem rgba(15, 159, 38, 0.150000006);
          background-color: #60269e;
          width: 25.4rem;
          border-radius: 5rem;
          left: 25.1rem;
          top: 26.1rem;
          font-family: Roboto, 'Source Sans Pro';
          display: flex;
          justify-content: center;
        }
        .notes--tKY {
          position: absolute;
          font-size: 1.5rem;
          color: rgba(96, 38, 158, 0.5);
          font-weight: 400;
          line-height: 1.171875;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 8.8rem;
          height: 1.9rem;
          left: 25.7rem;
          top: 23.7rem;
        }
        .rectangle-10-QHt {
          position: absolute;
          left: 68.9rem;
          top: -15rem;
          background-color: #60269e;
          width: 88.7rem;
          height: 111.7rem;
        }
        .rectangle-10-8jg {
          position: absolute;
          left: 68.9rem;
          top: 8.8rem;
          background-color: #60269e;
          width: 33.3rem;
          height: 43.1rem;
        }
        .group-5-fzW {
          top: 14.7188rem;
          object-fit: contain;
          vertical-align: top;
          width: 32.9092rem;
          height: 27.7516rem;
          position: absolute;
          left: 77.7908rem;
        }
        .ellipse-22-CzS {
          border-radius: 11.35rem;
          width: 22.7rem;
          height: 22.7rem;
          position: absolute;
          left: 77.7rem;
          top: 44.1rem;
          box-sizing: border-box;
          background: linear-gradient(140.67deg, rgba(3, 207, 251, 0) 8.89%, #03cffb 57.48%);
        }
        .ellipse-23-6K8 {
          height: 22.5rem;
          position: absolute;
          left: 61.6rem;
          top: -5.2rem;
          object-fit: contain;
          vertical-align: top;
          width: 30.1rem;
        }
        .transfree-ERL {
          left: 72rem;
          top: 4.9rem;
          font-size: 3.6rem;
          line-height: 1.2102272246;
          font-style: italic;
          font-family: Inter, 'Source Sans Pro';
          height: 3.7rem;
          position: absolute;
          text-align: center;
          font-weight: 800;
          color: #60269e;
          white-space: nowrap;
          width: 17.6rem;
        }
        .transfer-wae {
          height: 3.7rem;
          left: 15.2rem;
          top: 6.5rem;
          line-height: 1.2102272511;
          color: #60269e;
          white-space: nowrap;
          width: 17.6rem;
          position: absolute;
          text-align: center;
          font-size: 2.4rem;
          font-weight: 800;
          font-family: Inter, 'Source Sans Pro';
        }
        .layersfill-uvn {
          height: 4.717rem;
          position: absolute;
          left: 64.9833rem;
          top: 4.3875rem;
          object-fit: contain;
          vertical-align: top;
          width: 5.1333rem;
        }
        .bankcentralasia-1-Svi {
          position: absolute;
          left: 25.8rem;
          top: 12.8rem;
          object-fit: cover;
          vertical-align: top;
          width: 8.9rem;
          height: 2.7rem;
        }
        .button-yfk {
          background-color: #60269e;
          line-height: 1.171875;
          font-family: Roboto, 'Source Sans Pro';
          justify-content: center;
          top: 39.8rem;
          font-size: 1.8rem;
          color: #f0f9f1;
          align-items: center;
          border-radius: 5rem;
          height: 4.2rem;
          position: absolute;
          left: 24.8rem;
          width: 25.4rem;
          box-shadow: 0 1rem 2rem rgba(15, 159, 38, 0.150000006);
          font-weight: 700;
          white-space: nowrap;
          display: flex;
        }
        .sender-FNN {
          width: 5.1rem;
          height: 1.9rem;
          font-size: 1.5rem;
          line-height: 1.171875;
          font-family: Roboto, 'Source Sans Pro';
          position: absolute;
          left: 25.5rem;
          top: 34rem;
          font-weight: 700;
          color: #60269e;
          white-space: nowrap;
        }
        .name-m5p {
          width: 4.3rem;
          height: 1.9rem;
          position: absolute;
          font-weight: 400;
          line-height: 1.171875;
          white-space: nowrap;
          left: 25.5rem;
          top: 36.9rem;
          font-size: 1.5rem;
          color: rgba(96, 38, 158, 0.5);
          font-family: Roboto, 'Source Sans Pro';
        }
        .mask-group-suY {
          vertical-align: top;
          width: 3.7rem;
          height: 3.4rem;
          position: absolute;
          left: 51.1rem;
          top: 19.2rem;
          object-fit: contain;
        }
      }
    }
    .step-A7x {
      width: 50.6rem;
      height: 5.4rem;
      position: absolute;
      left: 64.1rem;
      top: 4.9rem;
      display: flex;
      align-items: flex-start;

      .auto-group-ese6-grz {
        margin-right: 0.05rem;
        height: 5.3rem;
        align-items: center;
        justify-content: center;
        background-color: #60269e;
        width: 5.3rem;
        border-radius: 2.65rem;
        text-align: center;
        font-weight: 800;
        white-space: nowrap;
        display: flex;
        flex-shrink: 0;
        font-size: 2.4rem;
        line-height: 1.2102272511;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      }
      .auto-group-3aqz-wH8 {
        width: 39.95rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .ellipse-128-UH4 {
          position: absolute;
          left: 9.05rem;
          top: 0.1rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #d7c3ec;
          border-radius: 2.65rem;
          width: 5.3rem;
          height: 5.3rem;
        }
        .ellipse-129-mmx {
          border-radius: 2.65rem;
          width: 5.3rem;
          height: 5.3rem;
          position: absolute;
          left: 23.45rem;
          top: 0;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #d7c3ec;
        }
        .vector-135-VT4 {
          position: absolute;
          left: 0;
          top: 2.65rem;
          object-fit: contain;
          vertical-align: top;
          width: 39.95rem;
          height: 0;
        }
        .item-2-qWv {
          line-height: 1.2102272511;
          color: #ffffff;
          width: 1.6rem;
          height: 2.9rem;
          left: 10.85rem;
          font-size: 2.4rem;
          font-weight: 800;
          position: absolute;
          top: 1.2rem;
          text-align: center;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item-3-MVG {
          left: 25.25rem;
          font-size: 2.4rem;
          color: #ffffff;
          white-space: nowrap;
          line-height: 1.2102272511;
          font-family: Inter, 'Source Sans Pro';
          width: 1.7rem;
          height: 2.9rem;
          position: absolute;
          top: 1.2rem;
          text-align: center;
          font-weight: 800;
        }
      }
      .auto-group-h4wn-eUN {
        align-items: center;
        background-color: #d7c3ec;
        border-radius: 2.65rem;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        line-height: 1.2102272511;
        justify-content: center;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        height: 5.3rem;
        white-space: nowrap;
        text-align: center;
        font-size: 2.4rem;
        font-weight: 800;
        color: #ffffff;
        display: flex;
        width: 5.3rem;
      }
    }
  }
}
