
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 169rem;
}.account-created-page-obt {
  box-sizing: border-box;
  padding-left: 26.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f6eeff;
}
.account-created-page-obt .auto-group-vimx-76n {
  margin: 0rem 17.25rem 7.1rem 0rem;
  width: 49.75rem;
  height: 17.8rem;
  position: relative;
  flex-shrink: 0;
}
.account-created-page-obt .auto-group-vimx-76n .frame-3364-Dfc {
  width: 42rem;
  height: 13.5rem;
  position: absolute;
  left: 7.75rem;
  top: 0;
}
.account-created-page-obt .auto-group-vimx-76n .frame-3364-Dfc .hello-dadang-korneto-x7Q {
  width: 24.5rem;
  height: 7.8rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2102272511;
  color: #150d0d;
  font-family: Inter, 'Source Sans Pro';
}
.account-created-page-obt .auto-group-vimx-76n .frame-3364-Dfc .hello-dadang-korneto-x7Q .hello-dadang-korneto-x7Q-sub-0 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2102272511;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
}
.account-created-page-obt .auto-group-vimx-76n .frame-3364-Dfc .hello-dadang-korneto-x7Q .hello-dadang-korneto-x7Q-sub-1 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #b470fd;
  font-family: Inter, 'Source Sans Pro';
}
.account-created-page-obt .auto-group-vimx-76n .frame-3364-Dfc .welcome-to-paybuymax-YE2 {
  width: 37.5rem;
  height: 3.9rem;
  position: absolute;
  left: 0;
  top: 6.1rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2102272511;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.account-created-page-obt .auto-group-vimx-76n .frame-3364-Dfc .by-creating-an-account-you-agree-to-our-terms-and-conditions-and-data-protection-guidelines-F8S {
  width: 42rem;
  height: 7.4rem;
  position: absolute;
  left: 0;
  top: 6.1rem;
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 2.0511898465;
  color: #3d3c3c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.account-created-page-obt .auto-group-vimx-76n .frame-3364-Dfc .by-creating-an-account-you-agree-to-our-terms-and-conditions-and-data-protection-guidelines-F8S .by-creating-an-account-you-agree-to-our-terms-and-conditions-and-data-protection-guidelines-F8S-sub-0 {
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 2.0511898465;
  color: #3d3c3c;
  font-family: Inter, 'Source Sans Pro';
}
.account-created-page-obt .auto-group-vimx-76n .frame-3364-Dfc .by-creating-an-account-you-agree-to-our-terms-and-conditions-and-data-protection-guidelines-F8S .by-creating-an-account-you-agree-to-our-terms-and-conditions-and-data-protection-guidelines-F8S-sub-1 {
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 2.0511898465;
  color: #ffcc29;
  font-family: Inter, 'Source Sans Pro';
}
.account-created-page-obt .auto-group-vimx-76n .frame-3364-Dfc .by-creating-an-account-you-agree-to-our-terms-and-conditions-and-data-protection-guidelines-F8S .by-creating-an-account-you-agree-to-our-terms-and-conditions-and-data-protection-guidelines-F8S-sub-2 {
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 2.0511898465;
  color: #3d3c3c;
  font-family: Inter, 'Source Sans Pro';
}
.account-created-page-obt .auto-group-vimx-76n .frame-3364-Dfc .by-creating-an-account-you-agree-to-our-terms-and-conditions-and-data-protection-guidelines-F8S .by-creating-an-account-you-agree-to-our-terms-and-conditions-and-data-protection-guidelines-F8S-sub-3 {
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 2.0511898465;
  color: #ffcc29;
  font-family: Inter, 'Source Sans Pro';
}
.account-created-page-obt .auto-group-vimx-76n .frame-3364-Dfc .by-creating-an-account-you-agree-to-our-terms-and-conditions-and-data-protection-guidelines-F8S .by-creating-an-account-you-agree-to-our-terms-and-conditions-and-data-protection-guidelines-F8S-sub-4 {
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 2.0511898465;
  color: #3d3c3c;
  font-family: Inter, 'Source Sans Pro';
}
.account-created-page-obt .auto-group-vimx-76n .button-hga {
  width: 40rem;
  height: 5rem;
  position: absolute;
  left: 0;
  top: 12.8rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.171875;
  color: #f0f9f1;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1rem 2rem rgba(15, 159, 38, 0.150000006);
  background-color: #60269e;
  border-radius: 5rem;
}
.account-created-page-obt .auto-group-u7sx-YSJ {
  width: 124.205rem;
  height: 163.35rem;
  position: relative;
  background-color: #60269e;
  flex-shrink: 0;
}
.account-created-page-obt .auto-group-u7sx-YSJ .group-6-5BL {
  width: 85.3049rem;
  height: 71.9356rem;
  position: absolute;
  left: 38.9rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.account-created-page-obt .auto-group-u7sx-YSJ .ellipse-23-D2e {
  width: 58.6rem;
  height: 58.6rem;
  position: absolute;
  left: 12.7rem;
  top: 58.95rem;
  box-sizing: border-box;
  background: linear-gradient(140.67deg, rgba(3, 207, 251, 0) 8.89%, #03cffb 57.48%);
  border-radius: 29.3rem;
}
.account-created-page-obt .auto-group-u7sx-YSJ .ellipse-24-J46 {
  width: 58.6rem;
  height: 58.6rem;
  position: absolute;
  left: 0.5rem;
  top: 0;
  border: solid 0.3rem #ffffff;
  box-sizing: border-box;
  background-color: #b977ff;
  border-radius: 29.3rem;
}
.account-created-page-obt .auto-group-u7sx-YSJ .rectangle-12-1UJ {
  width: 105.7rem;
  height: 111.7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #60269e;
}
.account-created-page-obt .auto-group-u7sx-YSJ .rectangle-13-Yz2 {
  width: 105.7rem;
  height: 111.7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #60269e;
}
.account-created-page-obt .auto-group-u7sx-YSJ .group-7-6Vk {
  width: 85.3049rem;
  height: 71.9356rem;
  position: absolute;
  left: 38.9rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.account-created-page-obt .auto-group-u7sx-YSJ .ellipse-25-3A6 {
  width: 58.6rem;
  height: 58.6rem;
  position: absolute;
  left: 12.7rem;
  top: 58.95rem;
  box-sizing: border-box;
  background: linear-gradient(140.67deg, rgba(3, 207, 251, 0) 8.89%, #03cffb 57.48%);
  border-radius: 29.3rem;
}
.account-created-page-obt .auto-group-u7sx-YSJ .ellipse-26-KNW {
  width: 58.6rem;
  height: 58.6rem;
  position: absolute;
  left: 0.5rem;
  top: 0;
  border: solid 0.3rem #ffffff;
  box-sizing: border-box;
  background-color: #b977ff;
  border-radius: 29.3rem;
}
.account-created-page-obt .auto-group-u7sx-YSJ .transfree-SCE {
  width: 24.2rem;
  height: 5.6rem;
  position: absolute;
  left: 10rem;
  top: 34.8rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2102272034;
  font-style: italic;
  color: #d7c2ec;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.account-created-page-obt .auto-group-u7sx-YSJ .layersfill-M4J {
  width: 6.3333rem;
  height: 7.2627rem;
  position: absolute;
  left: 3.9833rem;
  top: 33.8125rem;
  object-fit: contain;
  vertical-align: top;
}
