
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 169rem;
}.login-page-RJn {
  box-sizing: border-box;
  padding-left: 14.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f6eeff;
}
.login-page-RJn .input-MiE {
  margin: 0rem 23.6rem 2.3rem 0rem;
  width: 55rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .text-input-gVc {
  margin-bottom: 2.9rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .text-input-gVc .auto-group-vakk-2pN {
  margin-bottom: 6rem;
  width: 42rem;
  height: 7.7rem;
  position: relative;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .text-input-gVc .auto-group-vakk-2pN .frame-3364-aL6 {
  width: 42rem;
  height: 7.4rem;
  position: absolute;
  left: 0;
  top: 0;
}
.login-page-RJn .input-MiE .text-input-gVc .auto-group-vakk-2pN .frame-3364-aL6 .welcome-to-paybuymax-XFL {
  width: 37.5rem;
  height: 3.9rem;
  position: absolute;
  left: 0;
  top: 1rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2102272511;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.login-page-RJn .input-MiE .text-input-gVc .auto-group-vakk-2pN .frame-3364-aL6 .by-creating-an-account-you-agree-to-our-terms-and-conditions-and-data-protection-guidelines-RrW {
  width: 42rem;
  height: 7.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 2.0511898465;
  color: #3d3c3c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.login-page-RJn .input-MiE .text-input-gVc .auto-group-vakk-2pN .frame-3364-aL6 .by-creating-an-account-you-agree-to-our-terms-and-conditions-and-data-protection-guidelines-RrW .by-creating-an-account-you-agree-to-our-terms-and-conditions-and-data-protection-guidelines-RrW-sub-0 {
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 2.0511898465;
  color: #3d3c3c;
  font-family: Inter, 'Source Sans Pro';
}
.login-page-RJn .input-MiE .text-input-gVc .auto-group-vakk-2pN .frame-3364-aL6 .by-creating-an-account-you-agree-to-our-terms-and-conditions-and-data-protection-guidelines-RrW .by-creating-an-account-you-agree-to-our-terms-and-conditions-and-data-protection-guidelines-RrW-sub-1 {
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 2.0511898465;
  color: #ffcc29;
  font-family: Inter, 'Source Sans Pro';
}
.login-page-RJn .input-MiE .text-input-gVc .auto-group-vakk-2pN .frame-3364-aL6 .by-creating-an-account-you-agree-to-our-terms-and-conditions-and-data-protection-guidelines-RrW .by-creating-an-account-you-agree-to-our-terms-and-conditions-and-data-protection-guidelines-RrW-sub-2 {
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 2.0511898465;
  color: #3d3c3c;
  font-family: Inter, 'Source Sans Pro';
}
.login-page-RJn .input-MiE .text-input-gVc .auto-group-vakk-2pN .frame-3364-aL6 .by-creating-an-account-you-agree-to-our-terms-and-conditions-and-data-protection-guidelines-RrW .by-creating-an-account-you-agree-to-our-terms-and-conditions-and-data-protection-guidelines-RrW-sub-3 {
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 2.0511898465;
  color: #ffcc29;
  font-family: Inter, 'Source Sans Pro';
}
.login-page-RJn .input-MiE .text-input-gVc .auto-group-vakk-2pN .frame-3364-aL6 .by-creating-an-account-you-agree-to-our-terms-and-conditions-and-data-protection-guidelines-RrW .by-creating-an-account-you-agree-to-our-terms-and-conditions-and-data-protection-guidelines-RrW-sub-4 {
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 2.0511898465;
  color: #3d3c3c;
  font-family: Inter, 'Source Sans Pro';
}
.login-page-RJn .input-MiE .text-input-gVc .auto-group-vakk-2pN .sign-in-hzN {
  width: 10.7rem;
  height: 3.9rem;
  position: absolute;
  left: 0;
  top: 4.5rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2102272511;
  color: #d7c2ec;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.login-page-RJn .input-MiE .text-input-gVc .inputs-CAS {
  width: 100%;
  row-gap: 3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .text-input-gVc .inputs-CAS .group-3331-YEJ {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5rem;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .text-input-gVc .inputs-CAS .group-3331-YEJ .phone-number-hcz {
  margin-bottom: 0.6rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.171875;
  color: #150d0d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .text-input-gVc .inputs-CAS .group-3331-YEJ .group-3330-phc {
  box-sizing: border-box;
  padding: 1.75rem 3rem 1.35rem 3rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #676767;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem rgba(102, 102, 102, 0.6000000238);
  background-color: #ffffff;
  border-radius: 5rem;
  box-shadow: 0.2rem 1.1rem 3rem rgba(242, 68, 5, 0.0799999982);
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .text-input-gVc .inputs-CAS .group-3334-2Yn {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .text-input-gVc .inputs-CAS .group-3334-2Yn .username-yyp {
  margin-bottom: 0.6rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.171875;
  color: #150d0d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .text-input-gVc .inputs-CAS .group-3334-2Yn .group-3330-KXt {
  box-sizing: border-box;
  padding: 1.5rem 0.2rem 1.1rem 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem rgba(102, 102, 102, 0.6000000238);
  background-color: #ffffff;
  border-radius: 5rem;
  box-shadow: 0.2rem 1.1rem 3rem rgba(242, 68, 5, 0.0799999982);
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .text-input-gVc .inputs-CAS .group-3334-2Yn .group-3330-KXt .loginuname-eKG {
  margin-right: 40.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #676767;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .text-input-gVc .inputs-CAS .group-3334-2Yn .group-3330-KXt .vector-AoQ {
  margin: 0rem 0.4rem 0.4rem 0rem;
  width: 2.4rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .text-input-gVc .inputs-CAS .group-3334-2Yn .group-3330-KXt .phonelight-Ht2 {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .text-input-gVc .inputs-CAS .group-3333-Agv {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.password{
  margin-bottom: 0.6rem;
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.171875;
  color: #727171;
  width: 450px;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .text-input-gVc .inputs-CAS .group-3333-Agv .password-L5c {
  margin-bottom: 0.6rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.171875;
  color: #150d0d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .text-input-gVc .inputs-CAS .group-3333-Agv .group-3330-fdg {
  box-sizing: border-box;
  padding: 1.55rem 2.966rem 1.35rem 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem rgba(102, 102, 102, 0.6000000238);
  background-color: #ffffff;
  border-radius: 5rem;
  box-shadow: 0.2rem 1.1rem 3rem rgba(242, 68, 5, 0.0799999982);
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .text-input-gVc .inputs-CAS .group-3333-Agv .group-3330-fdg .loginpass-QLN {
  margin: 0.2rem 33.534rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #676767;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .text-input-gVc .inputs-CAS .group-3333-Agv .group-3330-fdg .vector-irr {
  margin-bottom: 0.2rem;
  width: 2.4rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .signin-other-BkS {
  margin: 0rem 4.7rem 0rem 10.3rem;
  width: calc(100% - 15rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .signin-other-BkS .signup-vCE {
  margin-bottom: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .signin-other-BkS .signup-vCE .frame-3376-UUe {
  margin-bottom: 5rem;
  width: 100%;
  row-gap: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .signin-other-BkS .signup-vCE .frame-3376-UUe .buttonsignin-QdC {
  width: 300px;
  height: 5rem;
  font-size: 1.8rem;
  font-weight: 700;
  border-color: #60269e;
  line-height: 1.171875;
  color: #f0f9f1;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1rem 2rem rgba(15, 159, 38, 0.150000006);
  background-color: #60269e;
  border-radius: 5rem;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .signin-other-BkS .signup-vCE .frame-3376-UUe .buttonquicktf-Ud4 {
  width: 300px;
  height: 5rem;
  font-size: 1.8rem;
  font-weight: 700;
  border-color: #d7c2ec;
  line-height: 1.171875;
  color: #60269e;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1rem 2rem rgba(15, 159, 38, 0.150000006);
  background-color: #d7c2ec;
  border-radius: 5rem;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .signin-other-BkS .signup-vCE .frame-3376-UUe .frame-3375-9z6 {
  margin: 0 8.55rem;
  width: calc(100% - 17.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .signin-other-BkS .signup-vCE .frame-3376-UUe .frame-3375-9z6 .dont-have-an-account-HKc {
  margin-right: 0.7rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #676767;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .signin-other-BkS .signup-vCE .frame-3376-UUe .frame-3375-9z6 .buttonsignup-wux {
  cursor: pointer;
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.171875;
  color: #60269e;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .signin-other-BkS .signup-vCE .frame-3365-4Un {
  display: flex;
  column-gap: 2.2rem;
  align-items: center;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .signin-other-BkS .signup-vCE .frame-3365-4Un .line-12-QYe {
  margin-top: 0.1rem;
  width: 10.3rem;
  height: 0.1rem;
  background-color: #676767;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .signin-other-BkS .signup-vCE .frame-3365-4Un .or-continue-with-Lx6 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #676767;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .signin-other-BkS .signup-vCE .frame-3365-4Un .line-13-UYW {
  margin-top: 0.1rem;
  width: 10.3rem;
  height: 0.1rem;
  background-color: #676767;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .signin-other-BkS .other-login-cei {
  width: 100%;
  height: 5rem;
  display: flex;
  column-gap: 2rem;
  align-items: center;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .signin-other-BkS .other-login-cei .google-ARL {
  box-sizing: border-box;
  padding: 1.25rem 4.775rem 1.25rem 4.775rem;
  height: 100%;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .signin-other-BkS .other-login-cei .google-ARL .group-3336-hgA {
  width: 2.45rem;
  height: 2.5rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.login-page-RJn .input-MiE .signin-other-BkS .other-login-cei .apple-oz6 {
  box-sizing: border-box;
  padding: 1.3rem 4.8rem;
  height: 100%;
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.150000006);
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .signin-other-BkS .other-login-cei .apple-oz6 .apple-1-N1c {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: cover;
  vertical-align: top;
}
.login-page-RJn .input-MiE .signin-other-BkS .other-login-cei .facebook-gHC {
  box-sizing: border-box;
  padding: 1.3rem 4.8rem;
  height: 100%;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.login-page-RJn .input-MiE .signin-other-BkS .other-login-cei .facebook-gHC .blog-social-icon-hover-facebook-icon-RVg {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.login-page-RJn .decor-ufk {
  width: 124.2049rem;
  height: 163.35rem;
  position: relative;
  background-color: #60269e;
  flex-shrink: 0;
}
.login-page-RJn .decor-ufk .group-4-e7Y {
  width: 85.3049rem;
  height: 71.9356rem;
  position: absolute;
  left: 38.9rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.login-page-RJn .decor-ufk .ellipse-19-aG6 {
  width: 58.6rem;
  height: 58.6rem;
  position: absolute;
  left: 12.7rem;
  top: 59.8rem;
  box-sizing: border-box;
  background: linear-gradient(140.67deg, rgba(3, 207, 251, 0) 8.89%, #03cffb 57.48%);
  border-radius: 29.3rem;
}
.login-page-RJn .decor-ufk .ellipse-20-U6a {
  width: 58.6rem;
  height: 58.6rem;
  position: absolute;
  left: 0.5rem;
  top: 0;
  border: solid 0.3rem #ffffff;
  box-sizing: border-box;
  background-color: #b977ff;
  border-radius: 29.3rem;
}
.login-page-RJn .decor-ufk .rectangle-9-nNA {
  width: 105.7rem;
  height: 111.7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #60269e;
}
.login-page-RJn .decor-ufk .rectangle-10-Kcz {
  width: 105.7rem;
  height: 111.7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #60269e;
}
.login-page-RJn .decor-ufk .group-5-Tz6 {
  width: 85.3049rem;
  height: 71.9356rem;
  position: absolute;
  left: 38.9rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.login-page-RJn .decor-ufk .ellipse-21-QPY {
  width: 58.6rem;
  height: 58.6rem;
  position: absolute;
  left: 12.7rem;
  top: 59.8rem;
  box-sizing: border-box;
  background: linear-gradient(140.67deg, rgba(3, 207, 251, 0) 8.89%, #03cffb 57.48%);
  border-radius: 29.3rem;
}
.login-page-RJn .decor-ufk .ellipse-22-Jzi {
  width: 58.6rem;
  height: 58.6rem;
  position: absolute;
  left: 0.5rem;
  top: 0;
  border: solid 0.3rem #ffffff;
  box-sizing: border-box;
  background-color: #b977ff;
  border-radius: 29.3rem;
}
.login-page-RJn .decor-ufk .transfree-2vi {
  width: 24.2rem;
  height: 5.6rem;
  position: absolute;
  left: 8.7rem;
  top: 34.8rem;
  text-align: center;
  font-size: 7rem;
  font-weight: 800;
  line-height: 1.2102272034;
  font-style: italic;
  color: #d7c2ec;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.login-page-RJn .decor-ufk .layersfill-vFQ {
  width: 6.3333rem;
  height: 7.2627rem;
  position: absolute;
  left: 6.6833rem;
  top: 33.8125rem;
  object-fit: contain;
  vertical-align: top;
}
