
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 82rem;
}.logo-9XU {
  box-sizing: border-box;
  padding: 0.163rem 0rem 0rem 0.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.1000000015);
}
.logo-9XU .layersfill-FKc {
  margin-right: 2.1rem;
  width: 18rem;
  height: 16.567rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logo-9XU .transfree-yFc {
  margin-top: 0.0375rem;
  text-align: center;
  font-size: 12.8rem;
  font-weight: 800;
  line-height: 1.2102272511;
  font-style: italic;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
