
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 169rem;
}.transfer-TFt {
  width: 100%;
  height: 80rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.transfer-TFt .group-3489-zFp {
  width: 243.7rem;
  height: 100.2rem;
  position: relative;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk {
  width: 100.2026rem;
  height: 25.1383rem;
  position: absolute;
  left: 20.1rem;
  top: 28.5rem;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .recent-transactions-QqL {
  margin-bottom: 3.3rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2102272034;
  color: #d7c3ec;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-sgxc-7Dx {
  margin: 0rem 6.983rem 0.951rem 6.1rem;
  width: calc(100% - 13.083rem);
  display: flex;
  align-items: flex-start;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-sgxc-7Dx .name-cwQ {
  margin: 0.1rem 33.182rem 0rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2102272511;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-sgxc-7Dx .date-K58 {
  margin-right: 19.8654rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2102272511;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-sgxc-7Dx .status-ESz {
  margin-right: 11.558rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2102272511;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-sgxc-7Dx .amount-ZVG {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2102272511;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-lkkg-hrN {
  margin: 0rem 0rem 0.525rem 7.241rem;
  display: flex;
  align-items: center;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-lkkg-hrN .dhaifan-satriaji-id-80972345-SJA {
  margin-right: 20.3629rem;
  max-width: 17.0962rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #d7c3ec;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-lkkg-hrN .dhaifan-satriaji-id-80972345-SJA .dhaifan-satriaji-id-80972345-SJA-sub-0 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5127840042;
  color: #d7c3ec;
  font-family: Inter, 'Source Sans Pro';
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-lkkg-hrN .dhaifan-satriaji-id-80972345-SJA .dhaifan-satriaji-id-80972345-SJA-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.0170453389;
  color: #d7c3ec;
  font-family: Inter, 'Source Sans Pro';
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-lkkg-hrN .mar-17-2022-faE {
  margin: 0rem 9.632rem 0.525rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #d7c3ec;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-lkkg-hrN .receive-BHg {
  margin: 0rem 8.307rem 0.525rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #2cd03c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-lkkg-hrN .rp-50000-gkE {
  margin-bottom: 0.5254rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #d7c3ec;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-ezuw-P8r {
  margin: 0rem 0rem 0.444rem 7.241rem;
  display: flex;
  align-items: center;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-ezuw-P8r .ramadhan-wahyu-id-25023897-VSn {
  margin-right: 17.1122rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #d7c3ec;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-ezuw-P8r .ramadhan-wahyu-id-25023897-VSn .ramadhan-wahyu-id-25023897-VSn-sub-0 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5127840042;
  color: #d7c3ec;
  font-family: Inter, 'Source Sans Pro';
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-ezuw-P8r .ramadhan-wahyu-id-25023897-VSn .ramadhan-wahyu-id-25023897-VSn-sub-1 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 2.200413097;
  color: #d7c3ec;
  font-family: Inter, 'Source Sans Pro';
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-ezuw-P8r .mar-15-2022-xDt {
  margin: 0rem 9.27rem 0.525rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #d7c3ec;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-ezuw-P8r .receive-rq4 {
  margin: 0rem 8.307rem 0.525rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #2cd03d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-ezuw-P8r .rp-100000-am4 {
  margin-bottom: 0.5254rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #d7c3ec;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-62st-Kie {
  margin: 0rem 0rem 0.559rem 7.2rem;
  display: flex;
  align-items: center;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-62st-Kie .alifia-ayu-masita-id-34508923-FsC {
  margin-right: 21.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #d7c3ec;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-62st-Kie .alifia-ayu-masita-id-34508923-FsC .alifia-ayu-masita-id-34508923-FsC-sub-0 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5127840042;
  color: #d7c3ec;
  font-family: Inter, 'Source Sans Pro';
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-62st-Kie .alifia-ayu-masita-id-34508923-FsC .alifia-ayu-masita-id-34508923-FsC-sub-1 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 2.200413097;
  color: #d7c3ec;
  font-family: Inter, 'Source Sans Pro';
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-62st-Kie .mar-13-2022-PM8 {
  margin: 0rem 9.271rem 0.485rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #d7c3ec;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-62st-Kie .payment-WRk {
  margin: 0rem 7.344rem 0.499rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #d91c1c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-62st-Kie .rp-120000-EMk {
  margin-bottom: 0.4854rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #d7c3ec;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-wwo4-yKL {
  margin: 0rem 0rem 0.525rem 7.241rem;
  display: flex;
  align-items: center;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-wwo4-yKL .ilham-fachlevi-id-90384634-W4N {
  margin-right: 21.2057rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #d7c3ec;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-wwo4-yKL .ilham-fachlevi-id-90384634-W4N .ilham-fachlevi-id-90384634-W4N-sub-0 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5127840042;
  color: #d7c3ec;
  font-family: Inter, 'Source Sans Pro';
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-wwo4-yKL .ilham-fachlevi-id-90384634-W4N .ilham-fachlevi-id-90384634-W4N-sub-1 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 2.200413097;
  color: #d7c3ec;
  font-family: Inter, 'Source Sans Pro';
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-wwo4-yKL .mar-10-2022-xqU {
  margin: 0rem 9.291rem 0.525rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #d7c3ec;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-wwo4-yKL .receive-gFg {
  margin: 0rem 8.287rem 0.525rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #2cd03d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-wwo4-yKL .rp-70000-Pvn {
  margin-bottom: 0.5254rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #d7c3ec;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-hnka-vfp {
  margin-left: 7.2408rem;
  display: flex;
  align-items: center;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-hnka-vfp .hedya-tiesyapana-id-62094756-GDt {
  margin-right: 16.3899rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #d7c3ec;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-hnka-vfp .hedya-tiesyapana-id-62094756-GDt .hedya-tiesyapana-id-62094756-GDt-sub-0 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5127840042;
  color: #d7c3ec;
  font-family: Inter, 'Source Sans Pro';
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-hnka-vfp .hedya-tiesyapana-id-62094756-GDt .hedya-tiesyapana-id-62094756-GDt-sub-1 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 2.200413097;
  color: #d7c3ec;
  font-family: Inter, 'Source Sans Pro';
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-hnka-vfp .mar-09-2022-DHY {
  margin: 0rem 8.91rem 0.525rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #d7c3ec;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-hnka-vfp .payment-8fQ {
  margin: 0rem 7.344rem 0.539rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #d91c1c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3479-6Zk .auto-group-hnka-vfp .rp-200000-TSn {
  margin-bottom: 0.5254rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #d7c3ec;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .overview-zBp {
  width: 14.8rem;
  height: 2.7rem;
  position: absolute;
  left: 126.7197rem;
  top: 31.8rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2102272034;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .group-3483-tHC {
  width: 41.9541rem;
  height: 21.4894rem;
  position: absolute;
  left: 125.7rem;
  top: 57.2rem;
  border-radius: 1rem;
}
.transfer-TFt .group-3489-zFp .group-3483-tHC .group-3483-1sc {
  box-sizing: border-box;
  padding: 1.3rem 0.6rem 1.218rem 0.6rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-17-ETY.png');
  border-radius: 1rem;
}
.transfer-TFt .group-3489-zFp .group-3483-tHC .group-3483-1sc .have-something-to-pay-jYi {
  margin-bottom: 0.9852rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2102272034;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3483-tHC .group-3483-1sc .use-your-qr-to-pay-with-transfree-45C {
  margin: 0rem 0rem 5.168rem 0.274rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2102272034;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3483-tHC .group-3483-1sc .group-3473-ZXk {
  margin-left: 1.7742rem;
  width: 19.2815rem;
  height: 4.9735rem;
  position: relative;
  border-radius: 1rem;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3483-tHC .group-3483-1sc .group-3473-ZXk .rectangle-18-hP4 {
  width: 19.2815rem;
  height: 4.9735rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
}
.transfer-TFt .group-3489-zFp .group-3483-tHC .group-3483-1sc .group-3473-ZXk .qr-code-ENz {
  width: 17.4rem;
  height: 2.6875rem;
  position: absolute;
  left: 0.7rem;
  top: 1.137rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2102272034;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .income-gkn {
  width: 12.1rem;
  height: 3.5rem;
  position: absolute;
  left: 131.6rem;
  top: 50.2rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2102272511;
  color: #5ab267;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .group-3486-Pv6 {
  box-sizing: border-box;
  padding: 0.7rem 1.2rem 5.904rem 1.2rem;
  width: 101.3rem;
  height: 21.5rem;
  position: absolute;
  left: 21.9rem;
  top: 57.2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-15-sdQ.png');
  border-radius: 1rem;
}
.transfer-TFt .group-3489-zFp .group-3486-Pv6 .upcoming-payments-hA6 {
  margin-bottom: 2.9rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2102272034;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .group-3486-Pv6 .group-3466-d3k {
  margin: 0rem 3.973rem 0rem 2.7rem;
  width: calc(100% - 6.6727rem);
  height: 9.6962rem;
  display: flex;
  align-items: center;
}
.transfer-TFt .group-3489-zFp .group-3486-Pv6 .group-3466-d3k .auto-group-uhmt-8mC {
  margin: 0.6rem 19.422rem 0rem 0rem;
  width: 19.5782rem;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3486-Pv6 .group-3466-d3k .auto-group-uhmt-8mC .name-sCz {
  margin-bottom: 1.2839rem;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2102272511;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .group-3486-Pv6 .group-3466-d3k .auto-group-uhmt-8mC .spotify-premiuim-id-80238345-QCv {
  margin: 0rem 0rem 1.604rem 1.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.transfer-TFt .group-3489-zFp .group-3486-Pv6 .group-3466-d3k .auto-group-uhmt-8mC .spotify-premiuim-id-80238345-QCv .spotify-premiuim-id-80238345-QCv-sub-0 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5127840042;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
}
.transfer-TFt .group-3489-zFp .group-3486-Pv6 .group-3466-d3k .auto-group-uhmt-8mC .spotify-premiuim-id-80238345-QCv .spotify-premiuim-id-80238345-QCv-sub-1 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 2.200413097;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
}
.transfer-TFt .group-3489-zFp .group-3486-Pv6 .group-3466-d3k .auto-group-uhmt-8mC .netflix-id-25397497-jPc {
  margin-left: 1.5rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.transfer-TFt .group-3489-zFp .group-3486-Pv6 .group-3466-d3k .auto-group-uhmt-8mC .netflix-id-25397497-jPc .netflix-id-25397497-jPc-sub-0 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5127840042;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
}
.transfer-TFt .group-3489-zFp .group-3486-Pv6 .group-3466-d3k .auto-group-uhmt-8mC .netflix-id-25397497-jPc .netflix-id-25397497-jPc-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5127840042;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
}
.transfer-TFt .group-3489-zFp .group-3486-Pv6 .group-3466-d3k .auto-group-uhmt-8mC .netflix-id-25397497-jPc .netflix-id-25397497-jPc-sub-2 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 2.200413097;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
}
.transfer-TFt .group-3489-zFp .group-3486-Pv6 .group-3466-d3k .auto-group-bnee-p3g {
  margin: 0.3rem 8.903rem 0.56rem 0rem;
  width: 15.2971rem;
  height: calc(100% - 0.8601rem);
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3486-Pv6 .group-3466-d3k .auto-group-bnee-p3g .date-LGv {
  margin-bottom: 1.5839rem;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2102272511;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .group-3486-Pv6 .group-3466-d3k .auto-group-bnee-p3g .mar-30-2022-Sar {
  margin-bottom: 2.9639rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .group-3486-Pv6 .group-3466-d3k .auto-group-bnee-p3g .mar-30-2022-AWr {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .group-3486-Pv6 .group-3466-d3k .auto-group-wuhg-hWn {
  margin: 0rem 6.91rem 0.96rem 0rem;
  width: 8.9896rem;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3486-Pv6 .group-3466-d3k .auto-group-wuhg-hWn .status-EWi {
  margin-bottom: 1.8839rem;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2102272511;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .group-3486-Pv6 .group-3466-d3k .auto-group-wuhg-hWn .pending-MbL {
  margin-bottom: 2.5639rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #d98d1c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .group-3486-Pv6 .group-3466-d3k .auto-group-wuhg-hWn .pending-HUz {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #d98d1c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .group-3486-Pv6 .group-3466-d3k .auto-group-hc7u-pzi {
  margin: 0.6rem 0rem 0.56rem 0rem;
  width: 13.1273rem;
  height: calc(100% - 1.1601rem);
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3486-Pv6 .group-3466-d3k .auto-group-hc7u-pzi .amount-kNa {
  margin-bottom: 1.6839rem;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2102272511;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .group-3486-Pv6 .group-3466-d3k .auto-group-hc7u-pzi .rp-59000-VLA {
  margin-bottom: 2.5639rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .group-3486-Pv6 .group-3466-d3k .auto-group-hc7u-pzi .rp-149000-2L6 {
  margin-left: 0.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .group-3480-vRU {
  width: 43.8483rem;
  height: 19.8888rem;
  position: absolute;
  left: 123.9rem;
  top: 8.6rem;
}
.transfer-TFt .group-3489-zFp .group-3480-vRU .rectangle-13-3FC {
  width: 42.0471rem;
  height: 19.8888rem;
  position: absolute;
  left: 1.8013rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
}
.transfer-TFt .group-3489-zFp .group-3480-vRU .dadang-korneto-Aqc {
  width: 22.13rem;
  height: 2.358rem;
  position: absolute;
  left: 16rem;
  top: 4.9rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2102272511;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .group-3480-vRU .item-0878923642194-g3G {
  width: 20.3559rem;
  height: 2.3266rem;
  position: absolute;
  left: 16rem;
  top: 12.6rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2102272034;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .group-3480-vRU .profile-mqQ {
  width: 15.491rem;
  height: 2.8705rem;
  position: absolute;
  left: 0;
  top: 0.6755rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2102272034;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .group-3480-vRU .group-3478-Hok {
  width: 9.3815rem;
  height: 8.7865rem;
  position: absolute;
  left: 5.4788rem;
  top: 5.1786rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 14.4rem;
}
.transfer-TFt .group-3489-zFp .group-3480-vRU .dangskygmailcom-DBc {
  width: 28.3785rem;
  height: 2.358rem;
  position: absolute;
  left: 13.4rem;
  top: 8.8rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .increase-iu4 {
  width: 10.2rem;
  height: 8.7rem;
  position: absolute;
  left: 132.6rem;
  top: 37.9rem;
  object-fit: cover;
  vertical-align: top;
}
.transfer-TFt .group-3489-zFp .group-3482-rVU {
  width: 60rem;
  height: 19.9rem;
  position: absolute;
  left: 63.2rem;
  top: 8.6rem;
}
.transfer-TFt .group-3489-zFp .group-3482-rVU .rectangle-12-BXk {
  width: 59.2rem;
  height: 19.9rem;
  position: absolute;
  left: 0.8rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
}
.transfer-TFt .group-3489-zFp .group-3482-rVU .product-Wa2 {
  width: 14.8603rem;
  height: 3.4501rem;
  position: absolute;
  left: 0;
  top: 0.4503rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2102272034;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .group-3482-rVU .top-up-Rwt {
  width: 8.3rem;
  height: 2.3rem;
  position: absolute;
  left: 4.4rem;
  top: 16.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .group-3482-rVU .phone-tokens-jxa {
  width: 18.3127rem;
  height: 2.3001rem;
  position: absolute;
  left: 14.8603rem;
  top: 16.0611rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .group-3482-rVU .split-bills-r1c {
  width: 9rem;
  height: 2.3rem;
  position: absolute;
  left: 34.9rem;
  top: 16.2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .group-3482-rVU .image-1-Yf8 {
  width: 9.5316rem;
  height: 8.7944rem;
  position: absolute;
  left: 3.3023rem;
  top: 5.1786rem;
  object-fit: cover;
  vertical-align: top;
}
.transfer-TFt .group-3489-zFp .group-3482-rVU .group-3484-5f4 {
  width: 9.1742rem;
  height: 8.7792rem;
  position: absolute;
  left: 19.4385rem;
  top: 5.1786rem;
}
.transfer-TFt .group-3489-zFp .group-3482-rVU .group-3484-5f4 .group-3476-pMk {
  width: 9.1742rem;
  height: 8.7792rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
  border-radius: 14.4rem;
}
.transfer-TFt .group-3489-zFp .group-3482-rVU .group-3484-5f4 .mask-group-M6n {
  width: 5.3646rem;
  height: 2.3808rem;
  position: absolute;
  left: 0.0778rem;
  top: 4.2408rem;
  object-fit: contain;
  vertical-align: top;
}
.transfer-TFt .group-3489-zFp .group-3482-rVU .group-3484-5f4 .mask-group-5Ya {
  width: 3.1876rem;
  height: 4.2408rem;
  position: absolute;
  left: 4.6649rem;
  top: 1.1904rem;
  object-fit: contain;
  vertical-align: top;
}
.transfer-TFt .group-3489-zFp .group-3482-rVU .group-3484-5f4 .line-14-pFG {
  width: 2.8767rem;
  height: 0.1rem;
  position: absolute;
  left: 3.1099rem;
  top: 2.3064rem;
  background-color: #60269e;
}
.transfer-TFt .group-3489-zFp .group-3482-rVU .group-3485-wKt {
  width: 8.9154rem;
  height: 8.795rem;
  position: absolute;
  left: 34.8242rem;
  top: 5.2536rem;
}
.transfer-TFt .group-3489-zFp .group-3482-rVU .group-3485-wKt .group-3477-gHU {
  width: 8.9154rem;
  height: 8.795rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
  border-radius: 14.4rem;
}
.transfer-TFt .group-3489-zFp .group-3482-rVU .group-3485-wKt .mask-group-cwp {
  width: 4.4577rem;
  height: 4.6211rem;
  position: absolute;
  left: 2.4178rem;
  top: 2.087rem;
  object-fit: contain;
  vertical-align: top;
}
.transfer-TFt .group-3489-zFp .rp-320000-Lsp {
  width: 15.5rem;
  height: 2.4rem;
  position: absolute;
  left: 149.2rem;
  top: 47.2rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2102272511;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .expenses-etW {
  width: 15.7rem;
  height: 3.4rem;
  position: absolute;
  left: 148.8rem;
  top: 50rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2102272511;
  color: #e63a57;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .group-3474-NJi {
  box-sizing: border-box;
  padding: 0.65rem 0.767rem 0.65rem 0.657rem;
  width: 15.0104rem;
  height: 3.9027rem;
  position: absolute;
  left: 151.038rem;
  top: 32.4464rem;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-23-fQS.png');
}
.transfer-TFt .group-3489-zFp .group-3474-NJi .calendar-1-G9C {
  margin-right: 0.8765rem;
  width: 2.6296rem;
  height: 2.6018rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3474-NJi .maret-2022-CYe {
  margin-top: 0.1084rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.2102272511;
  color: #d7c3ec;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .decrease-Jra {
  width: 10.4rem;
  height: 8.7rem;
  position: absolute;
  left: 151.4rem;
  top: 37.9rem;
  object-fit: cover;
  vertical-align: top;
}
.transfer-TFt .group-3489-zFp .mask-group-qrW {
  width: 3.1522rem;
  height: 3.0021rem;
  position: absolute;
  left: 1.426rem;
  top: 22.7664rem;
  object-fit: contain;
  vertical-align: top;
}
.transfer-TFt .group-3489-zFp .rectangle-9-NrS {
  width: 20.9rem;
  height: 93.6rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #d6c2eb;
}
.transfer-TFt .group-3489-zFp .rectangle-10-8Kp {
  width: 221.7rem;
  height: 14.1rem;
  position: absolute;
  left: 21.7rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
}
.transfer-TFt .group-3489-zFp .transfree-4UN {
  width: 10.4rem;
  height: 3.1rem;
  position: absolute;
  left: 5.2rem;
  top: 2.7rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2102272034;
  font-style: italic;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .group-3487-n9U {
  width: 15.5017rem;
  height: 2.4295rem;
  position: absolute;
  left: 1.7983rem;
  top: 9.5705rem;
  display: flex;
  align-items: flex-start;
}
.transfer-TFt .group-3489-zFp .group-3487-n9U .home-1-ujt {
  margin-right: 1.8835rem;
  width: 1.9182rem;
  height: 2.2017rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3487-n9U .dashboard-F34 {
  margin-top: 0.0295rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2102272034;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3488-BBc {
  width: 17.9611rem;
  height: 3.7842rem;
  position: absolute;
  left: 1.1389rem;
  top: 13.2859rem;
  display: flex;
  align-items: center;
}
.transfer-TFt .group-3489-zFp .group-3488-BBc .transaction-1-v9C {
  margin-right: 1.2424rem;
  width: 3.6635rem;
  height: 3.7842rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3488-BBc .transactions-f6n {
  margin-bottom: 0.0586rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2102272034;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3492-zPx {
  width: 13.3017rem;
  height: 2.5rem;
  position: absolute;
  left: 1.7983rem;
  top: 18.6rem;
  display: flex;
  align-items: flex-start;
}
.transfer-TFt .group-3489-zFp .group-3492-zPx .send-1-j6e {
  margin: 0.053rem 1.824rem 0rem 0rem;
  width: 1.9781rem;
  height: 2.2705rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3492-zPx .transfer-Fan {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2102272034;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .notification-ABx {
  width: 11.7461rem;
  height: 2.4769rem;
  position: absolute;
  left: 6rem;
  top: 23.1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2102272034;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .group-3491-FjC {
  width: 11.7111rem;
  height: 2.5rem;
  position: absolute;
  left: 2.0983rem;
  top: 27.6rem;
  display: flex;
  align-items: flex-end;
}
.transfer-TFt .group-3489-zFp .group-3491-FjC .logout-1-nDL {
  margin: 0rem 1.777rem 0.003rem 0rem;
  width: 1.9781rem;
  height: 2.2919rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .group-3491-FjC .log-out-6zi {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2102272034;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .layersfill-SYn {
  width: 3rem;
  height: 3.8845rem;
  position: absolute;
  left: 1.85rem;
  top: 1.65rem;
  object-fit: contain;
  vertical-align: top;
}
.transfer-TFt .group-3489-zFp .mask-group-Aza {
  width: 3.1522rem;
  height: 3.0021rem;
  position: absolute;
  left: 1.426rem;
  top: 22.7664rem;
  object-fit: contain;
  vertical-align: top;
}
.transfer-TFt .group-3489-zFp .rectangle-16-798 {
  width: 42rem;
  height: 24.4rem;
  position: absolute;
  left: 125.7rem;
  top: 31.1rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
}
.transfer-TFt .group-3489-zFp .dashboard-EjY {
  width: 20.6rem;
  height: 3.3rem;
  position: absolute;
  left: 23.4rem;
  top: 1.3rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1.2102272246;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .rp-350000-kC6 {
  width: 15.8rem;
  height: 2.6rem;
  position: absolute;
  left: 129.5rem;
  top: 47.1rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2102272511;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .group-3481-3wt {
  box-sizing: border-box;
  padding: 0.901rem 0rem 1.409rem 0rem;
  width: 40.5rem;
  height: 19.8888rem;
  position: absolute;
  left: 21.8rem;
  top: 8.4rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-11-gzz.png');
  border-radius: 1rem;
}
.transfer-TFt .group-3489-zFp .group-3481-3wt .balance-krJ {
  margin-bottom: 3.7994rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2102272034;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .group-3481-3wt .rp-12345678-hFk {
  margin-bottom: 3.9714rem;
  width: 100%;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1.2102272246;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .group-3481-3wt .wallet-id-87654321-DUz {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2102272034;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .rectangle-4207-jCS {
  width: 169rem;
  height: 80rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.8500000238);
}
.transfer-TFt .group-3489-zFp .tf-eKQ {
  width: 100.6rem;
  height: 59.6rem;
  position: absolute;
  left: 35.7rem;
  top: 15rem;
  border-radius: 12rem;
}
.transfer-TFt .group-3489-zFp .tf-eKQ .transfer-normal-P26 {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #f6eeff;
  border-radius: 12rem;
}
.transfer-TFt .group-3489-zFp .tf-eKQ .transfer-normal-P26 .group-6-gWz {
  width: 32.9092rem;
  height: 27.7516rem;
  position: absolute;
  left: -13.9rem;
  top: 20.9rem;
  object-fit: contain;
  vertical-align: top;
}
.transfer-TFt .group-3489-zFp .tf-eKQ .transfer-normal-P26 .rectangle-4204-Qxn {
  width: 43rem;
  height: 25.9rem;
  position: absolute;
  left: 16.3rem;
  top: 5.75rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 2.5rem;
}
.transfer-TFt .group-3489-zFp .tf-eKQ .transfer-normal-P26 .rectangle-4205-8dt {
  width: 43rem;
  height: 11.9rem;
  position: absolute;
  left: 16rem;
  top: 33rem;
  background-color: #d7c2ec;
  border-radius: 2.5rem;
}
.transfer-TFt .group-3489-zFp .tf-eKQ .transfer-normal-P26 .x-GVC {
  width: 4.7rem;
  height: 4.9rem;
  position: absolute;
  left: 89.4rem;
  top: 4rem;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 800;
  line-height: 1.2102272511;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .tf-eKQ .transfer-normal-P26 .buttonnexttransfer-nTY {
  width: 20.3rem;
  height: 5.1rem;
  position: absolute;
  left: 47.3rem;
  top: 51.1rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.171875;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(95.33deg, #b977ff -11.97%, #60269e 105%);
  border-radius: 5rem;
}
.transfer-TFt .group-3489-zFp .tf-eKQ .transfer-normal-P26 .buttonbacktransfer-S2J {
  width: 20.3rem;
  height: 5.1rem;
  position: absolute;
  left: 6.8rem;
  top: 51.1rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.171875;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(95.33deg, #60269e -11.97%, #d7c3ec 105%);
  border-radius: 5rem;
}
.transfer-TFt .group-3489-zFp .tf-eKQ .transfer-normal-P26 .button-W2A {
  width: 25.4rem;
  height: 4.2rem;
  position: absolute;
  left: 25.1rem;
  top: 18.9rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.171875;
  color: #f0f9f1;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1rem 2rem rgba(15, 159, 38, 0.150000006);
  background-color: #60269e;
  border-radius: 5rem;
}
.transfer-TFt .group-3489-zFp .tf-eKQ .transfer-normal-P26 .receiver-mTt {
  width: 6.3rem;
  height: 1.9rem;
  position: absolute;
  left: 25.8rem;
  top: 9.8rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.171875;
  color: #60269e;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .tf-eKQ .transfer-normal-P26 .bank-bca-t2i {
  width: 7.1rem;
  height: 1.9rem;
  position: absolute;
  left: 36.7rem;
  top: 12.1rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.171875;
  color: #60269e;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .tf-eKQ .transfer-normal-P26 .an-mr-receiver-PkA {
  width: 12.6rem;
  height: 1.9rem;
  position: absolute;
  left: 36.7rem;
  top: 13.9rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.171875;
  color: #60269e;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .tf-eKQ .transfer-normal-P26 .no-rek--6uU {
  width: 8.8rem;
  height: 1.9rem;
  position: absolute;
  left: 25.7rem;
  top: 16.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.171875;
  color: rgba(96, 38, 158, 0.5);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .tf-eKQ .transfer-normal-P26 .button-p4n {
  width: 25.4rem;
  height: 4.2rem;
  position: absolute;
  left: 25.1rem;
  top: 26.1rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.171875;
  color: #f0f9f1;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1rem 2rem rgba(15, 159, 38, 0.150000006);
  background-color: #60269e;
  border-radius: 5rem;
}
.transfer-TFt .group-3489-zFp .tf-eKQ .transfer-normal-P26 .notes--tKY {
  width: 8.8rem;
  height: 1.9rem;
  position: absolute;
  left: 25.7rem;
  top: 23.7rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.171875;
  color: rgba(96, 38, 158, 0.5);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .tf-eKQ .transfer-normal-P26 .rectangle-10-QHt {
  width: 88.7rem;
  height: 111.7rem;
  position: absolute;
  left: 68.9rem;
  top: -15rem;
  background-color: #60269e;
}
.transfer-TFt .group-3489-zFp .tf-eKQ .transfer-normal-P26 .rectangle-10-8jg {
  width: 33.3rem;
  height: 43.1rem;
  position: absolute;
  left: 68.9rem;
  top: 8.8rem;
  background-color: #60269e;
}
.transfer-TFt .group-3489-zFp .tf-eKQ .transfer-normal-P26 .group-5-fzW {
  width: 32.9092rem;
  height: 27.7516rem;
  position: absolute;
  left: 77.7908rem;
  top: 14.7188rem;
  object-fit: contain;
  vertical-align: top;
}
.transfer-TFt .group-3489-zFp .tf-eKQ .transfer-normal-P26 .ellipse-22-CzS {
  width: 22.7rem;
  height: 22.7rem;
  position: absolute;
  left: 77.7rem;
  top: 44.1rem;
  box-sizing: border-box;
  background: linear-gradient(140.67deg, rgba(3, 207, 251, 0) 8.89%, #03cffb 57.48%);
  border-radius: 11.35rem;
}
.transfer-TFt .group-3489-zFp .tf-eKQ .transfer-normal-P26 .ellipse-23-6K8 {
  width: 30.1rem;
  height: 22.5rem;
  position: absolute;
  left: 61.6rem;
  top: -5.2rem;
  object-fit: contain;
  vertical-align: top;
}
.transfer-TFt .group-3489-zFp .tf-eKQ .transfer-normal-P26 .transfree-ERL {
  width: 17.6rem;
  height: 3.7rem;
  position: absolute;
  left: 72rem;
  top: 4.9rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1.2102272246;
  font-style: italic;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .tf-eKQ .transfer-normal-P26 .transfer-wae {
  width: 17.6rem;
  height: 3.7rem;
  position: absolute;
  left: 15.2rem;
  top: 6.5rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2102272511;
  color: #60269e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .tf-eKQ .transfer-normal-P26 .layersfill-uvn {
  width: 5.1333rem;
  height: 4.717rem;
  position: absolute;
  left: 64.9833rem;
  top: 4.3875rem;
  object-fit: contain;
  vertical-align: top;
}
.transfer-TFt .group-3489-zFp .tf-eKQ .transfer-normal-P26 .bankcentralasia-1-Svi {
  width: 8.9rem;
  height: 2.7rem;
  position: absolute;
  left: 25.8rem;
  top: 12.8rem;
  object-fit: cover;
  vertical-align: top;
}
.transfer-TFt .group-3489-zFp .tf-eKQ .transfer-normal-P26 .button-yfk {
  width: 25.4rem;
  height: 4.2rem;
  position: absolute;
  left: 24.8rem;
  top: 39.8rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.171875;
  color: #f0f9f1;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1rem 2rem rgba(15, 159, 38, 0.150000006);
  background-color: #60269e;
  border-radius: 5rem;
}
.transfer-TFt .group-3489-zFp .tf-eKQ .transfer-normal-P26 .sender-FNN {
  width: 5.1rem;
  height: 1.9rem;
  position: absolute;
  left: 25.5rem;
  top: 34rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.171875;
  color: #60269e;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .tf-eKQ .transfer-normal-P26 .name-m5p {
  width: 4.3rem;
  height: 1.9rem;
  position: absolute;
  left: 25.5rem;
  top: 36.9rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.171875;
  color: rgba(96, 38, 158, 0.5);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .tf-eKQ .transfer-normal-P26 .mask-group-suY {
  width: 3.7rem;
  height: 3.4rem;
  position: absolute;
  left: 51.1rem;
  top: 19.2rem;
  object-fit: contain;
  vertical-align: top;
}
.transfer-TFt .group-3489-zFp .step-A7x {
  width: 50.6rem;
  height: 5.4rem;
  position: absolute;
  left: 64.1rem;
  top: 4.9rem;
  display: flex;
  align-items: flex-start;
}
.transfer-TFt .group-3489-zFp .step-A7x .auto-group-ese6-grz {
  margin-right: 0.05rem;
  width: 5.3rem;
  height: 5.3rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2102272511;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #60269e;
  border-radius: 2.65rem;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .step-A7x .auto-group-3aqz-wH8 {
  width: 39.95rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.transfer-TFt .group-3489-zFp .step-A7x .auto-group-3aqz-wH8 .ellipse-128-UH4 {
  width: 5.3rem;
  height: 5.3rem;
  position: absolute;
  left: 9.05rem;
  top: 0.1rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d7c3ec;
  border-radius: 2.65rem;
}
.transfer-TFt .group-3489-zFp .step-A7x .auto-group-3aqz-wH8 .ellipse-129-mmx {
  width: 5.3rem;
  height: 5.3rem;
  position: absolute;
  left: 23.45rem;
  top: 0;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d7c3ec;
  border-radius: 2.65rem;
}
.transfer-TFt .group-3489-zFp .step-A7x .auto-group-3aqz-wH8 .vector-135-VT4 {
  width: 39.95rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 2.65rem;
  object-fit: contain;
  vertical-align: top;
}
.transfer-TFt .group-3489-zFp .step-A7x .auto-group-3aqz-wH8 .item-2-qWv {
  width: 1.6rem;
  height: 2.9rem;
  position: absolute;
  left: 10.85rem;
  top: 1.2rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2102272511;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .step-A7x .auto-group-3aqz-wH8 .item-3-MVG {
  width: 1.7rem;
  height: 2.9rem;
  position: absolute;
  left: 25.25rem;
  top: 1.2rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2102272511;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.transfer-TFt .group-3489-zFp .step-A7x .auto-group-h4wn-eUN {
  width: 5.3rem;
  height: 5.3rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2102272511;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d7c3ec;
  border-radius: 2.65rem;
  flex-shrink: 0;
}
